.avatarContentWrapper .textCol .heading{
    font-weight: bold;
    margin-bottom: 0;
}
.avatarContentWrapper .textCol .mail{
    color: #000;
}
.avatarContentWrapper .textCol .heading,
.avatarContentWrapper .textCol .mail{
    font-size: .9em;
    line-height: 1;
}
@media only screen and (min-width : 1200px) {
    .avatarContentWrapper .textCol .heading,
    .avatarContentWrapper .textCol .mail{
        font-size: 1.0em;
    }
}


.imageCol,
.artistAvatar{
    width: 100px;
    height: 100px;
    position: relative;
}
@media only screen and (min-width : 1200px) {
    .imageCol,
    .artistAvatar{
        width: 150px;
        height: 150px;
    }
}

.avatarContentWrapper{
    min-height: 100px;
    line-height: .9;
}
@media only screen and (min-width : 1200px) {
    .avatarInfoWrapper{
        min-height: 150px;
    }
}

.mainInfo{
    font-weight: lighter;
    line-height: 1.2;
    font-size: .9em;
    padding-top: .7em;
}
h3{
    font-size: 1.3rem;
    font-weight: bold;
}
.mainColumn{
    padding-left: .4em !important;
    padding-right: .4em !important;
    padding-top: .4em !important;
}
@media only screen and (min-width : 1200px) {
    .mainColumn{
        padding-left: .5em !important;
        padding-right: .5em !important;
        padding-top: .5em !important;
    }
}



.avatarContentWrapper .imageCol,
.avatarContentWrapper .textCol{
    /*display: inline-block;*/
    display: table-cell;
}
.avatarContentWrapper .textCol{
    padding-left: .5rem;
    vertical-align: top;

}
.avatarContentWrapper .textCol,
.avatarContentWrapper .flexWrap{
    min-height: 100px;
}
@media only screen and (min-width : 1200px) {
    .avatarContentWrapper .textCol,
    .avatarContentWrapper .flexWrap{
        min-height: 150px;
    }
}
.avatarContentWrapper .flexWrap{
    display: flex;
    flex-direction: column;
}
.avatarContentWrapper .textCol .spacer{
    flex: 1;
}
.avatarContentWrapper .textCol .geo{
    flex-shrink: 0;
    margin-top: auto;
    color: #939598;
    font-weight: 600;
    font-size: .9em;
    margin-bottom: 0;
}
@media only screen and (min-width : 1200px) {
    .avatarContentWrapper .textCol .geo{
        font-size: 1.0em;
    }
}
.bigImageColumn,
.row.no-gutters .bigImageColumn{
    padding-top: .5em;
    padding-left: 1em;
    padding-right: 1em;
}
@media only screen and (min-width : 1366px) {
    .bigImageColumn,
    .row.no-gutters .bigImageColumn{
        padding-left: 0em;
        padding-right: 2em;
    }
}
.bigImageColumn .wrapper{
    width: 100%;
    height: 100%;
    background-color: #e0dede;
    padding: 2em 4em  1em;
}
@media only screen and (min-width : 1366px) {
    .bigImageColumn .wrapper{
        padding: 4em 8em 2.5em;
    }
}
@media only screen and (max-width : 991px) {
    .bigImageColumn .wrapper{
        padding: 2em 2em 1em;
    }
}
@media only screen and (max-width : 768px) {
    .bigImageColumn .wrapper{
        padding: 1em 1em .25em;
    }
}
.bigImage{
    width: 100%;
}

.linkWrap{
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: 1em;
}
@media only screen and (min-width : 1366px) {
    .linkWrap{
        margin-top: 2.5em;
    }
}