<div class="row no-gutters"  *ngIf="artist">
    <div class=" col-md-5 col-lg-4 mainColumn">
        <div class="row no-gutters">

            <div
                    class="col-sm-12 text-left ">
                <div class="avatarContentWrapper">
                    <div class="imageCol">
                        <figure style="margin: 0;">
                            <picture >
                                <source media="(min-width: 769px)"
                                        srcset="{{apiUrl}}/img/{{artist.image|img:'md'}}" />
                                <source media="(max-width: 768px)"
                                        srcset="{{apiUrl}}/img/{{artist.image|img:'sm'}}" />

                                <img *ngIf="artist.image"
                                     class="artistAvatar"
                                     src="{{apiUrl}}/img/{{artist.image|img:'sm'}}">
                            </picture>
                        </figure>
                    </div>
                    <div class="textCol">
                        <div class="flexWrap">
                            <p class="heading">{{artist.name}}</p>

                            <div class="spacer"></div>

                            <p class="geo" >{{artist.city}}{{artist.city&&artist.country?',':null}} {{artist.country}}</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-12">
                <p class="mainInfo nl2br">{{artist?artist.main_info:null}}</p>
            </div>

        </div>

    </div>
    <div class=" col-md-7 col-lg-8 bigImageColumn">
        <div class="wrapper">
            <figure style="margin: 0;">
                <picture >
                    <source media="(min-width: 769px)"
                            srcset="{{apiUrl}}/img/{{artist.image|img:'lg'}}" />
                    <source media="(max-width: 768px)"
                            srcset="{{apiUrl}}/img/{{artist.image|img:'md'}}" />

                    <img *ngIf="artist.image"
                         class="bigImage"
                         src="{{apiUrl}}/img/{{artist.image|img:'md'}}">
                </picture>
            </figure>

            <div class="linkWrap">

                <app-file-download
                        [fileName]="artist.name"
                        [type]="'application/json'"
                        [isUlrReady]="true"
                        [url]="apiUrl+'/img/'+downloadImageName"

                        [buttonType]="'textLink'"
                ></app-file-download>
            </div>

        </div>

    </div>
</div>


