@use '~@angular/material' as mat;
@import '../../../node_modules/@angular/material/theming';
@include mat.core();

$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$dark-disabled-text: rgba(black, 0.38);
$dark-dividers: rgba(black, 0.12);
$dark-focused: rgba(black, 0.12);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);

//   https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=114e8b
//     red FF4C00
//     blue 0B5FA5
//   light grey back #F5F5F6
$mat-sw_red: (
        50: #FFEAE0,
        100: #FFC9B3,
        200: #FFA680,
        300: #FF824D,
        400: #FF6726,
        500: #FF4C00,
        600: #FF4500,
        700: #FF3C00,
        800: #FF3300,
        900: #FF2400,
        A100: #FFFFFF,
        A200: #FFF3F2,
        A400: #FFC5BF,
        A700: #FFADA6,
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $light-primary-text,
                600: $light-primary-text,
                700: $light-primary-text,
                800: $light-primary-text,
                900: $light-primary-text,
                A100: $dark-primary-text,
                A200: $light-primary-text,
                A400: $light-primary-text,
                A700: $light-primary-text,
        )
);
$mat-sw_blue: (
        50: #E2ECF4,
        100: #B6CFE4,
        200: #85AFD2,
        300: #548FC0,
        400: #3077B3,
        500: #0B5FA5,
        600: #0A579D,
        700: #084D93,
        800: #06438A,
        900: #033279,
        A100: #A7C4FF,
        A200: #74A2FF,
        A400: #417FFF,
        A700: #276EFF,
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $light-primary-text,
                600: $light-primary-text,
                700: $light-primary-text,
                800: $light-primary-text,
                900: $light-primary-text,
                A100: $dark-primary-text,
                A200: $light-primary-text,
                A400: $light-primary-text,
                A700: $light-primary-text,
        )
);
$mat-sw_grey: (
        50: #FDFDFD,
        100: #FBFBFB,
        200: #F9F9F9,
        300: #F6F6F6,
        400: #F4F4F4,
        500: #F2F2F2,
        600: #F0F0F0,
        700: #EEEEEE,
        800: #ECECEC,
        900: #E8E8E8,
        A100: #FFFFFF,
        A200: #FFFFFF,
        A400: #FFFFFF,
        A700: #FFFFFF,
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $dark-primary-text,
                600: $light-primary-text,
                700: $light-primary-text,
                800: $light-primary-text,
                900: $light-primary-text,
                A100: $dark-primary-text,
                A200: $light-primary-text,
                A400: $light-primary-text,
                A700: $light-primary-text,
        )
);
$mat-sw_green: (
        50: #E0F5ED,
        100: #B3E7D2,
        200: #80D7B4,
        300: #4DC695,
        400: #26BA7F,
        500: #00AE68,
        600: #00A760,
        700: #009D55,
        800: #00944B,
        900: #00843A,
        A100: #B1FFCD,
        A200: #7EFFAC,
        A400: #4BFF8B,
        A700: #31FF7A,
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $dark-primary-text,
                600: $light-primary-text,
                700: $light-primary-text,
                800: $light-primary-text,
                900: $light-primary-text,
                A100: $dark-primary-text,
                A200: $light-primary-text,
                A400: $light-primary-text,
                A700: $light-primary-text,
        )
);
$mat-sw_orange: (
        50: #FFF2E0,
        100: #FFDFB3,
        200: #FFCA80,
        300: #FFB44D,
        400: #FFA426,
        500: #FF9400,
        600: #FF8C00,
        700: #FF8100,
        800: #FF7700,
        900: #FF6500,
        A100: #FFFFFF ,
        A200: #FFF7F2,
        A400: #FFD4BF,
        A700: #FFC3A6,
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $light-primary-text,
                600: $light-primary-text,
                700: $light-primary-text,
                800: $light-primary-text,
                900: $light-primary-text,
                A100: $dark-primary-text,
                A200: $light-primary-text,
                A400: $light-primary-text,
                A700: $light-primary-text,
        )
);


$s-app-primary: mat.define-palette($mat-sw_blue,500);
$s-app-accent:  mat.define-palette($mat-sw_green, 500, 900, A100);
$s-app-warn:    mat.define-palette($mat-sw_red);
$s-app-input: mat.define-palette($mat-sw_blue,500);

$white: mat.define-palette($mat-sw_orange,A100);

$main-app-theme: mat.define-light-theme($s-app-primary, $s-app-accent, $s-app-warn);
$input-theme: mat.define-light-theme($s-app-input, $s-app-accent, $s-app-warn);

@include mat.core-theme($main-app-theme);
@include mat.all-component-themes($main-app-theme);

@include mat.form-field-theme($input-theme); // Form-Field theme
@include mat.input-theme($input-theme);      // Input Theme



//$checkbox-custom-app-theme: mat-light-theme($s-app-primary, $s-app-accent, $white);
//
//@include mat-checkbox-theme($checkbox-custom-app-theme);