@import 'variables';

html, body { height: 100%; }
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
@media only screen and (min-width : 1200px) {
    body {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width : 1366px) {
    body {
        font-size: 1.3rem;
    }
}
.h-100-plus-header{
    min-height: calc(100% - 55px);
}
.spacer {
    flex: 1 1 auto;
}
.no-gutters,
.container-fluid.no-gutters{
    padding-right: 0;
    padding-left: 0;
}
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

/* позиционирование*/
.mt10{
    margin-top: 10px;
}
.mt20{
    margin-top: 20px;
}
.mt30{
    margin-top: 30px;
}
.mt50{
    margin-top: 50px;
}
.mt100{
    margin-top: 100px;
}
.mb10{
    margin-bottom: 10px;
}
.mb20{
    margin-bottom: 20px;
}
.mb30{
    margin-bottom: 30px;
}
.mb50{
    margin-bottom: 50px;
}
.mb100{
    margin-bottom: 100px;
}
.pt10{
    padding-top: 10px;
}
.pt20{
    padding-top: 20px;
}
.pt30{
    padding-top: 30px;
}
.c_def{
    cursor: default;
}


@media only screen and (min-width : 768px) {
    .text-right_more768 {
        text-align: right;
    }
    .text-left_more768 {
        text-align: left;
    }
}

@media only screen and (max-width : 767px) {
    .text-center_less768 {
        text-align: center;
    }
}
.nl2br{
    white-space: pre-wrap;
}

.w100per_mff .mat-form-field,
.w100per_mff .mat-form-field-wrapper{
    width: 100%;
}
.w99per_mff .mat-form-field,
.w99per_mff .mat-form-field-wrapper{
    width: 99%;
}
.bordered {
    border: 1px solid #dddbdb;
}
.bordered.tableRow {
    border-bottom-color: transparent;
}
.bordered.tableRow:last-child {
    border-bottom-color: #dddbdb;
}
.box{
    padding: 10px;
}
.tableRow.heading {
    color: rgba(0,0,0,.4);
    font-size: .8em;
    text-align: center;
    font-weight: 400;
}
.pointer{
    cursor: pointer;
}
.horizontal-line{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 1px;
    width: 100%;
    background-color: #e5e5e5;
}
.color-primary{
    color: #0b5fa5;
}

.mat-menu-panel.notifyMatMenu {
    max-width: 400px;
}
@media only screen and (max-width : 420px) {
    .mat-menu-panel.notifyMatMenu {
        max-width: 100%;
    }
}

.badge-info {
    color: #fff;
    background-color: #85AFD2;
    font-weight:normal;
}
.badge {
    font-weight:normal;
    border-radius: 0;
}
.badge-secondary{
    background-color: #e5e5e5;
    color: #6c757d;
    text-shadow: #ffffff 1px 1px 0;
    border: 1px solid #cbcbcd;
    border-radius: 0;
}

h1  {
    font-size: 1.8em;
}

a {
    color: #0b5fa5;
}
a:hover {
    color: #548FC0;
}
.closeFormButton {
    position: absolute !important;
    z-index:1000;
    cursor: pointer;
    right: 10px;
    top:5px;
    color: rgba(0, 0, 0, 0.22);
}
.closeFormButton:hover {
    color: rgba(0, 0, 0, 0.42);
}

button:focus {
    outline: none;
}

.p0_mff .mat-form-field,
.p0_mff .mat-form-field-wrapper{
    padding: 0;
}
.p0_mff .mat-form-field-infix{
    padding: 0;
    position: relative;
    top: -.35rem;
}
a:hover{
    text-decoration: none;
}

.formbox.signup .mat-checkbox-inner-container .mat-checkbox-frame{
    background-color: white !important;
    border-radius: 0;
    border-color: transparent;
}

.matWhiteBack .mat-focused .mat-form-field-label {
    /*color: green !important;*/
}

.matWhiteBack .mat-form-field-underline {
    background-color: transparent !important;
}

.matWhiteBack .mat-form-field-ripple {
    background-color: transparent !important;;
}

.matWhiteBack  .mat-form-field-infix  {
    /*padding: 0 0 0.4375em;*/
    padding: 0;

}
.matWhiteBack  .mat-form-field-infix input,
.matWhiteBack.notGreyOnReadonly  .mat-form-field-infix input[readonly]{
    background-color: white;
    padding: 0.4375em;
}
.matWhiteBack  .mat-form-field-infix textarea {
    background-color: white;
    padding: 0.4375em;
}
.matWhiteBack.toGrey   .mat-checkbox-inner-container,
.matWhiteBack  .mat-form-field-infix textarea[readonly],
.matWhiteBack  .mat-form-field-infix input[readonly],
.matWhiteBack.notGreyOnReadonly.toGrey  .mat-form-field-infix input[readonly],
.matWhiteBack  .mat-form-field-infix .mat-select.mat-select-disabled{
    background-color: rgba(0,0,0,.1);
}
.matWhiteBack .mat-form-field-underline{
    background-image: none !important;
}



.matWhiteBack  .mat-form-field-infix .mat-select {
    background-color: white;
    padding: 0.4375em;
}
.matWhiteBack  .mat-form-field-label {
    left: 0.4375em;
}
.matWhiteBack .mat-form-field-wrapper {
    padding-bottom: 0;
}
/*.matWhiteBack .mat-form-field-appearance-legacy .mat-form-field-label {*/
/*    color: rgba(0, 0, 0, 0.54);*/

/*}*/
.matLabelTop01 .mat-form-field-label {
    top: 1.18125em;
}
.matWhiteBack  .mat-form-field-infix .mat-select-trigger .mat-select-arrow {
    color: rgba(0, 0, 0, 0.15) !important;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 14px solid;
    margin: 0 1px;

}
.matWhiteBack   .mat-checkbox-inner-container {
    background-color: #fff ;
    border: none;
    width: 2rem;
    height: 2rem;
    margin-top: -.2rem;
}
.matWhiteBack   .mat-checkbox-layout {
    top: 1rem;
    position: relative;
}
.matWhiteBack  .mat-checkbox-frame {
    border-width: 0;
    border-radius: 0;
}
.matWhiteBack .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background,
.matWhiteBack .mat-checkbox-checked.mat-primary .mat-checkbox-background {
    background-color: white;
}

.matWhiteBack .mat-checkbox-checkmark-path {
    stroke: grey !important;
}
.matWhiteBack .mat-form-field-suffix {
    position: absolute;
    right: 0;
    top: 1rem;
}
.matWhiteIcon .mat-icon {
    color: #ffffff !important;
}




.material-wavesurfer .ws .mat-progress-bar .mat-progress-bar-fill::after{
    background-color: #B6CFE4;
}
.mat-progress-bar-background{
    fill: transparent ;
}
.mat-progress-bar-buffer {
    background: transparent;
}
/*.mat-progress-bar wave{*/
/*    height: 100% !important;*/
/*}*/

/*.fz0_5em{*/
/*    font-size: .5em!important;*/
/*}*/
.buttonBlueCircle{
    color: #0B5FA5;
    border: 1px solid #0B5FA5;
    border-radius: 100px;
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    line-height: 0.8em;
    cursor: pointer;
    font-size: 1em;
    box-shadow:none;
    transition: box-shadow .4s;
    vertical-align: baseline;
    position: relative;
    top: .02em;
    margin-right: .1em;
}
/*@media only screen and (min-width : 1200px) {*/
/*    .buttonBlueCircle{*/
/*        font-size: 1.7rem;*/
/*    }*/
/*}*/

/*@media only screen and (min-width : 1366px) {*/
/*    .buttonBlueCircle{*/
/*        font-size: 1.8rem;*/
/*    }*/
/*}*/
.buttonBlueCircle:focus{
    outline: none;
    box-shadow: 0 0 3pt 2pt #e0dede;
    transition: box-shadow .4s;
}

.buttonBlueCircle .mat-icon{
    font-size: .65em;
    height: 1em;
    width: 1em;
    vertical-align: middle;
    line-height: .67em;
    margin-left: .072em;
}

.ico1em .mat-icon{
    font-size: 1em;
    height: 1em;
    width: 1em;
}
.wideLowButton, .narrowLowButton{
    font-weight: 300;
    font-size: 1.1rem;
    height: 1.6em;
    line-height: 1.6em !important;
}
.wideLowButton{
    width: 100%!important;
}
@media only screen and (max-width : 480px) {
    .wideLowButton{
        width: unset !important;
    }
}
@media only screen and (max-width : 991px) {
    .wideLowButton,
    .narrowLowButton{
        font-size: .9rem;
        height: 1.4em;
        line-height: 1.4em !important;
    }
}
/*@media only screen and (max-width : 1200px) {*/
/*    .wideLowButton,*/
/*    .narrowLowButton{*/
/*        font-size: 1.1rem;*/
/*    }*/
/*}*/
@media only screen and (max-width : 1365px) {
    .wideLowButton,
    .narrowLowButton{
        font-size: 1.0rem;
    }
}

.wideLowButton.btn-info,
.narrowLowButton.btn-info{
    background-color: #929599!important;
    border-color: #929599!important;
    padding: 0 .5em;
    white-space: nowrap;
}
.wideLowButton.btn-info:active,
.wideLowButton.btn-info:visited,
.wideLowButton.btn-info:focus,
.narrowLowButton.btn-info:active,
.narrowLowButton.btn-info:visited,
.narrowLowButton.btn-info:focus {
    background-color: #929599!important;
    border-color: #929599!important;
}

.mat-icon.eq{
    width: 1em;
    height: 1em;
    font-size: 1em;
    vertical-align: middle;
    position: relative;
    top: -.1em;
}