<div class="box" *ngIf="view=='default'">

  <div class="row">
    <div class="col-sm-12">

      <span  *ngIf="!link || link==''"
             class="heading">{{song.name}} </span>

      <a  *ngIf="link && link!=''"
             routerLink="{{link}}"
             class="headLink">{{song.name}} </a>

      <sup *ngIf="!artistLink || artistLink==''"
           class="artistName">{{song.artist_name}}</sup>
      <sup *ngIf="artistLink && artistLink!=''"
           class="artistName"><a routerLink="{{artistLink}}">{{song.artist_name}}</a></sup>


    </div>
    <div class="col-sm-4">
      <span  *ngIf="song.music_style1 || song.music_style2 || song.music_style3"
             class="styles"
      >{{song.music_style1.name}}{{song.music_style2?', '+song.music_style2.name:null}}{{song.music_style3?', '+song.music_style3.name:null}}</span>
    </div>
    <div class="col-sm-4">
      <span class="languages">{{song.languages? (locale=='ru'?'вокал ':'vocal ')+song.languages:null}}</span>
    </div>
    <div class="col-sm-4">
      <span class="adult">{{song.adult_text? (locale=='ru'?'откровенный текст':'adult text'):null}}</span>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="horizontalLine"></div>
      <div class="row no-gutters">
        <div class="imageFixedWidthBox">
          <a  *ngIf="link && link!=''"
              routerLink="{{link}}">
            <img *ngIf="song.image"
                 class="songArtwork"
                 alt="image {{song.artist_name+' '+song.name}}"
                 title="{{song.artist_name+' '+song.name}}"
                 src="{{apiUrl}}img/{{song.image|img:'sm'}}{{alwaysUpdateImage?'?'+timeStamp:null}}">
          </a>
          <ng-container  *ngIf="!link || link==''">
            <img *ngIf="song.image"
                 class="songArtwork"
                 alt="image {{song.artist_name+' '+song.name}}"
                 title="{{song.artist_name+' '+song.name}}"
                 src="{{apiUrl}}img/{{song.image|img:'sm'}}{{alwaysUpdateImage?'?'+timeStamp:null}}">
          </ng-container>

        </div>
        <div class="col">
          <mat-toolbar
                  class="material-wavesurfer matWhiteIcon"
                  [ngClass]="{'playing':playing}">

            <div class="playButtonBox">
              <button mat-icon-button
                      class="playButton"
                      (click)="playPause()">
                <mat-icon >{{playing ?'pause':'play_arrow'}}</mat-icon>
              </button>
            </div>

            <div class="ws" >
              <mat-progress-bar
                      mode="determinate" [value]="progress"></mat-progress-bar>
              <div #wavesurfer></div>
            </div>

          </mat-toolbar>
        </div>
      </div>
    </div>

  </div>
</div>


<div  *ngIf="view=='player-only'">
      <div class="row no-gutters">
        <div class="col">
          <mat-toolbar
                  class="material-wavesurfer matWhiteIcon"
                  [ngClass]="{'playing':playing}">

            <div class="playButtonBox">
              <button mat-icon-button
                      class="playButton"
                      (click)="playPause()">
                <mat-icon >{{playing ?'pause':'play_arrow'}}</mat-icon>
              </button>
            </div>

            <div class="ws" >
              <mat-progress-bar
                      mode="determinate" [value]="progress"></mat-progress-bar>
              <div #wavesurfer></div>
            </div>

          </mat-toolbar>
        </div>
      </div>


</div>