
.box{
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    background-color: #fff;
    font-size: 1em;
}
@media only screen and (min-width : 1366px) {
    .box{
        font-size: 1.2em;
    }
}
.material-wavesurfer {
    padding-right: 0;
    padding-left: 0;
    height: 66px;
    border-radius: 2px;
    border: 1px solid #d8d8d8;
}

.mat-icon {
    color: #0b5fa5;
}
.material-wavesurfer.playing .mat-icon {
 color: #0b5fa5;
}

.material-wavesurfer .ws {
    height: 100%;
    flex: 1;
    position:relative;
}
.material-wavesurfer .ws .mat-progress-bar {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.songArtwork {
    max-width: 100%;
}
.heading, .headLink {
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1;
}
.headLink{
    text-decoration: none;
    color: #000000;
    transition: color .4s;
}
a.headLink:hover{
    color: rgba(0,0,0,.67);
    transition: color .4s;
}
.artistName{
    font-weight: bold;
    font-size: .85em;
    line-height: 1;
}
.artistName a{
    color: rgba(0, 0, 0, 0.57);
    transition: color .4s;
}
.artistName a:hover{
    color: rgba(0,0,0,.47);
    transition: color .4s;
}


.styles{
    font-weight: normal;
    font-family: Montserrat,sans-serif;
    text-transform: lowercase;
    font-size: .8em;
    line-height: 1;
    display: inline-block;
}
@media only screen and (min-width : 1366px) {
    .styles{
        font-size: .9em;
    }
}
.languages{
    text-transform: lowercase;
}
.languages, .adult{
    font-size: .7em;
    line-height: 1;
    display: inline-block;
}
.h-1 {
    height: 3px;
}
.horizontalLine{
    height: 1px;
    width: 100%;
    background-color: rgba(0,0,0,.15);
    position: relative;
    margin-bottom: .3em;
}
.playButtonBox{
    padding: .3em;
}
.playButton{
    background-color: #FF4C00;
    color: white;
    height: 1.8rem;
    width: 1.8rem;
    line-height: 1.8rem;
    position: relative;
    top: -.1rem;
    transition: background-color .4s;
}
.playButton:hover{
    background-color: #FF6726;
    transition: background-color .4s;
}
.playButton.mat-icon-button .mat-icon {
    line-height: 22px;
    font-size: 1.2rem;
}
.adult{
    text-transform: uppercase;
    font-weight: bold;
}
.imageFixedWidthBox{
    flex: 0 0 100px;
    padding-right: .3em;
}