<div class="row no-gutters"  >
  <div class="col-sm-12 p-2">
    <h1><mat-icon>radio</mat-icon> <span i18n="@@aRadioView_h1Radio">Радио</span> 'All Tracks' -
      <span *ngIf="item">{{item.song_name}}
        <span matRipple
              class="buttonBlueCircle"
              matTooltip="Редактировать"
              routerLink="/artist-my-song-edit/{{item.song.name_hash}}"
        ><mat-icon aria-label="Редактировать">edit</mat-icon></span>
       <span matRipple
             class="buttonBlueCircle"
             matTooltip="К треку"
             routerLink="/artist-my-song-view/{{item.song.name_hash}}"
       ><mat-icon aria-label="К треку">visibility</mat-icon></span>
      </span> </h1>
    <ng-container *ngIf="item">



      <div class="box bordered tableRow" >
        <div class="row">
          <div class="col-sm-12">
            <span class="badge badge-secondary">{{item.status | status : 'song_in_radio_section'}}</span>
            <wavesurfer-player
                    [song]="item.song"
                    [alwaysUpdateImage]="true"
            ></wavesurfer-player>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 " >
            <app-message-form
                    [inQnt]="item.messages_qnt && item.messages_qnt.qnt ? item.messages_qnt.qnt:null"
                    [inQntNotSeen]="item.messages_qnt && item.messages_qnt.qnt ? item.messages_qnt.not_seen:null"
                    [subject_type]="messageSubjectTypeItemInRadioSection"
                    [subject_id]="item.id.toString()"
                    [userType]="userTypeArtistInRadioSection"
                    [dialogId]="item.dialog_id"
                    [buttonName]="locale=='ru'?'Сообщения':'Messages'"
            ></app-message-form>

          </div>

          <div class="col-sm-12" >
            <h3 class="mt-3">Статус "{{item.status | status : 'song_in_radio_section'}}"</h3>
            <p *ngIf="item.till_to"
               class="text-secondary"><span i18n="@@aPremiumView_endPayedPeriodDate">Дата завершения оплаченного периода</span> {{item.till_to*1000 | date: 'dd/MM/yyyy'}}</p>
            <div class="infoText">
              <p *ngIf="item.status == statusInit">
                <span i18n="@@aRadioView_trackUploadedAwaitingPayment">Трек успешно загружен и ожидает оплаты</span>. <br>
                <span i18n="@@aRadioView_useRequisites">Используйте следующие реквизиты</span>: <br>
                {{paymentInfo}}{{item.id}} <br>
                <span i18n="@@aRadioView_trackPrice">Сумма</span>: {{priceRadioAllTracks}} <span i18n="@@aRadioView_rub">руб</span>.
              </p>
              <p *ngIf="item.status == statusActive"
                 i18n="@@aRadioView_trackVisibleAndDownloadable">
                Трек отображается в общем списке треков и доступен для скачивания радиостанциям.
              </p>
            </div>
          </div>

        </div>
      </div>
    </ng-container>
  </div>
</div>