<div class="row no-gutters"  >
  <div class="col-sm-12 p-2">
    <h1  i18n="@@rPlaylistIndex_h1"><mat-icon>queue_music</mat-icon> Плейлисты</h1>

      <button mat-button
              color="primary"
              (click)="createPlaylist()"
              i18n="@@rPlaylistIndex_createPlaylist"
      ><mat-icon >add_circle_outline</mat-icon> Создать плейлист</button>



    <ng-container *ngIf="playlists">



      <div class="box bordered mb-1 mt-1"  *ngFor="let playlist of playlists; let i=index">
        <div class="row no-gutters pt-1 pb-1" >
          <div class="col-sm-8">
            <div class="p-2">
              <a class="heading" routerLink="/radio-playlist/{{playlist.id}}" >{{playlist.name}}</a>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="p-2">
              <span class="heading">{{playlist.items_qnt?playlist.items_qnt+(this.locale=='ru'?' тр.':' s.'):null}}</span>
            </div>
          </div>
          <div class="col-sm-2 color-primary">
            <div class="p-2 ">

              <button mat-icon-button
                      class="pointer"
                      routerLink="/radio-playlist/{{playlist.id}}"
                      matTooltip="Перейти"
              ><mat-icon aria-label="Перейти">forward</mat-icon></button>



            </div>

          </div>
        </div>
      </div>

    </ng-container>
  </div>
</div>