<div class="p-2">
  <h1>{{head}}</h1>

  <div class="greyBackground">
    <mat-icon
            class="closeFormButton"
            routerLink="/artist-radio-new"
    >close</mat-icon>
    <app-artist-my-song-form-grey
            [resetForm]="resetForm"
            [serviceType]="serviceType"
            [song]="song"
            [songOptions]="songOptions"
            [stylesOptions]="stylesOptions"
            [languagesOptions]="languagesOptions"
            [buttonName]="buttonName"
            [buttonIcon]="'done'"
            (onSubmit)="onSubmit($event)"
            (onUpdate)="onUpdate($event)"
    >
    </app-artist-my-song-form-grey>
  </div>


</div>

