<div class="row no-gutters"  >
  <div class="col-sm-12 p-2">
    <h1><mat-icon>radio</mat-icon> <span i18n="@@aRadioIndex_h1">Рассылка на радио</span>  </h1>

    <ng-container *ngIf="playlist">
      <div class="box bordered tableRow" *ngFor="let item of playlist.items; let i=index">
        <div class="row">
          <div class="col-sm-10">
            <span class="badge badge-secondary">{{item.status | status : 'song_in_radio_section'}}</span>
            <wavesurfer-player
                    [song]="item.song"
                    [link]="'/artist-radio/'+item.id"
            ></wavesurfer-player>

            <app-message-form
                    [inQnt]="item.messages_qnt && item.messages_qnt.qnt ? item.messages_qnt.qnt:null"
                    [inQntNotSeen]="item.messages_qnt && item.messages_qnt.qnt ? item.messages_qnt.not_seen:null"
                    [subject_type]="messageSubjectTypeItemInRadioSection"
                    [subject_id]="item.id.toString()"
                    [userType]="userTypeArtistInRadioSection"
                    [dialogId]="item.dialog_id"
                    [buttonName]="locale=='ru'?'Сообщения':'Messages'"
            ></app-message-form>

          </div>
          <div class="col-sm-2 color-primary actionColumn">


            <span mat-icon-button
                  class="pointer"
                  i18n-matTooltip="@@aHome_deleteTrackFromRadio"
                  matTooltip="Удалить из радио секции"
                  (click)="removeItem(item.id)"
            ><mat-icon i18n-aria-label="@@aHome_deleteTrackFromRadio"
                       aria-label="Удалить из радио секции">delete</mat-icon></span>
          </div>

        </div>
      </div>






    </ng-container>

  </div>
</div>