<div class="row no-gutters"  *ngIf="radio">
  <div class="col-sm-5 pl-2 pt-2">
    <app-radio-edit-personal-info-block
            [radio]="radio"
            (onUpdate)="getRadio(true)"
    ></app-radio-edit-personal-info-block>

  </div>

  <div class="col-sm-7 ">


    <app-radio-song-filter
            [isFiltered]="isFiltered"
            [languagesSetter]="filterLanguages"
            [musicStylesSetter]="filterMusicStyles"


            (resetFilterChange)="resetFilter()"
            (filterFormChange)="filterChange($event)"
    ></app-radio-song-filter>



  </div>

  <div class="col-sm-12">
    <h1 class="pl-2"><mat-icon>stars</mat-icon> Selected Tracks </h1>

    <ng-container *ngIf="items">

      <mat-menu #addToPlaylist="matMenu">
        <a mat-menu-item style="height: 0; position: absolute;"></a>
        <button mat-menu-item
                (click)="createPlaylist()"
                i18n="@@rAllTracks_CreatePlaylist"
        > Создать плейлист</button>
        <ng-template matMenuContent let-song_id="song_id">
          <button mat-menu-item *ngFor="let item of playlists"
                  (click)="addIoPlaylist(song_id,item.id)" >{{item.name}}</button>
        </ng-template>
      </mat-menu>

      <div class="row no-gutters pt-1 pb-1"  *ngFor="let item of items; let i=index">
        <div class="col-sm-10">
          <div class="p-2">
            <wavesurfer-player
                    [nowPlaying]="nowPlaying"
                    [startPlay]="item.playIter"
                    [song]="item.song"
                    [link]="'/radio-song-view/'+item.song.name_hash"
                    [artistLink]="'/radio-artist/'+item.song.artist_id"
                    (onStart)="nowPlaying=item.song.name_hash"
                    (onFinish)="onTrackPlayFinish(i)"
            ></wavesurfer-player>
          </div>
        </div>
        <div class="col-sm-2 color-primary">
          <div class="p-2">

            <button mat-icon-button
                    class="pointer"
                    [matMenuTriggerFor]="addToPlaylist"
                    [matMenuTriggerData]="{song_id: item.song.id}"
                    i18n-matTooltip="@@rAllTracks_addToPlaylist"
                    matTooltip="Добавить в плейлист"
            ><mat-icon aria-label="Добавить в плейлист"
                       i18n-aria-label="@@rAllTracks_addToPlaylist">add_circle_outline</mat-icon></button>


            <div class="pl-2 pt-2">
              <app-file-download
                      [type]="'application/json'"
                      [url]="item.song.path_to_file"
                      [fileName]="item.song.artist_name+'-'+item.song.name"
              ></app-file-download>
            </div>

            <!--              <button mat-icon-button-->
            <!--                      class="pointer"-->
            <!--                      matTooltip="Не показывать"-->
            <!--                      (click)="doNotShow(song.name_hash)"-->
            <!--              ><mat-icon aria-label="Не показывать">close</mat-icon></button>-->



          </div>

        </div>
      </div>

      <div *ngIf="totalItems && totalItems>pageSize">
        <mat-paginator [length]="totalItems"
                       [pageSize]="pageSize"
                       [pageSizeOptions]="[25, 50, 100]"
                       (page)="paginate($event)"
        >
        </mat-paginator>
      </div>
    </ng-container>

  </div>
</div>