<div class="row no-gutters">
  <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2  px-2 px-md-0">
    <div class="text-center mt-4 p-5">
      <h1 i18n="@@hello_h1welcome">Добро пожаловать на сайт Songwriters.pro</h1>


<!--      <p >-->
<!--        Наш сайт предназначен для начинающих и профессиональных музыкантов, лейблов,-->
<!--        музыкальных редакторов и студий по производству рекламы и видео.<br><br>-->
<!--        Участие в конкурсах бесплатное как для музыкальных редакторов, так и для музыкантов.<br>-->
<!--        Бесплатными являются и услуги для радиостанций.<br><br>-->
<!--        У нас бесплатная регистрация и мы не взымаем абонентскую плату.-->
<!--      </p>-->
<!--      <button-->
<!--              class="centerButton"-->
<!--              routerLinkActive="active"-->
<!--              routerLink="/signup" ><span class="fa fa-server"></span>Зарегистрироваться</button>-->

    </div>

      <div class="row no-gutters ">
          <div class="col-sm-6 col-lg-5 pr-sm-2 pr-lg-0 absoluteButtonColumn">
              <h2 class="redHead"
                  i18n="@@hello_h2youAreMusician">Вы музыкант или лейбл</h2>
              <p i18n="@@hello_musicianText">
                  Вы музыкант и хотите, чтобы ваша музыка звучала на радио?
              <br>
              <br>
                  С помощью нашего сервиса вашу музыку смогут услышать тысячи музыкальных редакторов он-лайн и эфирных радиостанций. И может быть именно с кого-то из них начнется следующий этап вашей карьеры.
              </p>

                <button
                        class="centerButton"
                        routerLinkActive="active"
                        routerLink="/signup/artist" ><span class="fa fa-server"></span><span i18n="@@hello_signInBtn">Зарегистрироваться</span></button>
          </div>
          <div class="d-none d-lg-block col-lg-2"></div>
          <div class="col-sm-6 col-lg-5 pl-sm-2 pl-lg-0 absoluteButtonColumn">
              <h2 class="redHead"
                  i18n="@@hello_h2youAreRadio">Вы радио</h2>
              <p i18n="@@hello_radioText">
                  Вы редактор музыкальной радиостанции и находитесь в постоянном поиске свежего материала? Подписавшись на наши рассылки, вы сможете получать отобранные треки. И, возможно, именно здесь вы найдете будущих звезд и первыми поставите их в плейлист. Подписка для радиостанций бесплатная.
              </p>
              <button
                      class="centerButton"
                      routerLinkActive="active"
                      routerLink="/signup/radio" ><span class="fa fa-server"></span><span i18n="@@hello_signInBtn">Зарегистрироваться</span></button>
          </div>
      </div>

      <div class="divider full"></div>
      <p i18n="@@hello_testMode">
          Внимание! Сайт работает в тестовом режиме.
      </p>
  </div>
</div>




<!--<div class="divider"></div>-->

<div class="row no-gutters">

    <div class="col-md-10 offset-md-1">
<!--        <div class="row no-gutters">-->
<!--            <div class="col-md-4 " >-->
<!--                <div class="badgeWrapper">-->
<!--                    <div class="mainBadge">-->
<!--                        <div class="back"></div>-->
<!--                        <h3>Ваши треки на радио <br> по всему миру</h3>-->
<!--                        <p>База из 5000 радиостанций. Каждый день их музыкальные директора прослушивают новые треки.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="col-md-4 " >-->
<!--                <div class="badgeWrapper">-->
<!--                    <div class="mainBadge">-->
<!--                        <div class="back"></div>-->
<!--                        <h3>Рецензии на ваше <br> творчество</h3>-->
<!--                        <p>Получите рецензии и советы от профессионалов индустрии. Сделайте ваше творчество еще лучше.</p>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->

<!--            <div class="col-md-4 " >-->
<!--                <div class="badgeWrapper">-->
<!--                    <div class="mainBadge">-->
<!--                        <div class="back"></div>-->
<!--                        <h3>Ваша музыка в <br>кино и рекламе</h3>-->
<!--                        <p>Участвуйте в наших бесплатных конкурсах и размещайте свою музыку на телевидении, в кино и рекламе.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

    </div>


</div>

