p{
    color: #605c5d;
    font-size: 1em;
    font-weight: 300;
}

h1{
    color: #605c5d;
    font-size: 1.2em;
    font-weight: 300;
}
.centerButton {
    background-color: #FF4C00;
    color: #FFFFFF;
    border-color: transparent;
    text-transform: lowercase;
    padding: .6em 1em;
    margin: 2em auto 8em;
    position: absolute;
    bottom: 0;
}
.absoluteButtonColumn{
    padding-bottom: 250px;
}

.divider{
    width: 70%;
    margin-left: 15%;
    height: .1em;
    background-color: rgba(0,0,0,.2);
    position: relative;
}
.divider.full{
    width: 100%;
    margin-left: 0;
}

.mainBadge{
    position: relative;
    padding: 1em 2.5em;
    text-align: center;
    height: 100%;
}
@media only screen and (min-width : 768px) and (max-width : 1199px) {
    .mainBadge{
        padding: 1em 0.5em;
    }
}
@media only screen and (min-width : 1200px) and (max-width : 1490px) {
    .mainBadge{
        padding: 1em 1em;
    }
}
.mainBadge .back{
    background-color: #e0dede;
    transform: skew(0, 6deg);
    border-radius: .5em;
    box-shadow: .15em .15em 2px #a3a3a3;
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
}

.mainBadge h3{
    margin: 2.1em auto 1em;
    font-size: 1.1em;
    color: #FF4C00;
    font-weight: 400;

}
.mainBadge p{
    font-size: .9em;
    font-weight: 500;
    line-height: 1.2;
    color: #000;
}
.badgeWrapper{
    padding: 3em 0.5em;
    height: 100%;
}

@media only screen and (max-width : 767px) {
    .badgeWrapper{
        padding: 3em 2em;
    }
}
@media only screen and (max-width : 480px) {
    .badgeWrapper{
        padding: 1em 1em;
    }
}
@media only screen and (min-width : 1200px) {
    .badgeWrapper{
        padding: 3em 1em;
    }
}
@media only screen and (min-width : 1400px) and (max-width : 1599px) {
    .mainBadge{
        padding: 1em 1.5em;
    }
}
@media only screen and (min-width : 1600px) {
    .badgeWrapper{
        padding: 3em 2.5em;
    }
}
.redHead{
    text-align: left;
    font-size: 1.3em;
    color: #FF4C00;
}
@media only screen and (min-width : 1200px) {
    .redHead{
        font-size: 1.4em;
    }
}
@media only screen and (min-width : 1600px) {
    .redHead{
        font-size: 1.5em;
    }
}