<div class="position-relative pl-3 pr-3 pb-2">
  <div class="text-center">
    <h2 mat-dialog-title *ngIf="data.head">{{data.head}} </h2>
    <div mat-dialog-content>
      <p *ngIf="data.message" [innerHTML]="data.message"></p>

      <div  *ngIf="data.textInputPlaceholder">
        <mat-form-field   >
          <input matInput
                 type="text"
                 placeholder="{{data.textInputPlaceholder}}"
                 [(ngModel)]="data.textInput"
          />
        </mat-form-field>

      </div>



    </div>
    <div mat-dialog-actions align="center">
      <button *ngIf="data.noBtnValue"
              mat-button
              [mat-dialog-close]="data.noBtnValue?data.noBtnValue:null"
      >{{data.noBtn}}</button>

      <button *ngIf="!data.noBtnValue && data.noBtn"
              mat-stroked-button
              class="mr-1"
              (click)="onNoClick()"
      >{{data.noBtn}}</button>


      <button mat-raised-button
              color="primary"
              *ngIf="data.yesBtn"
              [mat-dialog-close]="data.textInput?data.textInput:data.value"
              cdkFocusInitial
      >{{data.yesBtn}}</button>
    </div>
  </div>

  <button mat-icon-button class="closeForm" type="button"
          (click)="closeForm();"><mat-icon>clear</mat-icon></button>
</div>

