.requiredNote{
    font-weight: 300;
    margin-bottom: 0;
    font-size: .8em;
    width: 100%;
    position: relative;
}
.formBox{
    padding: 1em;
}
@media only screen and (min-width : 1200px) {
    .formBox{
        padding: 3em;
    }
}
.descriptionNote{
    font-size: .7em;
    position: relative;
    margin-top: 1.0em;
    margin-bottom: .5rem;
    line-height: 1.2;
}
.squareBoxWrap{
    padding-top: 0.6375em;
    padding-left: 1em;
    padding-bottom: 2.5em;
    position: relative;
}
.squareBox{
    border: 2px solid white;
    width: 100%;
    position: relative;
}
@media only screen and (min-width : 1200px) {
    .squareBox{
        border: 4px solid white;
    }
}
.squareBox:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}
.squareBoxContent{
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: .8em;
}
.squareBoxContent img{
    width: 100%;
    height: 100%;
}


.orderButton{
    min-width: 200px;
    font-weight: 300;
    font-size: 1.2em;
    height: 1.6em;
    line-height: 1.6em !important;
    margin-left: .125rem;
    margin-bottom: .125rem;
}

.deleteSongLink{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    font-weight: 500;
    /*float: right;*/
}
.plzLoadFileMsg{
    display: block;
    color: #FF4C00;
    text-transform: uppercase;
    font-weight: bold;
}
.submitWarnText{
    display: block;
}