<div class="formBox"  >
<!--  *ngIf="song"-->

  <div  class="row no-gutters">


    <div class="col-12">
      <span *ngIf="!songData || !songData.name_hash"
            class="plzLoadFileMsg">{{songLoading?
              (locale=='ru'?'Файл в процессе загрузки...':'The file is loading...'):
              (locale=='ru'?'Сначала загрузите трек':'First upload your track')}}</span>


<!--    если это не редактирование и есть загруженнце треки  -->
      <ng-container *ngIf="serviceType!='editSong' && songOptions && songOptions.length > 0">

<!--    выбрать трек с сайта    -->
          <a *ngIf="!showExistedSongOptions"
             class="pointer"
             i18n="@@aMySongForm_choseFromSite"
             (click)="showExistedSongOptions=true"
          ><strong >выбрать трек с сайта</strong> (если вы уже загружали данный трек на сайт)</a> <br>

        <div *ngIf="showExistedSongOptions"
             class="pb-3">

          <span class="text-secondary"
                i18n="@@aMySongForm_choseFromEarlyUploadedFiles">Выбор из ранее загруженных треков</span>

          <form [formGroup]="songOptionsForm">

            <div class="row no-gutters">
              <div class="col-sm-4 pr-1 w100per_mff matWhiteBack">
                <mat-form-field >
                  <mat-select
                          i18n-placeholder="@@aMySongForm_uploadedTracksSelectPlaceholder"
                          placeholder="Загруженные треки "
                          formControlName="song"
                          (selectionChange)="selectSong()"
                  >
                    <mat-option *ngFor="let option of songOptions " [value]="option">{{option.name}}</mat-option>
                  </mat-select>

                </mat-form-field>

              </div>
            </div>
          </form>
        </div>



      </ng-container>


      <app-loading-block *ngIf="songLoading"></app-loading-block>
<!-- выбрать трек из компьютера (загрузка файла)-->
      <app-song-upload
              [mode]="serviceType"
              [id]="songData?songData.id:null"
              [newSongFormData]="form.value"
              [buttonType]="'link'"
              [buttonColor]="'primary'"
              [noIcon]="true"
              [text]="locale=='ru'?'<strong>выбрать трек из компьютера</strong> (формат wav)':'<strong>select a track from your computer</strong> (.wav format)'"
              [accept]="'.mp3,.wav'"
              (complete)="onSongUploadComplete($event)"
              (loading)="songLoading=$event"
      ></app-song-upload>

      <p class="requiredNote">
        <span  i18n="@@aMySongForm_requiredNote">*обязательно к заполнению</span>

        <a *ngIf="songData && (
                    songData.premium_world_status != statusActive &&
                    songData.premium_ru_status != statusActive &&
                    songData.radio_status != statusActive )"
           class="deleteSongLink"
           i18n="@@aMySongForm_deleteTrackButton"
           (click)="deleteSong(songData.name_hash)"
        >Удалить трек</a>
      </p>




      <form
              [formGroup]="form">
        <div >

          <div class="row no-gutters">
            <div class="col-sm-12 w100per_mff matWhiteBack matLabelTop01">
              <mat-form-field >
                <input matInput
                       i18n-placeholder="@@aMySongForm_artistNamePlaceholder"
                       placeholder="артист*"
                       formControlName="artist_name"
                       (change)="update()"
                       [readonly]="songLoading"
                />
                <div *ngIf="f.artist_name.value &&  f.artist_name.errors" class="invalid_feedback">
                  <small class="text-danger"
                         i18n="@@required_field"
                         *ngIf="f.artist_name.errors.required">Обязательное поле</small>
                  <small class="text-danger"
                         i18n="@@lengthMoreThan255"
                         *ngIf="f.artist_name.errors.maxlength">Превышена максимальная длина в 255 символов</small>
                </div>
              </mat-form-field>
            </div>

            <div class="col-12 w100per_mff matWhiteBack matLabelTop01">
              <mat-form-field >
                <input matInput
                       i18n-placeholder="@@aMySongForm_trackNamePlaceholder"
                       placeholder="название трека*"
                       formControlName="name"
                       (change)="update()"
                       [readonly]="songLoading"
                />
                <div *ngIf="f.name.value &&  f.name.errors" class="invalid_feedback">
                  <small class="text-danger"
                         i18n="@@required_field"
                         *ngIf="f.name.errors.required">Обязательное поле</small>
                  <small class="text-danger" *ngIf="f.name.errors.maxlength">Превышена максимальная длина в 255 символов</small>

                </div>
              </mat-form-field>
            </div>

            <div class="col-sm-12  w100per_mff matWhiteBack matLabelTop01">
              <mat-form-field >
                <input matInput
                       i18n-placeholder="@@aMySongForm_rightHoldersPlaceholder"
                       placeholder="правообладатели через запятую*"
                       formControlName="rightholders"
                       (change)="update()"
                       [readonly]="songLoading"

                />
                <div *ngIf=" (f.rightholders.value || songData) && f.rightholders.errors" class="invalid_feedback">
                  <small class="text-danger"
                         i18n="@@required_field"
                         *ngIf="f.rightholders.errors.required">Обязательное поле</small>
                </div>
              </mat-form-field>
            </div>

          </div>


          <div class="row no-gutters">
<!-- стили -->
            <div class="col-sm-4 pr-1 w100per_mff matWhiteBack">
              <mat-form-field >
                <mat-select
                        i18n-placeholder="@@aMySongForm_mainStylePlaceholder"
                        placeholder="основной стиль*"
                        formControlName="music_style1_id"
                        [compareWith]="compareId"
                        [disabled]="songLoading"
                        (selectionChange)="update()"

                >
                  <mat-option *ngFor="let option of stylesOptions " [value]="option">{{option.name}}</mat-option>
                </mat-select>

                <div *ngIf="(f.music_style1_id.touched || songData) && f.music_style1_id.errors" class="invalid_feedback">
                  <small class="text-danger"
                         i18n="@@required_field"
                         *ngIf="f.music_style1_id.errors.required">Обязательное поле</small>
                </div>
              </mat-form-field>

            </div>

            <div class="col-sm-4 pr-1 w100per_mff matWhiteBack">
              <mat-form-field >
                <mat-select
                        i18n-placeholder="@@aMySongForm_otherStylePlaceholder"
                        placeholder="доп. стиль"
                        formControlName="music_style2_id"
                        [compareWith]="compareId"
                        [disabled]="songLoading"
                        (selectionChange)="update()"
                >
                  <mat-option *ngFor="let option of stylesOptions " [value]="option">{{option.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-sm-4  w100per_mff matWhiteBack">
              <mat-form-field >
                <mat-select
                        i18n-placeholder="@@aMySongForm_otherStylePlaceholder"
                        placeholder="доп. стиль"
                        formControlName="music_style3_id"
                        [disabled]="songLoading"
                        [compareWith]="compareId"
                        (selectionChange)="update()"
                >
                  <mat-option *ngFor="let option of stylesOptions " [value]="option">{{option.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-sm-4 matWhiteBack {{songLoading?'toGrey':null}}">
              <mat-checkbox
                      color="primary"
                      i18n="@@aMySongForm_vocalTrack"
                      formControlName="vocal"
                      [disabled]="songLoading"
                      (change)="update()"
              >вокальный трек</mat-checkbox>
            </div>
            <div class="col-sm-4 pr-1 w100per_mff matWhiteBack">
              <mat-form-field >
                <mat-select
                        i18n-placeholder="@@aMySongForm_languagePlaceholder"
                        placeholder="язык"
                        formControlName="language"
                        [compareWith]="compareId"
                        multiple
                        [disabled]="songLoading"
                        (selectionChange)="update()"
                >
                  <mat-option *ngFor="let option of languagesOptions " [value]="option">{{locale=='ru'? option.name_ru:option.name_eng}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          </div>
          <div class="row no-gutters">
            <div class="col-sm-4 pr-1  w100per_mff matWhiteBack">
              <mat-form-field >
                <input matInput
                       i18n-placeholder="@@aMySongForm_labelPlaceholder"
                       placeholder="лейбл"
                       formControlName="label"
                       [readonly]="songLoading"
                       (change)="update()"
                />
                <div *ngIf="f.label.value &&  f.label.errors" class="invalid_feedback">
                  <small class="text-danger"
                         i18n="@@required_field"
                         *ngIf="f.label.errors.required">Поле обязательно к заполнению</small>
                </div>
              </mat-form-field>
            </div>
            <div class="col-sm-4 pr-1 w100per_mff matWhiteBack">
              <mat-form-field >
                <input matInput
                       placeholder="ISRC"
                       formControlName="isrc"
                       [readonly]="songLoading"
                       (change)="update()"
                />

              </mat-form-field>
            </div>
            <div class="col-sm-4 w100per_mff matWhiteBack notGreyOnReadonly {{songLoading?'toGrey':null}} matLabelTop01">

              <mat-form-field>
                <input matInput
                       [matDatepicker]="release_date_picker"
                       i18n-placeholder="@@aMySongForm_releaseDatePlaceholder"
                       placeholder="дата выхода"
                       formControlName="release_date"
                       (click)="release_date_picker.open()"
                       readonly >
                <mat-datepicker-toggle
                        [disabled]="songLoading"
                        matSuffix [for]="release_date_picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #release_date_picker
                                [disabled]="songLoading"
                ></mat-datepicker>
              </mat-form-field>
            </div>

          </div>
          <div class="row no-gutters">



            <div class="col-sm-8 col-md-9">
              <div class="row no-gutters">
                <div class="col-12 w100per_mff matWhiteBack matLabelTop01">
                  <mat-form-field >
                    <!--                cdkTextareaAutosize -->
                    <textarea matInput
                              i18n-placeholder="@@aMySongForm_commentPlaceholder"
                              placeholder="комментарий (желательно на английском языке и языке вокала)"
                              formControlName="author_comment"
                              [readonly]="songLoading"
                              (change)="update()"
                    > </textarea>
                  </mat-form-field>
                </div>

                <div class="col-sm-6 matWhiteBack {{songLoading?'toGrey':null}} pr-3">
                  <mat-checkbox
                          color="primary"
                          i18n="@@aMySongForm_hideReview"
                          formControlName="hide_reviews"
                          [disabled]="songLoading"
                          (change)="update()"
                  >скрыть рецензии</mat-checkbox>
                  <p class="descriptionNote"
                     i18n="@@aMySongForm_hideReviewDescriptionNote"
                  >Если на данный трек есть рецензии и вы хотите их скрыть</p>
                </div>
                <div class="col-sm-6 matWhiteBack {{songLoading?'toGrey':null}} ">
                  <mat-checkbox
                          color="primary"
                          i18n="@@aMySongForm_adultText"
                          formControlName="adult_text"
                          [disabled]="songLoading"
                          (change)="update()"
                  >текст для взрослых</mat-checkbox>
                  <p class="descriptionNote"
                     i18n="@@aMySongForm_adultTextDescriptionNote"
                  >Необходимо отметить если в тексте говориться о насилии, сексе или текст содержит ненормативную лексику.</p>

                </div>

                <div class="col-sm-12 matWhiteBack {{songLoading?'toGrey':null}} ">
                  <mat-checkbox
                          color="primary"
                          formControlName="publication_agreed"
                          [disabled]="songLoading"
                          (change)="update()"
                  ></mat-checkbox>
                  <p class="descriptionNote"
                     i18n="@@aMySongForm_publishConfirmationNote"
                  >Я согласен с публикацией трека на страницах Songwriters.pro в социальных сетях и на сайте Youtube.</p>

                </div>
              </div>
            </div>
            <div class="col-sm-4 col-md-3">
              <div class="squareBoxWrap">
                <div class="squareBox">

                  <div class="squareBoxContent">


                    <img *ngIf="songData && songData.image"
                         class="songArtwork"
                         alt="изображение {{songData.artist_name+' '+songData.name}}"
                         src="{{apiUrl}}img/{{songData.image|img:'md'}}">

                    <div class="p-1 text-center">
                      <app-image-upload *ngIf="songData"
                                       [mode]="'songImage'"
                                       [buttonType]="'link'"
                                       [id]="songData.id"
                                       [text]="locale=='ru'?
                                            '<strong>Выбрать файл обложки</strong><br><sup>(формат .jpeg, .png, 750 x 750 px)</sup>':
                                            '<strong>Chose artwork image</strong><br><sup>(.jpeg, .png, 750 x 750 px)</sup>'"
                                       (complete)="onImageUploadComplete()"></app-image-upload>


                    </div>

                  </div>

                </div>
              </div>


            </div>


          </div>
        </div>
      </form>





      <wavesurfer-player *ngIf="songData"
                         [song]="songData"
      ></wavesurfer-player>


<!--      <div *ngIf="songData && songData.radio_status == statusUndone" class="pt-3 pb-3 text-secondary">-->
<!--        Незаконченное оформление в категорию Radio All Tracks-->
<!--      </div>-->
<!--      <div *ngIf="songData && songData.premium_ru_status == statusUndone" class="pt-3 pb-3 text-secondary">-->
<!--        Незаконченное оформление в категорию Radio Selected Tracks (СНГ)-->
<!--      </div>-->
<!--      <div *ngIf="songData && songData.premium_world_status == statusUndone" class="pt-3 pb-3  text-secondary">-->
<!--        Незаконченное оформление в категорию Radio Selected Tracks (World)-->
<!--      </div>-->




<!--      submit form -->
      <div class="pt-3 text-right">

        <button *ngIf="serviceType"
                mat-flat-button
                class="orderButton"
                color="warn"
                [disabled]="!form.valid || !songData"
                (click)="submitForm(serviceType)"
        >{{buttonName}}</button>

      <span *ngIf="(!form.valid || !songData)&&!songLoading"
            i18n="@@aMySongForm_pleaseFillAllRequiredFieldsNote"
            class="submitWarnText" >Заполните обязательные поля</span>

        <span *ngIf="songLoading"
              i18n="@@aMySongForm_fileUploadInProgress"
            class="submitWarnText">Файл в процессе загрузки...</span>







<!--          <button *ngIf="songData.radio_status == statusUndone"-->
<!--                  mat-flat-button-->
<!--                  class="orderButton "-->
<!--                  color="primary"-->
<!--                  [disabled]="!form.valid"-->
<!--                  (click)="submitForm(serviceRadioAllTracks)"-->
<!--          >Отправить в All Tracks </button>-->

<!--          <button *ngIf="songData.premium_ru_status == statusUndone"-->
<!--                  mat-flat-button-->
<!--                  class="orderButton "-->
<!--                  color="primary"-->
<!--                  [disabled]="!form.valid"-->
<!--                  (click)="submitForm(serviceRadioSelectedRu)"-->
<!--          >Отправить в Selected Russia </button>-->

<!--          <button *ngIf="songData.premium_world_status == statusUndone"-->
<!--                  mat-flat-button-->
<!--                  class="orderButton "-->
<!--                  color="primary"-->
<!--                  [disabled]="!form.valid"-->
<!--                  (click)="submitForm(serviceRadioSelectedWorld)"-->
<!--          >Отправить в Selected World </button>-->

      </div>


    </div>
  </div>
</div>