<div *ngIf="song" class="box">
  <h1>{{song.name}}
    <span matRipple
          class="buttonBlueCircle"
          matTooltip="Редактировать"
          routerLink="/artist-my-song-edit/{{song.name_hash}}"
    ><mat-icon aria-label="Редактировать">edit</mat-icon></span>
  </h1>



  <div>
    <wavesurfer-player [song]="song"></wavesurfer-player>
  </div>

  <div class="pt-3">
    <p class="property"><span
            i18n="@@common_song_nameLabel"
            class="label">Название</span> {{song.name}}</p>
    <p class="property"><span
            i18n="@@common_song_artistLabel"
            class="label">Артист</span> {{song.artist_name}}</p>
    <p class="property"><span
            i18n="@@common_song_rightholdersLabel"
            class="label">Правообладатели</span> {{song.rightholders}}</p>
    <p class="property"><span
            i18n="@@common_song_musicStyle1Label"
            class="label">Музыкальный стиль 1</span> {{song.music_style1?song.music_style1.name:null}}</p>
    <p class="property"
       *ngIf="song.music_style2"><span
            i18n="@@common_song_musicStyle2Label"
            class="label">Музыкальный стиль 2</span> {{song.music_style2?song.music_style2.name:null}}</p>
    <p class="property"
       *ngIf="song.music_style3"><span
            i18n="@@common_song_musicStyle3Label"
            class="label">Музыкальный стиль 3</span> {{song.music_style3?song.music_style3.name:null}}</p>
    <p class="property"
       *ngIf="song.vocal"><span
            i18n="@@common_song_isVocalTrackLabel"
            class="label">Вокальный трек</span> {{song.vocal?'Да':'Нет'}}</p>
    <p class="property"
       *ngIf="song.languages"><span
            i18n="@@common_song_languagesLabel"
            class="label">Языки</span> {{song.languages}}</p>
    <p class="property"
       *ngIf="song.label"><span
            i18n="@@common_song_labelLabel"
            class="label">Лейбл</span> {{song.label}}</p>
    <p class="property"
       *ngIf="song.isrc"><span
            class="label">ISRC</span> {{song.isrc}}</p>
    <p class="property"
       *ngIf="song.release_date"><span
            i18n="@@common_song_releaseDateLabel"
            class="label">Дата выпуска</span> {{song.release_date*1000 | date: 'dd/MM/yyyy'}} </p>
    <!--  <p class="property"><span class="label">comments</span> {{song.comments}}</p>-->
    <p class="property"
       *ngIf="song.hide_reviews"><span
            i18n="@@common_song_hideReviewsLabel"
            class="label">hide_reviews</span> {{song.hide_reviews?'Да':'Нет'}}</p>
    <p class="property"
       *ngIf="song.adult_text"><span
            i18n="@@common_song_adultTextLabel"
            class="label">Текст для взрослых</span> {{song.adult_text?'Да':'Нет'}}</p>
    <p class="property"
       *ngIf="song.author_comment" ><span
            i18n="@@common_song_authorCommentLabel"
            class="label">Комментарий автора</span> {{song.author_comment}}</p>

    <p class="property"
       *ngIf="song.background_image"><span class="label">background_image</span> {{song.background_image}}</p>
    <!--  <p class="property"><span class="label">status</span> {{song.status}}</p>-->
    <!--  <p class="property"><span class="label">view</span> {{song.view}}</p>-->
  </div>



  <div *ngIf="comments && comments.length>0"
  class="commentBlock">
    <h2 i18n="@@aMySongView_commentsHeader">Комментарии</h2>
    <app-common-comment-list
            [comments]="comments"
    ></app-common-comment-list>

  </div>





</div>


