p.property{
    margin-bottom: 0;
    font-size: .8em;
}
p.property .label{
    color: #B8B8B8;
}
.commentBlock{
    margin-top: 2em;
    margin-bottom: 2em;
}
h2{
    font-size: 1.5em;
    color: rgba(0,0,0,.5);
}