<div *ngIf="_radio" class="row no-gutters">

    <div class=" avatarContentWrapper" *ngIf="!showInfoForm">
        <div class="imageCol">

            <figure style="margin: 0;">
                <picture >
                    <source media="(min-width: 769px)"
                            srcset="{{apiUrl}}/img/{{_radio.image|img:'md'}}" />
                    <source media="(max-width: 768px)"
                            srcset="{{apiUrl}}/img/{{_radio.image|img:'sm'}}" />

                    <img *ngIf="_radio.image"
                         class="artistAvatar"
                         alt="Image {{_radio.name}}"
                         src="{{apiUrl}}/img/{{_radio.image|img:'sm'}}">
                </picture>
            </figure>
        </div>

        <div class="col-sm-8 textCol ">
            <span class="name">{{_radio.name}}</span>
            <span class="place">{{_radio.city}}{{_radio.city&&_radio.country?',':null}} {{_radio.country}}</span>
            <span class="nl2br info">{{_radio.main_info}}</span>
            <button *ngIf="!showEditButtons"
                    mat-button color="primary"
                    i18n-matTooltip="@@rEditPersonalInfoBlock_editData"
                    matTooltip="Редактировать данные"
                    (click)="showEditButtons=true"
            ><mat-icon>edit</mat-icon></button>
        </div>

    </div>

    <div class="col-12">

        <div *ngIf="showEditButtons" class="editButtonBox">
            <button mat-icon-button
                    class="closeFormButton"
                    (click)="showEditButtons=false"><mat-icon>close</mat-icon></button>
            <app-file-upload
                    [mode]="'radioAvatar'"
                    [text]="locale=='ru'?'Загрузить фото':'Upload image'"
                    (complete)="onAvatarUploadComplete($event)"></app-file-upload>

            <span class="imageButtonNote"
                  i18n="@@rEditPersonalInfoBlock_imageFormatsMessage"
            >(формат .jpeg, .png, не менее 1000 x 1000 px)</span>

            <button
                    mat-button color="primary"
                    (click)="constructInfoForm()"
                    i18n="@@rEditPersonalInfoBlock_changeInfo"
            ><mat-icon>edit</mat-icon> Изменить информацию</button>
        </div>

        <div  *ngIf="showInfoForm" class="infoFormBlock">

            <form [formGroup]="radioInfoForm">

                <button class="closeFormButton"
                        mat-icon-button type="button"
                        (click)="showInfoForm=false"
                ><mat-icon>clear</mat-icon></button>



                <div class="row no-gutters">
                    <div class="col-12 w100per_mff">
                        <mat-form-field >
                            <input matInput
                                   i18n-placeholder="@@rEditPersonalInfoBlock_radioName"
                                   placeholder="Псевдоним"
                                   formControlName="name"
                            />
                            <div *ngIf="rif.name.value &&  rif.name.errors" class="invalid_feedback">
                                <small class="text-danger"
                                       *ngIf="rif.name.errors.required"
                                       i18n="@@required_field">Поле обязательно к заполнению</small>
                            </div>
                        </mat-form-field>
                    </div>

                    <div class="col-12 w100per_mff">
                        <mat-form-field >
                            <input matInput
                                   i18n-placeholder="@@rEditPersonalInfoBlock_country"
                                   placeholder="Страна"
                                   formControlName="country"
                            />
                            <div *ngIf="rif.country.value &&  rif.country.errors" class="invalid_feedback">
                                <small class="text-danger"
                                       *ngIf="rif.country.errors.required"
                                       i18n="@@required_field">Поле обязательно к заполнению</small>
                                <small class="text-danger"
                                       *ngIf="rif.country.errors.minlength"
                                       i18n="@@minimal_length_simv">Минимальная длина {{rif.country.errors.minlength.requiredLength}} симв.</small>
                            </div>
                        </mat-form-field>
                    </div>

                    <div class="col-12 w100per_mff">
                        <mat-form-field >
                            <input matInput
                                   i18n-placeholder="@@rEditPersonalInfoBlock_city"
                                   placeholder="Город"
                                   formControlName="city"
                            />
                            <div *ngIf="rif.city.value &&  rif.city.errors" class="invalid_feedback">
                                <small class="text-danger"
                                       *ngIf="rif.city.errors.required"
                                       i18n="@@required_field">Поле обязательно к заполнению</small>
                            </div>
                        </mat-form-field>
                    </div>

                    <div class="col-12 w100per_mff">
                        <mat-form-field >
                                <textarea matInput
                                          i18n-placeholder="@@rEditPersonalInfoBlock_mainInfo"
                                          placeholder="Инфо"
                                          formControlName="main_info"
                                > </textarea>
                            <div *ngIf="rif.main_info.value &&  rif.main_info.errors" class="invalid_feedback">
                                <small class="text-danger"
                                       *ngIf="rif.main_info.errors.required"
                                       i18n="@@required_field">Поле обязательно к заполнению</small>
                            </div>
                        </mat-form-field>
                    </div>
                </div>




                <button
                        mat-button color="primary"
                        type="submit"
                        [disabled]="!radioInfoForm.valid"
                        (click)="saveInfo()"
                        i18n="@@rEditPersonalInfoBlock_save"
                ><mat-icon>save</mat-icon> Сохранить</button>

                <button
                        class="ml-1"
                        mat-button color="primary"
                        (click)="showInfoForm=false"
                        i18n="@@rEditPersonalInfoBlock_close"
                ><mat-icon>clear</mat-icon> Закрыть</button>

            </form>

        </div>


    </div>
</div>
