.name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9em;
}
.place{
    font-size: .9em;
    font-weight: normal;
    color: #939598;
}
.info{
    font-size: .7em;
    font-weight: normal;
}
.editButtonBox{
    width: 100%;
    margin-top: .25em;
    position: relative;
    padding: 2px;
    border-radius: 3px;
    border: 1px solid #e0e0e2;
    background-color: #f9f9fa;
}
.closeFormButton{
    position: absolute;
    right: 0;
    top: 0;
    color: lightgrey;
}
.avatarContentWrapper{
    display: flex;
}
.avatarContentWrapper .imageCol{
    flex: 0 0 90px;
}
@media only screen and (min-width : 992px) {
    .avatarContentWrapper .imageCol{
        flex: 0 0 100px;
    }
}
@media only screen and (min-width : 1200px) {
    .avatarContentWrapper .imageCol{
        flex: 0 0 150px;
    }
}
@media only screen and (min-width : 1366px) {
    .avatarContentWrapper .imageCol{
        flex: 0 0 200px;
    }
}
.avatarContentWrapper .imageCol figure,
.avatarContentWrapper .imageCol img {
    width: 100%;
}
.avatarContentWrapper .textCol {
    padding-left: .5em;
}
.avatarContentWrapper .textCol span {
    display: block;
}
.imageButtonNote{
    font-size: .5em;
    display: block;
    position: relative;
    top: -.8rem;
    left: 2.7rem;
}
.infoFormBlock{
    border: 1px solid rgba(0,0,0,.3);
    padding: .25rem;
}