.formbox {
    background-color: #e0dede;
    padding: 10px;
}
input[type='text'],
input[type='password']{
    width: 100%;
    margin-bottom: 10px;
}
input[type='checkbox']{
    margin-right: 5px;
}
p {
    line-height:1.2;
    font-size: 14px;
}
small {
    display: inline-block;
    line-height: 1.2;
    font-size: 10px;
}
.btn-danger.submit{
    padding: 0 2em;
}
.closeFormButton{
    color: rgba(0, 0, 0, 0.22);
}
.closeFormButton:hover{
    color: rgba(0, 0, 0, 0.42);
}