<div class="p-5">
  <div class="formbox container signup" id="12345">

    <mat-icon
            class="closeFormButton"
            routerLink="/hello"
    >close</mat-icon>

<!--    <div class="bordered p-4">-->
<!--      isUserArtist: {{isUserArtist}};<br>  this.f.isArtist.value: {{this.f.isArtist.value}} <br><br>-->
<!--      isUserMedia: {{isUserMedia}};<br>  this.f.isMedia.value: {{this.f.isMedia.value}} <br><br>-->
<!--      isUserRadio: {{isUserRadio}};<br>  this.f.isRadio.value: {{this.f.isRadio.value}} <br><br>-->
<!--    </div>-->


    <form [formGroup]="signupForm" (submit)="onSubmit($event)">
      <div class="row">

<!--    isUserArtist    -->
        <div class="col-sm-4">
          <mat-checkbox
                  i18n="@@signupForm_artistLabelCheckbox"
                  color="primary"
                  [checked]="isUserArtist"
                  (change)="onArtistCheckboxChanged($event)"
                  formControlName="isArtist"
          >артист/лейбл</mat-checkbox>

          <div
                  *ngIf="f.isArtist.value ? true : ''">
            <input
                   type="text"
                   i18n-placeholder="@@signupForm_artistNameOrLabel"
                   placeholder="артистическое имя или имя лейбла"
                   formControlName="artistName"
            >
          </div>

        </div>

<!--    isUserMedia    -->
        <div class="col-sm-4">

<!--          <mat-checkbox-->
<!--                  color="primary"-->
<!--                  [checked]="isUserMedia"-->
<!--                  (change)="onMediaCheckboxChanged($event)"-->
<!--                  formControlName="isMedia"-->
<!--          >музыкальный редактор</mat-checkbox>-->


<!--          <div-->
<!--                  *ngIf="f.isMedia.value ? true : ''">-->
<!--            <input-->
<!--                    type="text"-->
<!--                    placeholder="название организации"-->
<!--                    formControlName="mediaName"-->
<!--            >-->
<!--          </div>-->

        </div>



<!--    isUserRadio    -->
        <div class="col-sm-4">
          <mat-checkbox
                  i18n="@@signupForm_radioCheckbox"
                  color="primary"
                  [checked]="isUserRadio"
                  (change)="onRadioCheckboxChanged($event)"
                  formControlName="isRadio"
          >радиостанция</mat-checkbox>


          <div
                  *ngIf="f.isRadio.value ? true : ''">
            <small
                    i18n="@@signupForm_radioEmailNotification"
                    class="text-danger"
            > При регистрации аккаунта радиостанции email должен быть рабочим адресом радиостанции. Проверка займет какое-то время, благодарим за понимание.</small>
            <input
                    type="text"
                    i18n-placeholder="@@signupForm_radioNamePlaceholder"
                    placeholder="название радиостанции"
                    formControlName="radioName"
            >
          </div>
        </div>
      </div>


      <div class="row nameFields">
        <div class="col-sm-6 ">
          <input type="text"
                 formControlName="firstName"
                 i18n-placeholder="@@signupForm_firstNamePlaceholder"
                 placeholder="ваше имя"
          />
          <p *ngIf="f.isRadio.value">(не обязательно)</p>
        </div>
        <div class="col-sm-6 ">
          <input type="text"
                 formControlName="lastName"
                 i18n-placeholder="@@signupForm_lastNamePlaceholder"
                 placeholder="ваша фамилия"
          />
          <p *ngIf="f.isRadio.value">(не обязательно)</p>
        </div>
        <div class="col-sm-12 ">
          <input type="text"
                 id="email"
                 formControlName="email"
                 i18n-placeholder="@@signupForm_emailPlaceholder"
                 placeholder="электронная почта"
          />
          <p *ngIf="signupForm.controls.email.errors?.required &&
                    signupForm.controls.email.touched"
             class="text-danger"
             i18n="@@required_field"
          >Поле обязательно к заполнению</p>
        </div>

      </div>
      <div [formGroup]="passwordFormGroup"  class="row">
        <div class="col-sm-12">
          <input type="password"
                 id="password"
                 name="password"
                 i18n-placeholder="@@signupForm_passwordPlaceholder"
                 placeholder="пароль"
                 formControlName="password"/>
          <p *ngIf="passwordFormGroup.controls.password.errors?.required &&
                      passwordFormGroup.controls.password.touched"
             class="text-danger"
             i18n="@@required_field"
          >Поле обязательно к заполнению</p>

        </div>
        <div class="col-sm-12">

          <input
                  type="password"
                  name="repeatPassword"
                  formControlName="repeatPassword"
                  id="password_confirm"
                  i18n-placeholder="@@signupForm_repeatPasswordPlaceholder"
                  placeholder="Повторите пароль"
          />
          <p *ngIf="passwordFormGroup.controls.repeatPassword.errors?.required &&
                      passwordFormGroup.controls.repeatPassword.touched"
             class="text-danger"
             i18n="@@required_field"
          >Поле обязательно к заполнению</p>
          <p *ngIf="passwordFormGroup.errors?.doesMatchPassword"
             class="text-danger"
             i18n="@@signupForm_passwordNotMatchError"
          >Пароли не совпадают</p>
        </div>


      </div>
      <div class="row">
        <div class="col-sm-8">
          <p  i18n="@@signupForm_artistAndLabelCheckboxNotification"
          >Если вы одновременно являетесь артистом/лейблом и музыкальным редактором, вы можете отметить сразу два чек-бокса. Таким образом у вас создастся сразу две страницы.</p>
        </div>
        <div class="col-sm-4">
          <input type="text"
                 i18n-placeholder="@@signupForm_countryPlaceholder"
                 placeholder="страна"
                 formControlName="country"
          />
          <input type="text"
                 i18n-placeholder="@@signupForm_cityPlaceholder"
                 placeholder="город"
                 formControlName="city"
          />

          <mat-form-field >
            <mat-select
                    multiple
                    formControlName="musicStyles"
                    i18n-placeholder="@@signupForm_MusicStylesPlaceholder"
                    placeholder="Стили музыки">
              <mat-option *ngFor="let option of musicStyleOptions " [value]="option">{{option.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <!--<small> для выбора нескольких стилей музыки нажмите Shift</small>-->
<!--          <p>Внимание! Если вы представитель радиостанции, то должны указать рабочий адрес электронной почты. Подтверждение регистрации займет некоторое время.</p>-->
<!--          <p>Благодарим за терпение.</p>-->
        </div>
      </div>
     <div class="row mt-5">
       <div class="col-sm-12 text-right">
         <button [disabled]="loading || !signupForm.valid || !passwordFormGroup.valid"
                 class="btn btn-danger submit"
                 i18n="@@signupForm_submitButton"
                 type="submit">зарегистрироваться</button>
         <div class="col-sm-12">
           <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
         </div>


       </div>
     </div>

    </form>



  </div>
</div>
