.menuSide {
    background-color: #ffffff;
    padding-top: 20px;
}

.sideLink {
    width: 100%;
    text-align: left;
    background-color: #ffffff;
    color: #000000;
    line-height: 1.1em;
    font-size: 1em;
    border-color: transparent;
    padding: .4em .8em .4em 2em;
    cursor: pointer;
    position: relative;
}



.sideLink.active:before,
.sideLink:hover:before {
    content: '';
    position: absolute;
    bottom: -.01em;
    left: 2em;
    background-color: #FF4C00;
    width: 2.2em;
    height: .25em;
}
.mat-icon {
    width: 1em;
    height: 1em;
    font-size: 1em;
    vertical-align: middle;
    position: relative;
    /*top: -.09em;*/
}