<div class="menuSide">
  <button
          class="sideLink"
          routerLinkActive="active"
          routerLink="/hello" i18n="@@unAuthSidebar_myPage">моя страница</button>

  <button
          class="sideLink"
          routerLinkActive="active"
          routerLink="/radio-mailing" i18n="@@unAuthSidebar_mailing">рассылка на радио</button>


<!--  <button-->
<!--          class="sideLink"-->
<!--          routerLinkActive="active">рецензии</button>-->
<!--  <button-->
<!--          class="sideLink"-->
<!--          routerLinkActive="active">конкурсы</button>-->

<!--  <button-->
<!--          class="sideLink"-->
<!--          routerLinkActive="active">прочие услуги</button>-->
</div>