<span *ngIf="buttonType=='default'"
      mat-icon-button
      class="pointer"
      i18n-matTooltip="@@fileDownload_download"
      matTooltip="Скачать"
        (click)="downloadFile()"
><mat-icon aria-label="Скачать"
           i18n-aria-label="@@fileDownload_download">get_app</mat-icon></span>


<span *ngIf="buttonType=='textLink'"
      class="pointer"
      (click)="downloadFile()"
>{{buttonName}}</span>


<div *ngIf="buttonType=='wideLowButton'"
     class="text-right">
    <button
            mat-flat-button
            class="wideLowButton"
            color="{{buttonColor}}"
            (click)="downloadFile()"
    >{{buttonName}}</button>
</div>

