<div class="p-2" *ngIf="song" >
  <h1>{{head}} {{song?('"'+song.name+'"'):(locale=='ru'?'трека':'track')}}</h1>


    <div class="greyBackground">
      <mat-icon
              class="closeFormButton"
              (click)="goPreviousRoute()"
      >close</mat-icon>

      <app-artist-my-song-form-grey
                                    [serviceType]="'editSong'"
                                    [song]="song"
                                    [stylesOptions]="stylesOptions"
                                    [languagesOptions]="languagesOptions"
                                    [buttonName]="locale=='ru'?'Сохранить':'Save'"
                                    [buttonIcon]="'done'"
                                    (onSubmit)="onSubmit($event)"
                                    (onImageUpload)="onImageUploadComplete($event)"
      >
      </app-artist-my-song-form-grey>

    </div>


</div>
