.inputForm{
    padding-bottom: 2rem;
}
.textField{
    border: 1px solid rgba(0,0,0,.25);
}
.textField .mat-form-field {
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: 3rem;
}
.textField .mat-focused {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);
}
.textField .mat-form-field.ng-invalid {
    box-shadow: 0 0 2px 1px #FF582E;
}
textarea.mat-input-element {
    padding: 0;
    margin: 0;
}
.buttonWrap{
    margin-top: 1em;
    text-align: right;
    width: 100%;
}