<div class="boxWrap">
    <div class="inputForm">
        <form [formGroup]="form" (ngSubmit)="submitForm()" >
            <div class="textField w100per_mff p0_mff">
                <mat-form-field  appearance="none"
                                 class="message-input-form-field" >
                    <textarea matInput
                              placeholder="{{placeholder}}"
                              cdkTextareaAutosize
                              formControlName="text"></textarea>

                </mat-form-field>
            </div>
            <div class="buttonWrap">

                <button
                        class="narrowLowButton"
                        color="warn"
                        mat-flat-button
                        [disabled]="!form.valid"
                        type="submit"
                >{{buttonName}}</button>


            </div>
            <div *ngIf="f.text.value && f.text.errors" class="invalid_feedback">
                <small  *ngIf="f.text.errors.maxlength"
                        class="text-danger"
                        i18n="@@lengthMoreThanNeed"
                >Превышена максимальная длина</small>
            </div>
        </form>

    </div>
</div>

