<div class="row">
  <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
    <div  class="item-view container contentBox shadowed text-center">

      <h3 class=" head mt-3"
          i18n="@@passReset_header">Восстановление пароля</h3>
      <form [formGroup]="form" (submit)="onSubmit()">


        <div class="row text-center">
          <div class="col-sm-6 offset-sm-3">
            <mat-form-field  >
              <input matInput
                     type="text"
                     placeholder="Email"
                     aria-label="Email"
                     formControlName="email"/>

              <div *ngIf="f.email.touched && f.email.errors" class="invalid_feedback">
                <small *ngIf="f.email.errors.required"
                       class="text-danger"
                       i18n="@@required_field">Обязательное поле</small>

                <small *ngIf="f.email.errors.email"
                       class="text-danger"
                       i18n="@@passReset_invalidEmail">Некорректный email</small>
              </div>
            </mat-form-field>

          </div>

        </div>

        <div class="row nameFields no-gutters">
          <div class="col-sm-12 text-center">
            <button mat-raised-button
                    color="primary"
                    [disabled]="!form.valid"
                    i18n="@@passReset_resetBtn"
                    type="submit">Восстановить</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class=" mt-4">
  <div *ngIf="loading" class="app-loading">
    <svg class="spinner" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
  </div>

</div>