.dropdown {
    display:inline-block;
    /*padding:10px;*/
}

.glyphicon-bell {

    font-size:1.5rem;
}


.notifyDropWrapper{
    width: 400px;
}
@media only screen and (max-width : 520px) {
    .notifyDropWrapper {
        max-width: 100%;
    }
}


.menu-title {
    color:#525E69;
    font-size:0.9rem;
    display:inline-block;
}




.notification-heading, .notification-footer  {
    padding:2px 10px;
}


.dropdown-menu.divider {
    margin:5px 0;
}

.item-title {
    font-size:0.8rem;
    color:#525E69;
    margin-bottom: 0;
}

.notifications a.content {
    text-decoration:none;
    background:#f5f5f5;
}

.notification-item {
    padding:10px;
    margin:5px;
    background:#f5f5f5;
    border-radius:4px;
    position: relative;
}
.notification-item .closeIcon{
    position: absolute;
    right: 0px;
    top: 0px;
    color: #707A83;
}
.notificationsQnt{
    margin-left: -5px;
    border: 2px solid transparent;
    border-radius: 50px;
    color: #FF4C00;
    /*background-color: #F2F2F2;*/
}

#notificationsDropdown.dropdown-toggle::after {
    display: none !important;
}
.notification-heading .markAsSeenAll{
    cursor: pointer;
    font-size:0.8rem;
    color: #FF4C00;
    position: absolute;
    right: 0;
    top: 0;
}
.notification-heading .markAsSeenAll:hover{
    color: #084D93;
}

.call2ActionNoButton .notification-item{
    color: #212529;
}
.call2ActionNoButton{
    text-decoration: none !important;
}
/*a.call2ActionNoButton .notification-item:hover {*/
/*    text-decoration: none;*/
/*}*/
.bell svg{
    width: 1.9em;
    height: 1.9em;
}
#notificationDropdown{
    cursor: pointer;
}
@media only screen and (min-width : 1200px) {
    #notificationDropdown{
        font-size: 1.3em;
    }
}