<div class="wrapper">

<!--    mat-icon-button
          color="primary"  -->

  <span
          [matMenuTriggerFor]="notifyDropdown"
          id="notificationDropdown">

      <span class="bell">
      <svg version="1.1"
           xmlns="http://www.w3.org/2000/svg"
           xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
<style type="text/css">
	.notifyBellPath{fill:none;stroke:#FF4C00;stroke-miterlimit:10;stroke-width:2px;}
</style>
          <path  class="notifyBellPath" d="M28.5,36.6l-1.6-6.4c0,0,11-14.5,1.4-21.2c0.4-2,0.4-3.3-0.2-3.5c-0.6-0.3-1.6,0.5-2.8,2
	C13.6,3,8.5,21.1,8.5,21.1l-6,2.7L14,29.5c-0.8,2.9-1,4.9-0.3,5.3c0.7,0.4,2.2-1,4-3.5L28.5,36.6z"/>
      </svg></span>
    <sup
            *ngIf="notifications && notifications.length > 0"
            class="notificationsQnt"
    >{{notifications.length}}</sup>
  </span>








  <mat-menu #notifyDropdown="matMenu" class="notifyMatMenu">

        <div class="notifyDropWrapper">

            <div class="notification-heading">
                <p class="menu-title"
                   i18n="@@notificatonDropdown_header">Оповещения</p>
                <button mat-icon-button  *ngIf="notifications && notifications.length > 0"
                        type="button"
                        i18n-matTooltip="@@notificatonDropdown_setReadedButton"
                        matTooltip="Отметить прочитанными все"
                        [matTooltipPosition]="'before'"
                        class="markAsSeenAll "
                        (click)="markAsSeenAll()"><mat-icon>done_all</mat-icon></button>
            </div>
            <div class="divider"></div>
            <div  *ngIf="notifications && notifications.length > 0"
                  class="notifications-wrapper">

                <div class="content" *ngFor="let item of notifications; let i=index" >

                    <div *ngIf="!item.call2action_name || (item.call2action_name && item.call2action_name!=call2ActionNoButton)"
                            class="notification-item">
                        <button mat-icon-button type="button" class="closeIcon"
                                (click)="markAsSeen(item.id)"><mat-icon>clear</mat-icon></button>

                        <sup>{{item.created_at*1000 | date: 'dd/MM/yyyy H-mm'}}</sup>
                        <p class="item-title">{{item.head}}</p>
                        <p class="item-info" [innerHTML]="item.text"></p>
                        <a  *ngIf="item.call2action_name && item.call2action_name!=call2ActionNoButton"
                            class="btn btn-outline-primary btn-sm" routerLink="{{item.call2action_link}}">{{item.call2action_name}}</a>
                    </div>

                    <a *ngIf="item.call2action_name && item.call2action_name==call2ActionNoButton"
                       class="call2ActionNoButton"
                       routerLink="{{item.call2action_link}}">
                        <div
                                class="notification-item">
                            <button mat-icon-button type="button" class="closeIcon"
                                    (click)="markAsSeen(item.id)"><mat-icon>clear</mat-icon></button>

                            <sup>{{item.created_at*1000 | date: 'dd/MM/yyyy H-mm'}}</sup>
                            <p class="item-title">{{item.head}}</p>
                            <p class="item-info" [innerHTML]="item.text">{{item.text}}</p>
                        </div>
                    </a>


                </div>
            </div>
            <div class="divider"></div>
            <!--<div class="notification-footer"><h4 class="menu-title">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></h4></div>-->

        </div>
  </mat-menu>

</div>