<div class="p-3">
    <ng-template [ngIf]="locale=='ru'"
                 [ngIfElse]="ifNoRuLocaleBlock">
    <h1 class="text-center">Политика конфиденциальности</h1>
    <p class="text-left">01.11.2020</p>

    <p>Настоящая Политика конфиденциальности персональных данных (далее  Политика конфиденциальности) действует в отношении всей информации, которую данный сайт, на котором размещен текст данной Политики конфиденциальности (далее Сайт), может получить о Пользователе, а также любых программ и продуктов, размещенных на нем.</p>

    <p>1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ</p>
    <p>1.1 В настоящей Политике конфиденциальности используются следующие термины:</p>
    <p>1.1.1. «Администрация сайта» – сотрудники, уполномоченные на управление Сайтом, действующие от его имени, организующие и (или) осуществляющие обработку персональных данных, а также определяющие цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.</p>
    <p>1.1.2. «Персональные данные» – любая информация, относящаяся прямо или косвенно к определенному или определяемому физическому лицу (субъекту персональных данных).</p>

    <p>1.1.3. «Обработка персональных данных» – любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.</p>

    <p>1.1.4. «Конфиденциальность персональных данных» – обязательное для соблюдения Администрацией сайта требование не допускать их умышленного распространения без согласия субъекта персональных данных или наличия иного законного основания.</p>

    <p>1.1.5. «Пользователь сайта (далее Пользователь)» – лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее данный Сайт для своих целей.</p>
    <p>1.1.6. «Cookie» — небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта.</p>
    <p>1.1.7. «IP-адрес» — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.</p>
    <p>2. ОБЩИЕ ПОЛОЖЕНИЯ</p>
    <p>2.1. Использование Сайта означает согласие Пользователя с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.</p>
    <p>2.2. В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование Сайта.</p>
    <p>2.3.Настоящая Политика конфиденциальности применяется только к данному Сайту. Администрация сайта не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на данном сайте.</p>
    <p>2.4. Администрация сайта не проверяет достоверность персональных данных, предоставляемых Пользователем сайта.</p>

    <p>3. ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ</p>
    <p>3.1. Настоящая Политика конфиденциальности устанавливает обязательства Администрации сайта по умышленному неразглашению Персональных данных, которые Пользователь предоставляет по разнообразным запросам Администрации сайта (например, при регистрации на сайте, оформлении заказа, подписки на уведомления и т.п).</p>
    <p>3.2. Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путём заполнения специальных форм на Сайте и обычно включают в себя следующую информацию:</p>
    <p>3.2.1. фамилию, имя, отчество Пользователя;</p>
    <p>3.2.2. адрес электронной почты (e-mail);</p>
    <p>3.2.3. место жительство Пользователя и другие данные.</p>
    <p>3.3. Администрация сайта также принимает усилия по защите Персональных данных, которые автоматически передаются в процессе посещения страниц сайта:<br>
        IP адрес; информация из cookie; информация о браузере (или иной программе, которая осуществляет доступ к сайту); время доступа; посещенные адреса страниц; реферер (адрес предыдущей страницы) и т.п.
    </p>

    <p>3.3.1. Отключение cookies может повлечь невозможность доступа к сайту.</p>
    <p>3.3.2. Сайт осуществляет сбор статистики об IP-адресах своих посетителей. Данная информация используется с целью выявления и решения технических проблем, для контроля корректности проводимых операций.</p>
    <p>3.4. Любая иная персональная информация неоговоренная выше (история покупок, используемые браузеры и операционные системы и т.д.) не подлежит умышленному разглашению, за исключением случаев, предусмотренных в п.п. 5.2. и 5.3. настоящей Политики конфиденциальности.</p>
    <p>4. ЦЕЛИ СБОРА ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЯ</p>
    <p>4.1. Персональные данные Пользователя Администрация сайта может использовать в целях:</p>
    <p>4.1.1. Идентификации Пользователя, зарегистрированного на Сайте, для оформления заказа и (или) заключения Договора.</p>
    <p>4.1.2. Предоставления Пользователю доступа к персонализированным ресурсам Сайта. 4.1.3. Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования Сайта, оказания услуг, обработка запросов и заявок от Пользователя.</p>
    <p>4.1.4. Определения места нахождения Пользователя для обеспечения безопасности, предотвращения мошенничества.</p>
    <p>4.1.5. Подтверждения достоверности и полноты персональных данных, предоставленных Пользователем.</p>
    <p>4.1.6. Создания учетной записи для совершения покупок, если Пользователь дал согласие на создание учетной записи.</p>
    <p>4.1.7. Уведомления Пользователя сайта о состоянии Заказа.</p>
    <p>4.1.8. Обработки и получения платежей.</p>
    <p>4.1.9. Предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем связанных с использованием Сайта.</p>
    <p>4.1.10. Предоставления Пользователю с его согласия, обновлений продукции, специальных предложений, информации о ценах, новостной рассылки и иных сведений от имени Сайта или от имени партнеров Сайта.</p>
    <p>4.1.11. Осуществления рекламной деятельности с согласия Пользователя.</p>
    <p>4.1.12. Предоставления доступа Пользователю на сторонние сайты или сервисы партнеров данного сайта с целью получения их предложений, обновлений или услуг.</p>
    <p>5. СПОСОБЫ И СРОКИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ</p>
    <p>5.1. Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств.</p>
    <p>5.2. Пользователь соглашается с тем, что Администрация сайта вправе передавать персональные данные третьим лицам, в частности, курьерским службам, организациями почтовой связи, операторам электросвязи и прочим лицам исключительно в целях выполнения заявок Пользователя, оформленных на сайте, в рамках Договора публичной оферты.</p>
    <p>5.3. Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти только на основании и в порядке, установленным действующим законодательством.</p>
    <p>6. ОБЯЗАТЕЛЬСТВА СТОРОН</p>
    <p>6.1. Пользователь обязуется:</p>
    <p>6.1.1. Предоставить корректную и правдивую информацию о персональных данных, необходимую для пользования сайтом.</p>
    <p>6.1.2. Обновить или дополнить предоставленную информацию о персональных данных в случае изменения данной информации.</p>
    <p>6.1.3. Принимать меры для защиты доступа к своим конфиденциальным данным, хранящимся на Сайте.</p>
    <p>6.2. Администрация сайта обязуется:</p>
    <p>6.2.1. Использовать полученную информацию исключительно для целей, указанных в п. 4 настоящей Политики конфиденциальности.</p>
    <p>6.2.2. Не разглашать Персональные данные Пользователя, за исключением п.п. 5.2. и 5.3. настоящей Политики Конфиденциальности.</p>
    <p>6.2.3. Осуществить блокировку Персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите прав субъектов Персональных данных на период проверки, в случае выявления недостоверных Персональных данных или неправомерных действий.</p>
    <p>7. ОТВЕТСТВЕННОСТЬ СТОРОН</p>
    <p>7.1. Администрация сайта несёт ответственность за умышленное разглашение Персональных данных Пользователя в соответствии с действующим законодательством, за исключением случаев, предусмотренных п.п. 5.2., 5.3. и 7.2. настоящей Политики Конфиденциальности.</p>
    <p>7.2. В случае утраты или разглашения Персональных данных Администрация сайта не несёт ответственность, если данная конфиденциальная информация:</p>
    <p>7.2.1. Стала публичным достоянием до её утраты или разглашения.</p>
    <p>7.2.2. Была получена от третьей стороны до момента её получения Администрацией сайта.</p>
    <p>7.2.3. Была получена третьими лицами путем несанкционированного доступа к файлам сайта.</p>
    <p>7.2.4. Была разглашена с согласия Пользователя.</p>
    <p>7.3. Пользователь несет ответственность за правомерность, корректность и правдивость предоставленной Персональных данных в соответствии с действующим законодательством.</p>
    <p>8. РАЗРЕШЕНИЕ СПОРОВ</p>
    <p>8.1. До обращения в суд с иском по спорам, возникающим из отношений между Пользователем сайта и Администрацией сайта, обязательным является предъявление претензии (письменного предложения о добровольном урегулировании спора).</p>
    <p>8.2 .Получатель претензии в течение 30 календарных дней со дня получения претензии, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.</p>
    <p>8.3. При недостижении соглашения спор будет передан на рассмотрение в судебный орган г. Москвы, РФ в соответствии с действующим законодательством.</p>
    <p>8.4. К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией сайта применяется действующее законодательство.</p>
    <p>9. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ</p>
    <p>9.1. Администрация сайта вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.</p>
    <p>9.2. Новая Политика конфиденциальности вступает в силу с момента ее размещения на Сайте, если иное не предусмотрено новой редакцией Политики конфиденциальности.</p>

    </ng-template>
    <ng-template #ifNoRuLocaleBlock>
        <h1 class="text-center">Privacy policy</h1>
        <h3>Introduction</h3>
        <p>This Privacy Policy ("Privacy Policy") explains how and for what purposes we use the information we collect about you via our website at www.songwriters.pro (the "site").</p>
        <p>The Site is based in the Russian Federation and we take reasonable care to comply with the requirements of the Russian laws relating to the personal information you supply on the Site.</p>
        <p>For the purpose of the Act the data processor is Songwriters.pro. </p>
        <p>Please read this Privacy Policy carefully. By agreeing to use the Site, you are agreeing to be bound by this Privacy Policy in respect of the information collected about you via the Site.</p>
        <p>If you have any questions about the policy, please get in touch with us using the following email address and we will do our best to answer your questions  content@songwriters.pro</p>

        <h3>Information We May Collect From You</h3>
        <p>Information that you provide by filling in forms on the Site. This includes information about you which you provide when registering to use the Site and information that you provide if you choose to make a payment on the Site. </p>
        <p>We may ask you to provide us with the following personal information:<br>
            first name, surname, a user name, your email address, radio or label you represent.</p>
        <p>Details of your visits to the Site, the resources you access and any data viewed, uploaded or downloaded; the number of times you view a particular production and geo-location or section of the Site; and/or any comments you provide as a customer or user of the Site, including communications you send to us, for example, to report a problem or to submit queries.</p>
        <p>If you contact us, we may keep a record of that correspondence.</p>
        <p>We will keep details of transactions you carry out through the Site, fulfilment of your orders, details of your visits to the Site including, but not limited to, traffic data, location data, weblogs and other communication data, whether this is required for our own billing purposes or otherwise and the resources that you access.</p>
        <p>If you do not provide information which we reasonably request, then you may not be able to access the full range of features on the Site.</p>

        <h3>How We Use Your Personal Data</h3>

        <p>We use the Personal Data we hold about you in the following ways:</p>
        <p>Administer your accounts with us; process materials submitted by you; carry out marketing analysis and make general improvements to the Site; obtain your views or comments on the services we provide; send you information which we think you might find useful; ensure that content from the Site is presented in the most effective manner for you; provide you with information, products or services that you request from us or which we feel may interest you, where you have consented to be contacted for such purposes.</p>

        <p>If you register as a Registered User and provide or purchase services on the Site we will send your payment and billing information.</p>
        <p>If you do not want us to contact you by electronic means in respect of our the Site notifications you may opt out at any time. You can exercise this right at any time by either unsubscribing via the link on any email we send you or by email: content@songwriters.pro</p>
        <p>The Site uses a security system that protects any personal information that is stored on our servers from unauthorised use. However, as no data transmissions over the Internet can be guaranteed to be 100% secure, we cannot take responsibility for any unauthorised access or loss of personal information that is beyond our reasonable control.</p>
        <p>In the event that we sell some or all of our business and/or assets to any third party or as part of any business restructuring or reorganisation (in such circumstances we will take steps to ensure that your privacy continues to be protected) or buy any business or assets, in which case we may disclose your Personal Data to the prospective seller or buyer of such business or assets;</p>
        <p>If Songwriters.pro or substantially all of its assets are acquired by a third party, in which case Personal Data held by it about its customers will be one of the transferred assets. </p>
        <p>IP Addresses and Information Automatically Collected from Your Computer</p>

        <p>Log files / IP addresses: when you visit the Site our web server automatically records your IP address. This IP address is not linked to any of your personal information. We use IP addresses to help us administer the Site and to collect demographic information for aggregation purposes.</p>

        <h3>Cookies</h3>

        <p>Like most websites, when you visit the Site we may store some information ("cookie") on your computer, mobile phone, tablet or other device. Cookies are small text files of information which use a unique identification tag and are stored on your device as a result of using the Sites or other services we provide to you.</p>
        <p>Cookies:</p>
        <p>Help you get the best out of the Site;</p>
        <p>Help us to provide you with a more customised service;</p>
        <p>Enable the Site to function more efficiently</p>
        <p>Allow us to recognise you as a user when you return to the Site using the same device and web browser, and allow us to provide you with a more personalised service based on your use of the Site.</p>
        <p>A number of cookies we use last only for the duration of your session and expire when you close your internet browser. Other cookies are used to remember you when you return to the Site and will last for longer. We use a mixture of "Persistent" and "Session" cookies on the Site as follows:</p>
        <p>Session cookies are files which allow the Site to link your actions during a single browser session. They are not stored long-term on your device; and</p>
        <p>Persistent cookies are cookies which remain on your device between sessions and allow the Sites to remember details about you.</p>
        <p>We use cookies to track site usage and trends, to improve the quality of the Site and to customise, personalise and enhance your experience on the Site. We also use cookies (and we may use other such devices, including 'web beacons' or 'tracking pixels', which are used to count the number of times a page has been viewed) to monitor the frequency of use and specific usage within any part of the Site and use the information for statistical purposes, to improve our services, create new features, fix bugs and to more accurately meet your preferences.</p>
        <p>The cookies we store make use of the information entered during the Site's registration process and are used to identify you when you do things like update your accounts details (the name, address and so on).</p>
        <p>We use cookies for the following purposes:</p>

        <h4>Cookie Type & Purpose</h4>
        <h5>Essential Operational/Session Management Cookies</h5>
        <p>These cookies are necessary to allow us to operate the Site. Without the use of these cookies parts of the Site would not function correctly. These cookies, for example, let us recognise whether you are a subscriber and what type of subscriber you are and then provide you with the services which you are entitled to. Further examples of essential cookies include cookies which keep you logged on during your visit and retain details of your online shopping basket or purchases. These cookies also allow you to move easily from one page to another within the Site and your page requests are loaded in a smooth and secure manner without you having to re-enter your details.</p>
        <h5>Analytical Performance Cookies</h5>
        <p>These cookies are used by us and/or our business partners to analyse how the Site is used, including for example how users navigate through the Site. The cookies also let us monitor how the Site is performing. These cookies do not let us identify users (the information collected is anonymous) and we combine the information which they provide us. We use this information to maintain, operate and continually improve the Site.</p>
        <h5>Advertising Cookies</h5>
        <p>These cookies are used to show you relevant advertising both on and off the Site. We may also use a cookie to learn whether members who saw an ad on the Site later visited the advertiser's site. Similarly, our partners may use a cookie to determine whether we've shown an ad and how it performed, or provide us with information about how you interact with them. We may also work with a partner to show you an ad on or off the Site, such as after you've visited a partner's site or application. Cookies and ad technology such as web beacons, pixels, and anonymous ad network tags help us more effectively serve ads to you, as well as to collect aggregated auditing, research, and reporting for advertisers. Note: Because your web browser may request advertisements and web beacons directly from ad network servers, these networks can view, edit, or set their own cookies, just as if you had requested a web page from their site.</p>
        <h5>Functionality Cookies</h5>
        <p>These cookies let us operate certain functions of the Site in line with the choices you make. These cookies mean that when you come back to the Site we can provide you with our services as you have asked for them to be provided, such as knowing your user name, remembering how you have customised our services, reminding you of your preferred collaborators or content on the Site, remembering if you have filled in a survey or seen a particular performance before.</p>
        <p>We do not use cookies outside of the facilities you will find when moving around the Site.</p>
        <p>Most internet browsers are automatically set up to accept cookies, but you can set your browser to refuse a cookie or ask your browser to show you where a cookie has been set up. If you wish to do so you can refuse the use of these cookies by altering your browser settings. Please note that certain features of the Sites are only activated by the presence of a cookie or otherwise rely on the use of cookies and as such you may find some parts of the Site do not function as you might expect, or particular features of the Site may not be available to you. Please note that by deleting cookies or disabling future cookies you may not be able to fully use the Sites. However, if you do wish to prevent Music Gateway from using cookies and/or wish to delete any cookies on your computer, please refer to your browser's 'help' section for further information on how to deactivate them, or refer to the instructions for your device's file management software to locate the file or directory that stores cookies.</p>
        <p>By logging into your account on the Site you are accepting the terms under which we will make use of stored cookies.</p>

        <h3>Your Individual Rights</h3>
        <h>You can read more about your rights in details here;</h>
        <ul class="list-unstyled">
            <li>- the right to be informed</li>
            <li>- the right of access</li>
            <li>- the right to rectification</li>
            <li>- the right to erasure</li>
            <li>- the right to restrict processing</li>
            <li>- the right to data portability</li>
            <li>- the right to object; and</li>
            <li>- the right not to be subject to automated decision-making including profiling.</li>
        </ul>

        <h3>Links To Third Party Sites</h3>
        <p>The Site may, from time to time, contain links to and from the websites of our partners, advertisers and associates. If you follow a link to any of these websites, please note that these websites have their own privacy policies and that we do not accept any responsibility or liability for the protection of any data supplied to other sites.</p>

        <h3>Changes To Our Privacy Policy</h3>
        <p>Our Privacy Policy may change from time to time. In this case, the amended version will be published on the Site and, where appropriate, notified to you by e-mail.</p>
        <p>You are responsible for configuring your information technology, computer programmes and platform in order to access the Site. You should use your own virus protection software.</p>
    </ng-template>

</div>