<div class="container-fluid h-100 no-gutters">

  <mat-toolbar >
    <a class="brandLogo" routerLink="/"><img src="assets/img/songwriters_logo_white.svg" alt="Songwriters.Pro"></a>
    <ng-container *ngIf="(authService.isLoggedIn() | async)">



       <span
                 *ngIf="authService.activeRole =='artist'"
               class="logoNote">Artist</span>
        <span
                *ngIf="authService.activeRole =='media'"
                class="logoNote">Media</span>
          <span
                  *ngIf="authService.activeRole =='radio'"
                  class="logoNote">Radio</span>


    </ng-container>

    <span class="spacer"></span>


    <div *ngIf="!(authService.isLoggedIn() | async)" class="unlogged">

        <span class="headerRight">
            <app-language-switch></app-language-switch>
        </span>
        <span class="headerRight" ><a routerLink="/login" i18n="@@header_login">вход</a></span>

    </div>


    <ng-container *ngIf="(authService.isLoggedIn() | async)">


        <a
           [matMenuTriggerFor]="avatarMenu"
           class="btn btn-sm avatar_block">
            <div class="avatar_image_block " >
                <ng-container *ngIf="authService.isMultipleRole">
                    <ng-container *ngIf="authService.activeRole==='artist'">
                        <img *ngIf="authService.artist && authService.artist.image"
                             class="avatar"
                             src="{{apiUrl}}/img/{{authService.artist.image|img:'sm'}}"/>
                        <span class="userIcon"> <mat-icon *ngIf="
                            !(authService.artist && authService.artist.image)  ">perm_identity</mat-icon></span>
                    </ng-container>
                    <ng-container *ngIf="authService.activeRole==='radio'">
                        <img *ngIf="authService.radio && authService.radio.image"
                             class="avatar"
                             src="{{apiUrl}}/img/{{authService.radio.image|img:'sm'}}"/>
                        <span class="userIcon"> <mat-icon *ngIf="
                            !(authService.radio && authService.radio.image)  ">perm_identity</mat-icon></span>
                    </ng-container>
                    <ng-container *ngIf="authService.activeRole==='media'">
                        <img *ngIf="authService.media && authService.media.image"
                             class="avatar"
                             src="{{apiUrl}}/img/{{authService.media.image|img:'sm'}}"/>
                        <span class="userIcon"> <mat-icon *ngIf="
                            !(authService.media && authService.media.image)  ">perm_identity</mat-icon></span>
                    </ng-container>

                </ng-container>
                <ng-container *ngIf="!authService.isMultipleRole">
                    <img *ngIf="authService.artist && authService.artist.image"
                         class="avatar"
                         src="{{apiUrl}}/img/{{authService.artist.image|img:'sm'}}"/>

                    <img *ngIf="authService.radio && authService.radio.image"
                         class="avatar"
                         src="{{apiUrl}}/img/{{authService.radio.image|img:'sm'}}"/>

                    <img *ngIf="authService.media && authService.media.image"
                         class="avatar"
                         src="{{apiUrl}}/img/{{authService.media.image|img:'sm'}}"/>
                    <mat-icon *ngIf="
                    !(authService.artist && authService.artist.image) &&
                    !(authService.radio && authService.radio.image) &&
                    !(authService.media && authService.media.image) ">perm_identity</mat-icon>
                </ng-container>




            </div>
<!--            <span class="avatar_block_name">{{authService.user.first_name}}</span>-->
        </a>


        <mat-menu #avatarMenu="matMenu">
            <button mat-menu-item
                    routerLinkActive="active"
                    routerLink="/account"><mat-icon>account_circle</mat-icon> <span i18n="@@header_account">Аккаунт</span></button>

<!--            <button mat-menu-item-->
<!--                    (click)="authService.logout()"><mat-icon>exit_to_app</mat-icon> выйти</button>-->
        </mat-menu>



        <span class="notifyDropWrapper">
            <app-notification-dropdown></app-notification-dropdown>
           </span>
        <span class="headerRight">
            <app-language-switch></app-language-switch>
        </span>
        <span class="headerRight" ><a (click)="authService.logout()" i18n="@@header_logout">выход</a></span>
    </ng-container>


  </mat-toolbar>




  <div class="row  h-100-plus-header no-gutters">

    <div
            class="col-sm-3 col-md-3 col-lg-3 col-xl-2  menuSideBox">
      <ng-container *ngIf="!(authService.isLoggedIn() | async)" >

          <app-unauth-sidebar-menu ></app-unauth-sidebar-menu>
      </ng-container>

      <ng-container *ngIf="(authService.isLoggedIn() | async)" >

<!--        <button (click)="testWs()">testWs</button>-->

        <app-artist-sidebar-menu *ngIf="authService.activeRole==='artist'"></app-artist-sidebar-menu>
        <app-radio-sidebar-menu *ngIf="authService.activeRole==='radio'"></app-radio-sidebar-menu>
        <app-media-sidebar-menu *ngIf="authService.activeRole==='media'"></app-media-sidebar-menu>
      </ng-container>



    </div>

    <div class="col-sm-9 col-xl-10 mainFrame">


        <div class="content">
            <router-outlet></router-outlet>

        </div>



        <div class="footer">
            <div class="row no-gutters">
                <div class="padding_lr">
                    <div class="col-sm-12 wrapper">
                        <div class="row no-gutters">
                            <div class="col footColumn">
                                <a class="link"
                                   i18n="@@footer_confidentiality"
                                routerLink="confidentiality">политика <br>конфиденциальности</a>
                            </div>

                            <div class="w-100  d-block d-sm-none"></div>

                            <div class="col footColumn">
                                <a class="link"
                                   i18n="@@footer_terms"
                                routerLink="terms">условия использования</a>
                            </div>

                            <div class="w-100  d-block d-sm-none"></div>

                            <div class="col footColumn">
                                <a class="link"
                                   i18n="@@footer_authRightViolation"
                                routerLink="violation">сообщить о нарушении авторских прав</a>
                            </div>

                            <div class="w-100  d-block d-sm-none"></div>

                            <div class="col footColumn">
                                <a class="link"
                                   i18n="@@footer_contacts"
                                   routerLink="contacts">контакты</a>
<!--                                <span class="link" >faq</span>-->
                            </div>
                            <div class="w-100  d-block d-sm-none"></div>

<!--                            <div class="col footColumn">-->
<!--                                <span class="link" >youtube</span>-->
<!--                                <span class="link" >facebook</span>-->
<!--                            </div>-->

                            <ng-container *ngIf="authService.isLoggedIn() | async" >
                                <ng-container *ngIf="authService.isMultipleRole">
                                    <div class="w-100  d-block d-sm-none"></div>
                                    <div class="col footColumn">
                                        <span *ngIf="authService.activeRole==='artist'"
                                              routerLink="/media-home"
                                              i18n="@@footer_swithAccounts"
                                                class="switchAccountButton link">Переключить аккаунт</span>
                                        <span *ngIf="authService.activeRole==='media'"
                                              routerLink="/artist-home"
                                              i18n="@@footer_swithAccounts"
                                              class="switchAccountButton link">Переключить аккаунт</span>
                                    </div>
                                </ng-container>
                            </ng-container>


                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>

  </div>

</div>