@import 'variables';

.mat-toolbar {
    background: #FFFFFF;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 50px;
}
@media only screen and (min-width : 1200px) {
    .mat-toolbar-row, .mat-toolbar-single-row {
        height: 60px;
    }
}
@media only screen and (min-width : 1366px) {
    .mat-toolbar-row, .mat-toolbar-single-row {
        height: 90px;
    }
}
.unlogged .login {
    display: block;
    font-size:0.9rem;
    margin-top: 5px;
    margin-bottom: 0;
    line-height:1;
}

.interface .link{
    font-size: .7em;
    margin: 2px;
}
.avatar_image_block .mat-icon {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 30px;
    width: 30px;
    position: relative;
    font-size: 30px;
    line-height: 1;
    vertical-align: middle;
}

.menuSideBox {
    background-color: transparent;
}
.logoNote{
    text-transform: uppercase;
    font-size: .6em;
    color: $mainRed;
    display: inline-block;
    position: relative;
    border: 1px solid $mainRed;
    padding: .0em .5em ;
    line-height: 1.4;
    border-radius: 3px;
    margin-left: 5px;
    top: -15px;
}
@media only screen and (max-width : 560px) {
    .logoNote{
        font-size: .4em;
        padding: .0em .5em ;
        line-height: 1.4;
        margin-left: 4px;
        top: -15px;
    }
}
@media only screen and (max-width : 360px) {
    .logoNote{
        font-size: .3em;
        padding: .0em .5em ;
        line-height: 1.4;
        margin-left: 2px;
        top: -15px;
    }
}
@media only screen and (min-width : 1200px) {
    .logoNote{
        font-size: .8em;
        top: -16px;
        margin-left: .4em;
    }
}
@media only screen and (min-width : 1366px) {
    .logoNote{
        font-size: .8em;
        top: -25px;
        margin-left: .5em;
    }
}
.brandLogo{
    background-color: $mainRed;
    display: block;
    position: relative;
    width: 300px;
    padding: 0 20px;
}
@media only screen and (max-width : 360px) {
    .brandLogo{
        width: 200px;
        padding: 0 5px;
    }
}
@media only screen and (min-width : 1200px) {
    .brandLogo{
        width: 320px;
        padding: 0 25px;
    }
}
@media only screen and (min-width : 1366px) {
    .brandLogo{
        width: 420px;
        padding: 0 20px;
    }
}
.mainFrame{
    border-top: 1px solid rgba(0,0,0,.3);
    border-left: 1px solid rgba(0,0,0,.3);
}
.headerRight, .headerRight a{
    color: $mainRed;
    font-size: 1em;
}
.headerRight{
    margin-left: .8em;
    cursor: pointer;
    display: inline-block;
}
@media only screen and (max-width : 1199px) {
    .headerRight, .headerRight a{
        font-size: .8em;
    }
}
@media only screen and (max-width : 1365px) {
    .headerRight, .headerRight a{
        font-size: .9em;
    }
}
.headerRight:last-child{
    margin-right: 1em;
}
@media only screen and (max-width : 640px) {
    .headerRight:last-child{
        margin-right: 0;
    }
}
@media only screen and (max-width : 360px) {
    .headerRight{
        margin-left: 5px;
    }
}
.notifyBell svg{
    width: 2.5em;
    height: 2.5em;
}
@media only screen and (max-width : 1199px) {
    .notifyBell svg{
        width: 1.9em;
        height: 1.9em;
    }
}
@media only screen and (max-width : 640px) {
    .notifyBell svg{
        width: 1.5em;
        height: 1.5em;
    }
}
.avatar{
    border-radius: 100px;
    width: 40px;
    height: 40px;
}
.avatar_block{
    margin-right: .4em;
}
@media only screen and (min-width : 1200px) {
    .avatar{
        width: 60px;
        height: 60px;
    }
    .avatar_block{
        margin-right: .8em;
    }
}

.avatar_image_block .mat-icon {
    position: relative;
    top: .06em;
    font-size: 2.5em;
    height: 1.2em;
    width: 1.2em;
}
@media only screen and (min-width : 1200px) {
    .avatar_image_block .mat-icon {
        font-size: 3.5em;
    }
}
.userIcon{
    color: $mainRed;
    cursor: pointer;
}

.content{
    min-height: 100%;
    /*min-height: calc(100vh - 4em);*/
    /*margin-bottom: -50px;*/
    padding-bottom: 6em;
}


.footer {
    /*margin-top: 4em;*/
    margin-top: -4em;
}


.footer .link,
.footer a.link{
    font-size: .9em;
    font-weight: 300;
    line-height: 1.2;
    display: block;
    padding-left: .5rem;
    padding-right: .5rem;
    color: #212529
}
.footer a.link:hover{
    color: #000000;
}
@media only screen and (max-width : 768px) {
    .footer .link{
        padding-left: 10px;
    }
}
.footer .wrapper{
    padding: 1em 0;
    border-top: 1px solid rgba(0,0,0,.2);
}
.footColumn{
    text-align: left;
}
.padding_lr{
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
}
.footer .link.switchAccountButton{
    position: relative;
    top: -.5rem;
    padding: .5rem 2rem;
    background-color: #e0dede;
    color: #000;
    display: block;
    cursor: pointer;

}
@media only screen and (max-width : 945px) {
    .footer .link.switchAccountButton{
        top: 0;
    }
}
.footer .link.switchAccountButton:hover{
    background-color: rgba(0,0,0,.18);
}

