<div *ngIf="user" class="p-2">
  <h1><mat-icon>account_circle</mat-icon> {{user.first_name+' '+user.last_name}}</h1>
  <p class="text-secondary">{{user.email}}</p>


  <!-- Имя Фамилия -->
  <div class="box bordered mb-3">
    <form [formGroup]="userForm" (ngSubmit)="saveUser()" >

      <div>

        <div class="row no-gutters">
          <div class="col-sm-6 w99per_mff">
            <mat-form-field class="example-full-width">
              <input matInput
                     placeholder="Имя"
                     i18n-placeholder="@@userAccount_formFirstName"
                     formControlName="firstName"
              />
              <div *ngIf="f.firstName.errors" class="invalid_feedback">
                <small *ngIf="f.firstName.errors.required"
                       class="text-danger"
                       i18n="@@required_field" >Поле обязательно к заполнению</small>
                <small *ngIf="f.firstName.errors.minlength"
                       class="text-danger"
                       i18n="@@minimal_length_simv">Минимальная длина {{f.firstName.errors.minlength.requiredLength}} симв.</small>
                <small *ngIf="f.firstName.errors.pattern"
                       class="text-danger"
                       i18n="@@userAccount_onlyLettersAndNumbers">Допускаются только буквы и цифры</small>
              </div>
            </mat-form-field>

          </div>
          <div class="col-sm-6 w100per_mff">
            <mat-form-field class="example-full-width">
              <input matInput
                     i18n-placeholder="@@userAccount_lastName"
                     placeholder="Фамилия"
                     formControlName="lastName"
              />
              <div *ngIf="f.lastName.errors" class="invalid_feedback">
                <small *ngIf="f.lastName.errors.required"
                       class="text-danger"
                       i18n="@@required_field">Поле обязательно к заполнению</small>
                <small *ngIf="f.lastName.errors.minlength"
                       class="text-danger"
                       i18n="@@minimal_length_simv">Минимальная длина {{f.lastName.errors.minlength.requiredLength}} симв.</small>
                <small  *ngIf="f.lastName.errors.pattern"
                        class="text-danger"
                       i18n="@@userAccount_onlyLettersAndNumbers">Допускаются только буквы и цифры</small>
              </div>
            </mat-form-field>
          </div>

        </div>
      </div>
      <button
              mat-button color="primary"
              type="submit"
              [disabled]="!userForm.valid"
              (click)="saveUser()"
              i18n="@@userAccount_saveChanges"
      ><mat-icon>save</mat-icon> Сохранить изменения</button>

    </form>
  </div>


  <!-- Пароль -->
  <div class="box bordered mb-3">
    <h6  i18n="@@userAccount_changePassword">Изменение пароля</h6>

    <form [formGroup]="passwordForm">
      <div class="row no-gutters">
        <div class="col-sm-6 w99per_mff">
          <mat-form-field>
            <input matInput
                   type="password"
                   i18n-placeholder="@@userAccount_newPassword"
                   placeholder="Новый пароль"
                   formControlName="password"
                   required>
          </mat-form-field>
        </div>

        <div class="col-sm-6 w99per_mff">
          <mat-form-field>
            <input matInput
                   type="password"
                   i18n-placeholder="@@userAccount_confirmPassword"
                   placeholder="Подтверждение пароля"
                   formControlName="confirmPassword">
          </mat-form-field>
        </div>

        <sup *ngIf="pf.errors">
          <mat-error *ngIf="pf.errors.notSame"
                     i18n="@@userAccount_passwordsNotMatch">
            Пароли не совпадают
          </mat-error>
        </sup>
      </div>


      <div class="mt-3">
        <button
                mat-button color="primary"
                type="submit"
                [disabled]="!passwordForm.valid"
                (click)="changePassword()"
                i18n="@@userAccount_changePassword"
        ><mat-icon>save</mat-icon> Изменить пароль</button>
      </div>
    </form>
  </div>




</div>
