.songArtwork {
    width: 100%;
}

@media only screen and (min-width : 420px) and (max-width : 991px) {
    .songArtwork {
        width: 300px;
        margin-bottom: 1rem;
    }
}

@media only screen and (min-width : 1366px) {
    .songArtwork {
        max-width: 750px;
    }
}
.properties{
    margin-bottom: 2em;
    font-size: .9em;
    line-height: 1.2;
}
.property{
    display: block;
}
.authorComment{
    margin-top: 1em;
}
.copyright{
    margin-bottom: 1em;
}
.playerCol .right-col{
    flex: 0 0 200px;
}

.playerCol .left-col, .playerCol .right-col{
    padding-top: 2em;
}
/*.imageFixedWidthBox{*/
/*    flex: 0 0 100px;*/
/*    padding-right: .3em;*/
/*}*/
/*@media only screen and (max-width : 1365px) {*/
/*    .imageFixedWidthBox{*/
/*        flex: 0 0 90px;*/
/*    }*/
/*}*/
/*@media only screen and (max-width : 1200px) {*/
/*    .imageFixedWidthBox{*/
/*        flex: 0 0 70px;*/
/*    }*/
/*}*/
/*@media only screen and (max-width : 991px) {*/
/*    .imageFixedWidthBox{*/
/*        flex: 0 0 60px;*/
/*    }*/
/*}*/

/*.imageFixedWidthBox img{*/
/*    width: 100%;*/
/*}*/
/*.commentAuthorName, .commentAuthorGeo{*/
/*    display: block;*/
/*}*/
/*.commentAuthorName{*/
/*    font-size: 1em;*/
/*    font-weight: 300;*/
/*    line-height: 1.2;*/

/*}*/
/*.commentAuthorGeo{*/
/*    font-size: .9em;*/
/*    font-weight: 400;*/
/*    line-height: 1.2;*/
/*    padding-bottom: .5em;*/
/*}*/
/*.commentText{*/
/*    font-size: .9em;*/
/*    font-weight: 400;*/
/*    line-height: 1.2;*/
/*}*/
p.info{
    line-height: 1.2;
    font-size: .9em;
}
.imageCol{
    padding-right: .5rem !important;
}
@media only screen and (min-width : 1200px) {
    .imageCol, .playerCol{
        padding-right: 2rem !important;
    }
}
@media only screen and (min-width : 1366px) {
    .imageCol, .playerCol{
        padding-right: 3rem !important;
    }
}

.commentFormWrapper{
    padding-right: .5rem;
    padding-top: 2rem;
    position: relative;

}