

<div class="row no-gutters"  >
    <div class="col-sm-12 p-2">
        <ng-container *ngIf="song">


            <div class="row no-gutters">
                <div class="col-sm-12 col-md-12 col-lg-2 col-xl-3 imageCol">

                        <img *ngIf="song.image"
                             class="songArtwork"
                             alt="{{locale=='ru'?'изображение':'image'}} {{song.artist_name+' '+song.name}}"
                             title="{{song.artist_name+' '+song.name}}"
                             src="{{apiUrl}}img/{{song.image|img:'md'}}">

                </div>

                <div class="col-sm-12 col-md-12 col-lg-10 col-xl-9 playerCol ">
                    <h1  *ngIf="song">{{song.artist_name}} - {{song.name}} </h1>
                    <wavesurfer-player
                            [song]="song"
                            [view]="'player-only'"
                    ></wavesurfer-player>
                    <div class="row no-gutters">
                        <div class="col left-col">
                            <div *ngIf="song"
                                 class="properties">
                             <span  *ngIf="song.rightholders && song.rightholders!='пожалуйста заполните правообладателей'"
                                    class="property copyright"
                             >(c) {{song.rightholders}}</span>

                                <span  *ngIf="song.music_style1 || song.music_style2 || song.music_style3"
                                       class="property ">
                                     <span *ngIf="song.music_style1">{{song.music_style1.name}}</span>
                                     <span *ngIf="song.music_style2">, {{song.music_style2.name}}</span>
                                     <span *ngIf="song.music_style3">, {{song.music_style3.name}}</span>
                                </span>

                                <span  *ngIf="song.label"  class="property ">Label: {{song.label}}</span>
                                <span  *ngIf="song.release_date"
                                       class="property ">{{locale=='ru'?'Дата выпуска':'Release date'}}: {{song.release_date*1000 | date: 'dd/MM/yyyy'}}</span>

                                <span  *ngIf="song.isrc"  class="property ">ISRC: {{song.isrc}}</span>
                                <span  *ngIf="song.vocal"
                                       i18n="@@rSongView_trackInfo_vocal"
                                       class="property ">Вокальный трек</span>
                                <span  *ngIf="song.adult_text"
                                       i18n="@@rSongView_trackInfo_adultText"
                                       class="property ">Текст для взрослых</span>
                                <span  *ngIf="song.languages"
                                       class="property ">{{locale=='ru'?'Языки':'Languages'}}: {{song.languages}}</span>
                                <span  *ngIf="song.author_comment"  class="property  authorComment">{{song.author_comment}}</span>
                            </div>


                            <div *ngIf="comments && comments.length>0">

                                <app-common-comment-list
                                        [comments]="comments"
                                ></app-common-comment-list>



                            </div>


                            <div #oneFieldForm>
                                <div   *ngIf="isCommentFormOpen"
                                       class="commentFormWrapper">
                                    <mat-icon
                                            class="closeFormButton"
                                            (click)="isCommentFormOpen=false"
                                    >close</mat-icon>
                                    <app-onefield-form
                                            [buttonName]="locale=='ru'?'отправить':'send'"
                                            [placeholder]="locale=='ru'?'Комментарий':'Comment'"
                                            (onSubmit)="sendComment($event)"
                                    ></app-onefield-form>
                                </div>
                            </div>
                        </div>
                        <div class="right-col">
                            <app-file-download
                                    [buttonType]="'wideLowButton'"
                                    [buttonColor]="'warn'"
                                    [type]="'application/json'"
                                    [url]="song.path_to_file"
                                    [fileName]="song.artist_name+'-'+song.name"
                            ></app-file-download>
                            <p class="mt-4 info"
                               i18n="@@rSongView_infoLeaveComment">
                                Пожалуйста, оставьте комментарий.<br>
                                Это важно для музыкантов.
                            </p>
<!--                            (click)="isCommentFormOpen=true;scroll(oneFieldForm)" -->
                            <span *ngIf="!isCommentFormOpen"
                                  matRipple
                                  i18n="@@rSongView_buttonLeaveComment"
                                  class="wideLowButton btn btn-info "
                                  (click)="openCommentForm()"
                            >оставить комментарий</span>


<!--                             для незарегистрированных пользователей -->

                            <ng-container *ngIf="!(authService.isLoggedIn() | async)">
                                <p class="info"
                                   i18n="@@rSongView_infoRegistegedCan">
                                    Зарегистрированные пользователи могут прослушивать
                                    и скачивать разосланные ранее треки
                                </p>

                                <span matRipple
                                      i18n="@@rSongView_register"
                                      class="wideLowButton btn btn-info "
                                      routerLink="/signup"
                                >зарегистрироваться</span>
                            </ng-container>

                        </div>


                    </div>






                </div>
            </div>


        </ng-container>
    </div>
</div>