<div class="box"  >

  <div  class="row no-gutters">


    <div class="col-12">
      <form
              [formGroup]="form">
        <div >

          <div class="row no-gutters">
            <div class="col-12 w100per_mff">
              <mat-form-field >
                <input matInput
                       i18n-placeholder="@@aMySongForm_namePlaceholder"
                       placeholder="Название"
                       formControlName="name"
                       (change)="update()"
                />
                <div *ngIf="f.name.value &&  f.name.errors" class="invalid_feedback">
                  <small class="text-danger"
                         i18n="@@required_field"
                         *ngIf="f.name.errors.required">Поле обязательно к заполнению</small>

                  <small class="text-danger"
                         i18n="@@lengthMoreThan255"
                         *ngIf="f.name.errors.maxlength">Превышена максимальная длина в 255 символов</small>

                </div>
              </mat-form-field>
            </div>

            <div class="col-sm-6 w100per_mff">
              <mat-form-field >
                <input matInput
                       i18n-placeholder="@@aMySongForm_artistPlaceholder"
                       placeholder="Артист"
                       formControlName="artist_name"
                       (change)="update()"
                />
                <div *ngIf="f.artist_name.value &&  f.artist_name.errors" class="invalid_feedback">

                  <small class="text-danger"
                         i18n="@@required_field"
                         *ngIf="f.artist_name.errors.required">Поле обязательно к заполнению</small>

                  <small class="text-danger"
                         i18n="@@lengthMoreThan255"
                         *ngIf="f.artist_name.errors.maxlength">Превышена максимальная длина в 255 символов</small>
                </div>
              </mat-form-field>
            </div>

            <div class="col-sm-6 pl-1 w100per_mff">
              <mat-form-field >
                <input matInput
                       i18n-placeholder="@@aMySongForm_rightHoldersPlaceholder"
                       placeholder="правообладатели через запятую*"
                       formControlName="rightholders"
                       (change)="update()"
                />
                <div *ngIf="f.rightholders.value &&  f.rightholders.errors" class="invalid_feedback">
                  <small class="text-danger"
                         i18n="@@required_field"
                         *ngIf="f.rightholders.errors.required">Поле обязательно к заполнению</small>
                </div>
              </mat-form-field>
            </div>




          </div>
          <div class="row no-gutters">

            <div class="col-sm-4 pr-1">
              <mat-form-field >
                <mat-select
                        i18n-placeholder="@@aMySongForm_mainStylePlaceholder"
                        placeholder="основной стиль*"
                        formControlName="music_style1_id"
                        (selectionChange)="update()"
                        [compareWith]="compareId"
                >
                  <mat-option *ngFor="let option of stylesOptions " [value]="option">{{option.name}}</mat-option>
                </mat-select>
                <div *ngIf=" f.music_style1_id.errors" class="invalid_feedback">
                  <small class="text-danger"
                         i18n="@@required_field"
                         *ngIf="f.music_style1_id.errors.required">Обязательное поле</small>
                </div>
              </mat-form-field>
            </div>

            <div class="col-sm-4 pr-1">
              <mat-form-field >
                <mat-select
                        i18n-placeholder="@@aMySongForm_otherStylePlaceholder"
                        placeholder="доп. стиль"
                        formControlName="music_style2_id"
                        [compareWith]="compareId"
                        (selectionChange)="update()"
                >
                  <mat-option *ngFor="let option of stylesOptions " [value]="option">{{option.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-sm-4 pr-1">
              <mat-form-field >
                <mat-select
                        i18n-placeholder="@@aMySongForm_otherStylePlaceholder"
                        placeholder="доп. стиль"
                        formControlName="music_style3_id"
                        [compareWith]="compareId"
                        (selectionChange)="update()"
                >
                  <mat-option *ngFor="let option of stylesOptions " [value]="option">{{option.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-sm-4">
              <mat-checkbox
                      color="primary"
                      i18n="@@aMySongForm_vocalTrack"
                      formControlName="vocal"
                      (change)="update()"
              >Вокальный трек</mat-checkbox>
            </div>
            <div class="col-sm-4 pr-1">
              <mat-form-field >
                <mat-select
                        i18n-placeholder="@@aMySongForm_languagePlaceholder"
                        placeholder="язык"
                        formControlName="language"
                        [compareWith]="compareId"
                        multiple
                        (selectionChange)="update()"
                >
                  <mat-option *ngFor="let option of languagesOptions " [value]="option">{{locale=='ru'? option.name_ru:option.name_eng}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          </div>
          <div class="row no-gutters">


            <div class="col-sm-4 pl-1 w100per_mff">
              <mat-form-field >
                <input matInput
                       i18n-placeholder="@@aMySongForm_labelPlaceholder"
                       placeholder="Лейбл"
                       formControlName="label"
                       (change)="update()"
                />
                <div *ngIf="f.label.value &&  f.label.errors" class="invalid_feedback">
                  <small class="text-danger"
                         i18n="@@required_field"
                         *ngIf="f.label.errors.required">Поле обязательно к заполнению</small>
                </div>
              </mat-form-field>
            </div>
            <div class="col-sm-4 pl-1 w100per_mff">
              <mat-form-field >
                <input matInput
                       placeholder="isrc"
                       formControlName="isrc"
                       (change)="update()"
                />

              </mat-form-field>
            </div>
            <div class="col-sm-4 pl-1 w100per_mff">

              <mat-form-field>
                <input matInput [matDatepicker]="release_date_picker"
                       i18n-placeholder="@@aMySongForm_releaseDatePlaceholder"
                       placeholder="дата выхода"
                       formControlName="release_date"
                       (click)="release_date_picker.open()"
                       readonly >
                <mat-datepicker-toggle matSuffix [for]="release_date_picker"></mat-datepicker-toggle>
                <mat-datepicker #release_date_picker disabled="false"></mat-datepicker>
              </mat-form-field>
            </div>


            <div class="col-12 w100per_mff">
              <mat-form-field >
                <textarea matInput
                          cdkTextareaAutosize
                          i18n-placeholder="@@aMySongForm_commentPlaceholder"
                          placeholder="комментарий (желательно на английском языке и языке вокала)"
                          formControlName="author_comment"
                          (change)="update()"
                > </textarea>
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <mat-checkbox
                      color="primary"
                      i18n="@@aMySongForm_hideReview"
                      formControlName="hide_reviews"
                      (change)="update()"
              >скрыть рецензии</mat-checkbox>
            </div>
            <div class="col-sm-4">
              <mat-checkbox
                      color="primary"
                      i18n="@@aMySongForm_adultText"
                      formControlName="adult_text"
                      (change)="update()"
              >текст для взрослых</mat-checkbox>
            </div>
          </div>
        </div>


      </form>

      <div class="pt-5">

        <button *ngIf="serviceType"
                mat-flat-button color="primary"
                [disabled]="!form.valid"
                (click)="submitForm(serviceType)"
        ><mat-icon>{{buttonIcon}}</mat-icon>  {{buttonName}}</button>

        <ng-container  *ngIf="!serviceType">
          <button *ngIf="song.radio_status == statusUndone"
                  mat-flat-button color="primary"
                  [disabled]="!form.valid"
                  (click)="submitForm(serviceRadioAllTracks)"
          ><mat-icon>{{buttonIcon}}</mat-icon> <span i18n="@@aMySongForm_sendToAllTracks"
          >Отправить в Радио All Tracks</span> </button>

          <button *ngIf="song.premium_ru_status == statusUndone"
                  mat-flat-button color="primary"
                  [disabled]="!form.valid"
                  (click)="submitForm(serviceRadioSelectedRu)"
          ><mat-icon>{{buttonIcon}}</mat-icon> <span i18n="@@aMySongForm_sendToSelectedRu">Отправить в Радио Selected Russia</span> </button>

          <button *ngIf="song.premium_world_status == statusUndone"
                  mat-flat-button color="primary"
                  [disabled]="!form.valid"
                  (click)="submitForm(serviceRadioSelectedWorld)"
          ><mat-icon>{{buttonIcon}}</mat-icon> <span i18n="@@aMySongForm_sendToSelectedWorld">Отправить в Радио Selected World </span></button>

        </ng-container>
      </div>


    </div>
  </div>
</div>