<div class="alertWrap">
<!--  <h1>!</h1>-->


  <p [innerHTML]="data.message"></p>

  <button class="btn btn-default" (click)="closeAlert()">ОК</button>

<!--  <button type="button" class="close closeAlert" aria-label="Закрыть" (click)="closeAlert()">-->
<!--    <span aria-hidden="true">&times;</span>-->
<!--  </button>-->
</div>