.alertWrap {
    position: relative;
}
.closeAlert {
    position: absolute;
    right: -5px;
    top: -5px;
    color: grey;
    background-color: transparent;
    border: none;
}
.closeAlert:focus {
    outline-color: transparent;
}
.btn-default{
    width: 200px;
    position: relative;
    left: 50%;
    margin-left: -100px;
}