<div class="row no-gutters"  >
  <div class="col-sm-12 p-2">
    <h1><mat-icon>stars</mat-icon>

      <ng-container *ngIf="item">
        <span *ngIf="item.service_type==serviceTypeRadioSelectedRu"> Selected <span i18n="@@aPremiumView_h1SNG">СНГ</span></span>
        <span *ngIf="item.service_type==serviceTypeRadioSelectedWorld"> Selected World</span> <br>
        <span >{{item.song_name}}</span>&#20; <span matRipple
              class="buttonBlueCircle"
              i18n-matTooltip="@@aPremiumView_editTooltip"
              matTooltip="Редактировать"
              routerLink="/artist-my-song-edit/{{item.song.name_hash}}"
        ><mat-icon i18n-aria-label="@@aPremiumView_editTooltip"
                   aria-label="Редактировать">edit</mat-icon></span>
        <span matRipple
              class="buttonBlueCircle"
              i18n-matTooltip="@@aPremiumView_goToTrackTooltip"
              matTooltip="К треку"
              routerLink="/artist-my-song-view/{{item.song.name_hash}}"
        ><mat-icon i18n-aria-label="@@aPremiumView_goToTrackTooltip"
                   aria-label="К треку">visibility</mat-icon></span>

      </ng-container>


    </h1>
    <ng-container *ngIf="item">



      <div class="box bordered tableRow" >
        <div class="row">
          <div class="col-sm-12">
            <span class="badge badge-secondary">{{item.status | status : 'song_in_premium_section'}}</span>
            <wavesurfer-player
                    [song]="item.song"
            ></wavesurfer-player>

            <app-message-form
                    [inQnt]="item.messages_qnt && item.messages_qnt.qnt ? item.messages_qnt.qnt:null"
                    [inQntNotSeen]="item.messages_qnt && item.messages_qnt.qnt ? item.messages_qnt.not_seen:null"
                    [subject_type]="messageSubjectTypeItemInPremiumSection"
                    [subject_id]="item.id.toString()"
                    [userType]="userTypeArtistInPremiumSection"
                    [dialogId]="item.dialog_id"
                    [buttonName]="locale=='ru'?'Сообщения':'Messages'"
            ></app-message-form>

          </div>

          <div class="col-sm-12" >
            <h3 class="mt-3"><span i18n="@@aPremiumView_trackStatusLabel">Статус</span> "{{item.status | status : 'song_in_premium_section'}}"</h3>
            <p *ngIf="item.till_to" class="text-secondary"><span
                    i18n="@@aPremiumView_endPayedPeriodDate">Дата завершения оплаченного периода</span> {{item.till_to*1000 | date: 'dd/MM/yyyy'}}</p>
            <div class="infoText">
              <p *ngIf="item.status == statusInit">
                <span  i18n="@@aPremiumView_trackInProgressByAdmin">Трек успешно загружен и ожидает согласования качества администрацией</span>.
              </p>

              <p *ngIf="item.status == statusApproved">
               <span i18n="@@aPremiumView_trackAwaitsToPayment"> Трек согласован к размещению и ожидает оплаты. </span><br>
                <span i18n="@@aPremiumView_useNeaxtRequisites">Используйте следующие реквизиты</span>: <br>
                {{paymentInfo}}{{item.id}} <br>
                <span i18n="@@aPremiumView_trackPrice">Сумма</span>: {{priceRadioSelectedRu}} <span i18n="@@aPremiumView_rub">руб</span>.
              </p>
              <p *ngIf="item.service_type==serviceTypeRadioSelectedRu && item.status == statusActive"
                 i18n="@@aPremiumView_trackActiveSNGText">
                Трек активен, виден радиостанциям в списке треков <br>и находится в списке рассылки по радиостанциям СНГ.
              </p>
              <p *ngIf="item.service_type==serviceTypeRadioSelectedWorld && item.status == statusActive"
                 i18n="@@aPremiumView_trackActiveWorldText">
                Трек активен, виден радиостанциям в списке треков <br>и находится в списке рассылки по радиостанциям мира.
              </p>
            </div>
          </div>


        </div>
      </div>
    </ng-container>
  </div>
</div>