<div class="menuSide">
  <button
          class="sideLink"
          routerLinkActive="active"
          routerLink="/artist-home" i18n="@@aSidebar_myPage">Моя страница</button>
    <button
            class="sideLink"
            routerLinkActive="active"
            routerLink="/artist-radio-new" i18n="@@aSidebar_mailing">Рассылка на радио</button>
<!--    <button-->
<!--            class="sideLink"-->
<!--            routerLinkActive="active" >Рецензии</button>-->


<!--    <button-->
<!--          class="sideLink"-->
<!--          routerLinkActive="active" >Конкурсы</button>-->

<!--  <button-->
<!--          class="sideLink"-->
<!--          routerLinkActive="active"-->
<!--           >Прочие услуги</button>-->
</div>