<div class="box ">
  <div class="bordered box">
    <span class="heading"
          i18n="@@rSongFilter_blockTitle">Фильтр </span>
    <div class="text-center">


      <div class="btn btn-outline-secondary mb-2 btn-sm"
           *ngIf="isFilterDirty"
           (click)="resetFilter()"
           i18n="@@rSongFilter_resetFilter"
      >Сбросить отбор</div>
    </div>

    <form [formGroup]="filterForm" >

      <!--    <div class="box sortBox mt-0">-->
      <!--      <div class="head">Сортировка</div>-->

      <!--      <span-->
      <!--              class="sortItem pointer"-->
      <!--              [ngClass]="{'active': f.sort.value == 'name'|| f.sort.value == '-name'}"-->
      <!--              (click)="f.sort.value == 'name'?f.sort.setValue('-name'):f.sort.setValue('name');updateFilter('sort','name',$event)"-->
      <!--              [innerHTML]="f.sort.value == 'name'?'Название &#8593;':f.sort.value == '-name'?'Название &#8595;':'Название'"-->
      <!--      ></span>-->

      <!--&lt;!&ndash;      <span&ndash;&gt;-->
      <!--&lt;!&ndash;              class="sortItem pointer"&ndash;&gt;-->
      <!--&lt;!&ndash;              [ngClass]="{'active': f.sort.value == 'date'|| f.sort.value == '-date'}"&ndash;&gt;-->
      <!--&lt;!&ndash;              (click)="f.sort.value == 'date'?f.sort.setValue('-date'):f.sort.setValue('date');updateFilter('sort','date',$event)"&ndash;&gt;-->
      <!--&lt;!&ndash;              [innerHTML]="f.sort.value == 'date'?'Дата &#8593;':f.sort.value == '-date'?'Дата &#8595;':'Дата'"&ndash;&gt;-->
      <!--&lt;!&ndash;      ></span>&ndash;&gt;-->

      <!--&lt;!&ndash;      <span&ndash;&gt;-->
      <!--&lt;!&ndash;              class="sortItem pointer"&ndash;&gt;-->
      <!--&lt;!&ndash;              [ngClass]="{'active': f.sort.value == 'popular'|| f.sort.value == '-popular'}"&ndash;&gt;-->
      <!--&lt;!&ndash;              (click)="f.sort.value == 'popular'?f.sort.setValue('-popular'):f.sort.setValue('popular');updateFilter('sort','popular',$event)"&ndash;&gt;-->
      <!--&lt;!&ndash;              [innerHTML]="f.sort.value == 'popular'?'Популярность &#8593;':f.sort.value == '-popular'?'Популярность &#8595;':'Популярность'"&ndash;&gt;-->
      <!--&lt;!&ndash;      ></span>&ndash;&gt;-->
      <!--    </div>-->



      <div class="row no-gutters">
        <div class="col-md-6 w99per_mff pr-2">
          <mat-form-field >
            <mat-select
                    multiple
                    formControlName="musicStyles"
                    (selectionChange)="updateFilter('musicStyle',false,$event)"
                    i18n-placeholder="@@rSongFilter_musicStyles"
                    placeholder="Стили музыки">
              <mat-option *ngFor="let option of musicStyleOptions " [value]="option">{{option.name}}</mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div class="col-md-6">

          <div>
            <mat-checkbox
                    [checked]="isVocal"
                    (change)="updateFilter('isVocal','',$event)"
                    color="primary"
                    i18n="@@rSongFilter_vocalTrack"
            >Вокальный трек</mat-checkbox>
          </div>
<!--          <div>-->
<!--            <mat-checkbox-->
<!--                    [checked]="isNotVocal"-->
<!--                    (change)="updateFilter('isNotVocal','',$event)"-->
<!--                    color="primary"-->
<!--            >Не вокальный трек</mat-checkbox>-->
<!--          </div>-->


<!--          <div>-->
<!--            <mat-checkbox-->
<!--                    [checked]="isAdult"-->
<!--                    (change)="updateFilter('isAdult','',$event)"-->
<!--                    color="primary"-->
<!--            >Текст для взрослых</mat-checkbox>-->
<!--          </div>-->


          <div>
            <mat-checkbox
                    [checked]="isNotAdult"
                    (change)="updateFilter('isNotAdult','',$event)"
                    color="primary"
                    i18n="@@rSongFilter_noAdultText"
            >Без текста для взрослых</mat-checkbox>
          </div>




          <div class="head"
               i18n="@@rSongFilter_languages"
          >Языки</div>
          <mat-checkbox
                  [checked]="allLanguages"
                  (change)="updateFilter('allLanguages','',$event)"
                  color="primary"
                  i18n="@@rSongFilter_allLanguages"
          >Все языки</mat-checkbox>
          <div
                  formArrayName="languages">
            <div *ngFor="let lang of languages; let ib=index">
              <mat-checkbox
                      *ngIf="f.languages.value[ib]"
                      [checked]="f.languages.value[ib].value"
                      color="primary"
                      (change)="updateFilter('language',ib,$event)"

              >{{f.languages.value[ib].name}} </mat-checkbox>
            </div>
          </div>

        </div>
      </div>


    </form>
  </div>

</div>