.avatarContentWrapper .textCol .heading{
    font-weight: bold;
    margin-bottom: 0;
}
.avatarContentWrapper .textCol .mail{
    color: #000;
}
.avatarContentWrapper .textCol .heading,
.avatarContentWrapper .textCol .mail{
    font-size: .9em;
    line-height: 1;
}
@media only screen and (min-width : 1200px) {
    .avatarContentWrapper .textCol .heading,
    .avatarContentWrapper .textCol .mail{
        font-size: 1.0em;
    }
}


.imageCol,
.artistAvatar{
    width: 100px;
    height: 100px;
    position: relative;
}
@media only screen and (min-width : 1200px) {
    .imageCol,
    .artistAvatar{
        width: 150px;
        height: 150px;
    }
}

.avatarContentWrapper{
    min-height: 100px;
    line-height: .9;
}
@media only screen and (min-width : 1200px) {
    .avatarInfoWrapper{
        min-height: 150px;
    }
}
.editButtonBox{
    width: 100%;
    /*border: 1px solid lightgrey;*/
    position: relative;
    padding: 2px;
    border-radius: 3px;
    border: 1px solid #e0e0e2;
    background-color: #f9f9fa;
    margin-top: .5em;
    margin-bottom: .5em;
}
.closeFormButton{
    position: absolute;
    right: 0;
    top: 0;
    color: lightgrey;
}
.notSeenMessagesSign{
    display: inline-block;
    font-size: .8em;
    width: 2.0em;
    position: relative;
    padding-left: .2em;
    top: .4em;
}
.notSeenMessagesSign .mat-icon{
    font-size: 1.5em;
}
.notificationsQnt{
    background-color: #FF4C00;
    border-radius: 50px;
    padding: 0px 4px;
    color: white;
    position: absolute;
    top: .4em;
    left: 1.5em;
    font-size: .7em;
    border: 2px white solid;

}
.songLink{
    margin-bottom: 0;
}
.songLink a{
    /*color: #0b5fa5;*/
    color: #FF4C00;
}
.songLink .mat-icon-button {
    height: 22px;
}
.radioItemServiseType{
    font-size: .5em;
    display: inline-block;
    color: rgba(0,0,0,.6);
    border: 1px solid rgba(0,0,0,.6);
    border-radius: 50%;
    padding: .2em .3em;
}
.editInfoButton{
    position: absolute;
    cursor: pointer;
    right: .1rem;
    top: .1rem;
    font-size: .8em;
    padding-left: .1em;
    /*color: #FF4C00;*/
    color: #a8a7a7;
    border-left: 1px solid  #a8a7a7;
    border-bottom: 1px solid  #a8a7a7;
    line-height: .8;
    background-color: rgba(255,255,255,.9);
}
.editInfoButton .mat-icon{
    font-size: 1em;
    width: 1em;
    height: 1em;
}

.mainInfo{
    font-weight: lighter;
    line-height: 1.2;
    font-size: .9em;
    padding-top: .7em;
}
h3{
    font-size: 1.3rem;
    font-weight: bold;
}
.listBox{
    padding-top: .25rem;
    padding-bottom: 3rem;
}
.mainColumn{
    padding-left: .4em !important;
    padding-top: .4em !important;
}
@media only screen and (min-width : 1200px) {
    .mainColumn{
        padding-left: .5em !important;
        padding-top: .5em !important;
    }
}

.avatarContentWrapper .imageCol,
.avatarContentWrapper .textCol{
    /*display: inline-block;*/
    display: table-cell;
}
.avatarContentWrapper .textCol{
    padding-left: .5rem;
    vertical-align: top;

}
.avatarContentWrapper .textCol,
.avatarContentWrapper .flexWrap{
    min-height: 100px;
}
@media only screen and (min-width : 1200px) {
    .avatarContentWrapper .textCol,
    .avatarContentWrapper .flexWrap{
        min-height: 150px;
    }
}
.avatarContentWrapper .flexWrap{
    display: flex;
    flex-direction: column;
}
.avatarContentWrapper .textCol .spacer{
    flex: 1;
}
.avatarContentWrapper .textCol .geo{
    flex-shrink: 0;
    margin-top: auto;
    color: #939598;
    font-weight: 600;
    font-size: .9em;
    margin-bottom: 0;
}
@media only screen and (min-width : 1200px) {
    .avatarContentWrapper .textCol .geo{
        font-size: 1.0em;
    }
}
.songsColumn{
    padding-left: 1rem !important;
}
@media only screen and (min-width : 1200px) {
    .songsColumn{
        padding-left: 3rem !important;
    }
}
.imageButtonNote{
    font-size: .5em;
    display: block;
    position: relative;
    top: -.8rem;
    left: 2.7rem;
}