
<div class="row no-gutters"  *ngIf="artist">
    <div class="col-sm-6 col-md-5 col-lg-4 mainColumn">
        <div class="row no-gutters">

            <div
                    *ngIf="!showArtistInfoForm"
                    class="col-sm-12 text-left ">
                <div class="avatarContentWrapper">
                    <div class="imageCol">
                        <figure style="margin: 0;">
                            <picture >
                                <source media="(min-width: 769px)"
                                        srcset="{{apiUrl}}/img/{{artist.image|img:'md'}}" />
                                <source media="(max-width: 768px)"
                                        srcset="{{apiUrl}}/img/{{artist.image|img:'sm'}}" />

                                <img *ngIf="artist.image"
                                     class="artistAvatar"
                                     src="{{apiUrl}}/img/{{artist.image|img:'sm'}}">
                            </picture>
                        </figure>
                    </div>
                    <div class="textCol">
                        <span *ngIf="!showEditButtons"
                              class="editInfoButton"
                              i18n-matTooltip="@@aHome_editMyDataTooltip"
                              matTooltip="Редактировать данные"
                              (click)="showEditButtons=true"><mat-icon>edit</mat-icon></span>
                        <div class="flexWrap">
                            <p class="heading">{{artist.name}}</p>
                            <p *ngIf="authService.user && authService.user.email"
                               class="mail">{{authService.user.email}}</p>

                            <div class="spacer"></div>

                            <p class="geo" >{{artist.city}}{{artist.city&&artist.country?',':null}} {{artist.country}}</p>
                        </div>
                    </div>




                </div>



                    <div *ngIf="showEditButtons" class="editButtonBox">
                        <button mat-icon-button
                                class="closeFormButton"
                                (click)="showEditButtons=false"><mat-icon>close</mat-icon></button>
                        <app-file-upload
                                [mode]="'artistAvatar'"
                                [text]="locale=='ru'?'Загрузить фото':'Upload avatar'"
                                (complete)="onAvatarUploadComplete($event)"></app-file-upload>

                         <span class="imageButtonNote"
                               i18n="@@aHome_imageButtonNote">(формат .jpeg, .png, не менее 1000 x 1000 px. Доступно радиостанциям.)</span>
                        <button
                                mat-button color="primary"
                                (click)="constructUserInfoForm()"
                        ><mat-icon>edit</mat-icon> <span i18n="@@aHome_changeInfoButton">Изменить информацию</span></button>
                    </div>





            </div>

            <div  *ngIf="!showArtistInfoForm"
                    class="col-12">
                <p class="mainInfo nl2br">{{artist?artist.main_info:null}}</p>
            </div>

            <div class="col-12">
                <form  *ngIf="showArtistInfoForm"
                       [formGroup]="artistInfoForm"
                       class="pt-5">
                    <button class="closeFormButton"
                            mat-icon-button type="button"
                            (click)="showArtistInfoForm=false"
                    ><mat-icon>clear</mat-icon></button>


                    <div >

                        <div class="row no-gutters">
                            <div class="col-12 w100per_mff">
                                <mat-form-field >
                                    <input matInput
                                           i18n-placeholder="@@aHome_artistNameFieldPlaceholder"
                                           placeholder="Псевдоним"
                                           formControlName="name"
                                    />
                                    <div *ngIf="aif.name.value &&  aif.name.errors" class="invalid_feedback">
                                        <small class="text-danger"
                                               i18n="@@required_field"
                                               *ngIf="aif.name.errors.required">Поле обязательно к заполнению</small>
                                    </div>
                                </mat-form-field>
                            </div>

                            <div class="col-12 w100per_mff">
                                <mat-form-field >
                                    <input matInput
                                           i18n-placeholder="@@aHome_countryPlaceholder"
                                           placeholder="Страна"
                                           formControlName="country"
                                    />
                                    <div *ngIf="aif.country.value &&  aif.country.errors" class="invalid_feedback">
                                        <small class="text-danger"
                                               i18n="@@required_field"
                                               *ngIf="aif.country.errors.required">Поле обязательно к заполнению</small>
                                        <small class="text-danger"
                                               i18n="@@minimal_length_simv"
                                               *ngIf="aif.country.errors.minlength">Минимальная длина {{aif.country.errors.minlength.requiredLength}} симв.</small>
                                    </div>
                                </mat-form-field>
                            </div>

                            <div class="col-12 w100per_mff">
                                <mat-form-field >
                                    <input matInput
                                           i18n-placeholder="@@aHome_cityPlaceholder"
                                           placeholder="Город"
                                           formControlName="city"
                                    />
                                    <div *ngIf="aif.city.value &&  aif.city.errors" class="invalid_feedback">
                                        <small class="text-danger"
                                               i18n="@@required_field"
                                               *ngIf="aif.city.errors.required">Поле обязательно к заполнению</small>
                                    </div>
                                </mat-form-field>
                            </div>

                            <div class="col-12 w100per_mff">
                                <mat-form-field >
                                    <textarea matInput
                                              i18n-placeholder="@@aHome_mainInfo_placeholder"
                                              placeholder="Инфо"
                                           formControlName="main_info"
                                    > </textarea>
                                    <div *ngIf="aif.main_info.value &&  aif.main_info.errors"
                                         class="invalid_feedback">
                                        <small class="text-danger"
                                               i18n="@@required_field"
                                               *ngIf="aif.main_info.errors.required">Поле обязательно к заполнению</small>
                                    </div>
                                </mat-form-field>
                            </div>
                        </div>


                    </div>


                </form>
                <button *ngIf="showArtistInfoForm"
                        mat-stroked-button color="primary"
                        type="submit"
                        [disabled]="!artistInfoForm.valid"
                        (click)="saveInfo()"
                ><mat-icon>save</mat-icon>  <span i18n="@@aHome_save_changes">Сохранить изменения</span></button>

                <button  *ngIf="showArtistInfoForm"
                         class="ml-1"
                         mat-stroked-button color="primary"
                         (click)="showArtistInfoForm=false"
                ><mat-icon>clear</mat-icon> <span i18n="@@aHome_close_form">Закрыть форму</span></button>

            </div>
        </div>

    </div>
    <div class="col-sm-6 col-md-7 col-lg-8 songsColumn">

        <div  *ngIf="undone && undone.length>0"
              class="undone listBox">
            <h3 i18n="@@aHome_unsetHeader">Неоформленное</h3>
            <p class="songLink"
               *ngFor="let item of undone">
                <a routerLink="/artist-radio-fill-out/{{
                item.radio_status==statusUndone?serviceRadioAllTracks:
                    (item.premium_ru_status==statusUndone?serviceRadioSelectedRu:
                        item.premium_world_status==statusUndone?serviceRadioSelectedWorld:null
                    )
}}/{{item.name_hash}}">{{item.name}}  </a>
                <button mat-icon-button
                        i18n-matTooltip="@@aHome_delete_song"
                        matTooltip="Удалить"
                        (click)="removeSongFromUndone(item.name_hash)"
                ><mat-icon
                        i18n-aria-label="@@delete"
                        aria-label="Удалить">close</mat-icon></button>
            </p>
        </div>

        <div class="radioSection listBox">
            <h3 i18n="@@aHome_allTracksHeader">Мои треки в All Tracks</h3>
            <ng-container  *ngIf="radioSection && radioSection.items_artist_home">
                <p class="songLink"
                   *ngFor="let item of radioSection.items_artist_home">
                    <a routerLink="/artist-radio/{{+item.id}}">{{item.song_name}} <span>[{{item.status| status : 'song_in_radio_section'}}]</span> </a> <ng-container
                        *ngIf="item.messages_qnt && item.messages_qnt.not_seen > 0">
                <span class="notSeenMessagesSign">
                <mat-icon>chat_bubble_outline</mat-icon><span  class="notificationsQnt" >{{item.messages_qnt.not_seen}}</span>
                </span>
                </ng-container>
                    <button *ngIf="item.status == 'radio_section_declined'"
                            mat-icon-button
                            color="primary"
                            class=""
                            i18n-matTooltip="@@aHome_deleteTrackFromRadio"
                            matTooltip="Удалить из радио секции"
                            (click)="removeItemFromRadio(item.id)"
                    ><mat-icon
                            i18n-aria-label="@@aHome_deleteTrackFromRadio"
                            aria-label="Удалить из радио секции">delete</mat-icon></button>
                </p>
            </ng-container>
            <p *ngIf="!radioSection || radioSection.items_artist_home.length==0"
               i18n="@@aHome_noTracksSign"> нет треков </p>
        </div>

        <div *ngIf="premiumSection && premiumSection.items_artist_home.length>0"
             class="premiumSection listBox">
            <h3 i18n="@@aHome_selectedTracksHeader">Мои треки в Selected Tracks</h3>
            <ng-container >
                <p class="songLink"
                   *ngFor="let item of premiumSection.items_artist_home">
                    <a routerLink="/artist-selected/{{item.id}}"><span class="radioItemServiseType">
                        {{item.service_type| status : 'service_type_in_premium_section'}}</span> {{item.song_name}} <span>[{{item.status| status : 'song_in_premium_section'}}]</span> </a> <ng-container
                        *ngIf="item.messages_qnt && item.messages_qnt.not_seen > 0">
                <span class="notSeenMessagesSign">
                <mat-icon>chat_bubble_outline</mat-icon><span  class="notificationsQnt" >{{item.messages_qnt.not_seen}}</span>
                </span>
                </ng-container>
                </p>
            </ng-container>

            <p *ngIf="!premiumSection  || premiumSection.items_artist_home.length==0 "
               i18n="@@aHome_noTracksSign"> нет треков </p>
        </div>


    </div>
</div>


