.menuSide {
    /*background-color: #e0dede;*/
    background-color: #F2F2F2;
}

.sideLink {
    width: 100%;
    text-align: left;
    background-color: #ffffff;
    color: #000000;
    line-height: 19px;
    font-size: .9em;
    border:1px solid #dddbdb;
    border-top: 0 solid transparent;
    padding: 15px 10px 15px 15px;
    cursor: pointer;
    position: relative;
}
.sideName {
    width: 100%;
    text-align: center;
    background-color: #2f3c48;
    color: #999;
    /*border:1px solid #2f3c48;*/
    /*border-top: none;*/
    padding: 15px 10px 15px 15px;
    cursor: default;
    line-height: 19px;
    font-size: 12px;
}
.sideLink:hover {
    background-color: #f9f7f7;
}
.sideLink.active:before{
    content: '';
    position: absolute;
    bottom: 10px;
    left: 15px;
    /*background-color: #f9f7f7;*/
    background-color: #FF4C00;
    width: 50px;
    height: 2px;

}