<div class="menuSide">
  <button
          class="sideLink"
          routerLinkActive="active"
          routerLink="/media-home" > Медиа</button>
  <button
          class="sideLink"
          routerLinkActive="active"
          routerLink="/media-tenders" > Конкурсы</button>
  <button
          class="sideLink"
          routerLinkActive="active"
          routerLink="/media-reviews" > Рецензии</button>
  <button
          class="sideLink"
          routerLinkActive="active"
          routerLink="/media-other" > Прочее</button>

</div>