
<div class="row">
  <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
    <div  class="item-view container contentBox shadowed text-center">

      <h3 class=" head mt-3"
          i18n="@@passResetForm_header">Изменение пароля</h3>
      <form [formGroup]="form"  (submit)="onSubmit()">


        <div class="row text-center_less768">
          <div class="col-sm-6 text-right_more768">
            <mat-form-field  >
                <input matInput
                       type="password"
                       i18n-placeholder="@@passResetForm_newPassword"
                       placeholder="Новый пароль"
                       formControlName="password"
                       required>

<!--              <div *ngIf="f.email.touched && f.email.errors" class="invalid_feedback">-->
<!--                <small *ngIf="f.email.errors.required"-->
<!--                       class="text-danger">Обязательное поле</small>-->

<!--                <small *ngIf="f.email.errors.email"-->
<!--                       class="text-danger">Допускается только email</small>-->
<!--              </div>-->
            </mat-form-field>

          </div>
          <div class="col-sm-6 text-left_more768">
            <mat-form-field  >
                <input matInput
                       type="password"
                       i18n-placeholder="@@passResetForm_confirmPassword"
                       placeholder="Подтверждение пароля"
                       formControlName="confirmPassword">
            </mat-form-field>
          </div>
            <div class="col-12 text-center">
                <sup *ngIf="f.errors">
                    <mat-error *ngIf="f.errors.notSame"
                               i18n="@@passResetForm_errPasswordNotSame">
                        Пароли не совпадают
                    </mat-error>
                </sup>
            </div>

        </div>




        <div class="row nameFields no-gutters">

          <div class="col-sm-12 text-center">
            <button mat-raised-button color="primary"
                    [disabled]="!form.valid"
                    i18n="@@passResetForm_submitButton"
                    type="submit">Изменить</button>
          </div>

        </div>

      </form>
    </div>
  </div>
</div>

<div class=" mt-4">
  <div *ngIf="loading" class="app-loading">
    <svg class="spinner" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
  </div>

</div>