<div class="wrapper">

    <span
            [matMenuTriggerFor]="langDropdown" class="switchIcon">

        <svg version="1.1"
             xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             x="0px" y="0px"
             viewBox="0 0 40 40"
             style="enable-background:new 0 0 40 40;"
             xml:space="preserve">
            <style type="text/css">
                .st0{fill:none;}
                .lang_st1{fill:none;stroke:#FF4C00;stroke-miterlimit:10;stroke-width:2px;}
            </style>
            <path class="st0" d="M7.9,8h24v24h-24V8z"/>
            <circle class="lang_st1" cx="19.9" cy="20" r="16.7"/>
            <path class="lang_st1" d="M19.9,3.4c-3.7,4.5-6,10.3-6,16.7s2.3,12.1,6,16.7"/>
            <path class="lang_st1" d="M19.8,3.4c3.7,4.5,6,10.3,6,16.7s-2.3,12.1-6,16.7"/>
            <line class="lang_st1" x1="4" y1="15" x2="35.8" y2="15"/>
            <line class="lang_st1" x1="4" y1="25.2" x2="35.8" y2="25.2"/>
            </svg>
<!--          <mat-icon class="eq">language</mat-icon>-->
        <sup>{{siteLocale}}</sup>
  </span>



    <mat-menu #langDropdown="matMenu">

<!--         routerLinkActive="active" -->
        <button *ngIf="siteLocale!='en'"
                mat-menu-item
                (click)="changeTo('en')">English</button>

        <button *ngIf="siteLocale!='ru'"
                mat-menu-item
                (click)="changeTo('ru')">Russian</button>

    </mat-menu>



</div>







<!--<select-->
<!--        *ngIf="!isDev || true"-->
<!--        [(ngModel)]="siteLocale"-->
<!--        #language-->
<!--        (change)="onChange(language.value)"-->
<!--&gt;-->
<!--    <option *ngFor="let lang of languageList" [value]="lang.code">-->
<!--        {{ lang.label }}-->
<!--    </option>-->
<!--</select>-->