.switchIcon{
  font-size: 1.25em;
  svg{
    width: 1.6em;
    height: 1.6em;

  }
  sup{
    font-size: .6em;
    position: relative;
    top: -.8em;
  }
}

@media only screen and (min-width : 1200px) {
  .switchIcon{
    font-size: 1.5em;
  }
}