ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#file-label {
    display: inline-flex;
    vertical-align: middle;
    font-size: 12px;
    line-height: 18px;
}

#file-label mat-icon {
    font-size: 18px;
    text-align: center;
}

#file-label a {
    cursor: pointer;
}
.link{
    color: #000;
    transition: color .5s;
    cursor: pointer;
}
.link:hover{
    color: #0B5FA5;
    transition: color .5s;
}