<!-- file upload -->
<script src="file-upload.component.ts"></script>
<button *ngIf="buttonType=='mat-button'"
        mat-button
        color="{{buttonColor}}"
        (click)="onClick()">
  <mat-icon *ngIf="!noIcon">{{icon}}</mat-icon>
  {{text}}
</button>
<button *ngIf="buttonType=='mat-flat-button'"
        mat-flat-button
        color="{{buttonColor}}"
        (click)="onClick()">
  <mat-icon *ngIf="!noIcon">{{icon}}</mat-icon>
  {{text}}
</button>




<a *ngIf="buttonType=='link'"
            class="link"
        (click)="onClick()"
   [innerHTML]="text"
></a>

<br/>
<ul class="mt-2">
  <li *ngFor="let file of files"
      [@fadeInOut]="file.state">
    <mat-progress-bar [value]="file.progress"></mat-progress-bar>
            <span id="file-label">
            {{file.data.name}}
            <a title="Retry"
               (click)="retryFile(file)"
               *ngIf="file.canRetry">
              <mat-icon>refresh</mat-icon></a>
            <a title="Cancel"
               (click)="cancelFile(file)"
               *ngIf="file.canCancel">
              <mat-icon>cancel</mat-icon></a>
            </span>
  </li>
</ul>
<input type="file"
       id="fileUpload"
       name="fileUpload"
       multiple="multiple"
       accept="{{accept}}"
       style="display:none;"/>