.imageFixedWidthBox{
    flex: 0 0 100px;
    padding-right: .3em;
}
@media only screen and (max-width : 1365px) {
    .imageFixedWidthBox{
        flex: 0 0 90px;
    }
}
@media only screen and (max-width : 1200px) {
    .imageFixedWidthBox{
        flex: 0 0 70px;
    }
}
@media only screen and (max-width : 991px) {
    .imageFixedWidthBox{
        flex: 0 0 60px;
    }
}

.imageFixedWidthBox img{
    width: 100%;
}
.commentAuthorName, .commentAuthorGeo{
    display: block;
}
.commentAuthorName{
    font-size: 1em;
    font-weight: 300;
    line-height: 1.2;

}
.commentAuthorGeo{
    font-size: .9em;
    font-weight: 400;
    line-height: 1.2;
    padding-bottom: .5em;
}
.commentText{
    font-size: .9em;
    font-weight: 400;
    line-height: 1.2;
}
.singleCommentBox{
    margin-bottom: 1em;
}