<div *ngIf="comments">
    <div class="row no-gutters singleCommentBox" *ngFor="let comment of comments; let i=index">
        <div class="imageFixedWidthBox">

            <img *ngIf="comment.author && comment.author.image"
                 alt="image {{comment.author.name}}"
                 title="{{comment.author.name}}"
                 src="{{apiUrl}}img/{{comment.author.image|img:'sm'}}">

            <ng-container *ngIf="comment.author && !comment.author.image">

                <img *ngIf="comment.author_type == authorTypeRadio"
                     alt="no image {{comment.author.name}}"
                     src="{{apiUrl}}img/{{replaceNoimageRadio|img:'sm'}}">

                <img *ngIf="comment.author_type == authorTypeArtist"
                     alt="no image {{comment.author.name}}"
                     src="{{apiUrl}}img/{{replaceNoimageArtist|img:'sm'}}">

            </ng-container>

        </div>
        <div class="col">
            <ng-container  *ngIf="comment.author">
                <span class="commentAuthorName">{{comment.author.name}}</span>
                <span class="commentAuthorGeo">
                                                <span *ngIf="comment.author.country">{{comment.author.country}}</span>
                                                 <span *ngIf="comment.author.country && comment.author.city">, </span>
                                                <span *ngIf="comment.author.city">{{comment.author.city}}</span>
                                            </span>
            </ng-container>
            <p class="commentText nl2br" [innerHTML]="comment.text" ></p>

        </div>
    </div>


</div>