<!--*ngIf="artist"-->
<div class="row no-gutters"  >
  <div class="col-sm-12 p-2">
    <h1>Мои треки</h1>
    <app-file-upload
            [mode]="'artistSong'"
            [text]="'Загрузить трек'"
            [accept]="'.mp3,.wav'"
            (complete)="onSongUploadComplete($event)"></app-file-upload>

    <ng-container *ngIf="songs">
      <div class="box bordered tableRow heading" >
        <div class="row">
          <div class="col-sm-10">
          </div>
          <div class="col-sm-2">
            Действие
          </div>
        </div>
      </div>

      <div class="box bordered tableRow" *ngFor="let song of songs; let i=index">
        <div class="row">
          <div class="col-sm-10">
            <wavesurfer-player [song]="song"></wavesurfer-player>

          </div>
          <div class="col-sm-2 color-primary">
            <span mat-icon-button
                  matTooltip="Перейти"
                  class="pointer"
                  routerLink="/artist-my-song-view/{{song.name_hash}}"
            ><mat-icon aria-label="Перейти">visibility</mat-icon></span>
            <span mat-icon-button
                  class="pointer"
                  matTooltip="Редактировать"
                  routerLink="/artist-my-song-edit/{{song.name_hash}}"
            ><mat-icon aria-label="Редактировать">edit</mat-icon></span>
            <span mat-icon-button
                  class="pointer"
                  matTooltip="Удалить"
                  (click)="deleteSong(song.name_hash)"
            ><mat-icon aria-label="Удалить">delete</mat-icon></span>

            <span mat-icon-button
                  class="pointer"
                  matTooltip="Отправить на радио"
                  (click)="toRadio(song.name_hash)"
            ><mat-icon aria-label="Удалить">radio</mat-icon></span>
          </div>
        </div>
      </div>
    </ng-container>

  </div>
</div>