.infoText{
    color: #6c757d;
    font-weight: lighter;
    line-height: 1.2;
}
.content_with_padding{
    padding-left: 200px;
}
@media only screen and (max-width : 1199px) {
    .content_with_padding{
        padding-left: 130px;
    }
}
@media only screen and (max-width : 767px) {
    .content_with_padding{
        padding-left: 0;
    }
}
h1{
    background-color: #ff4c00;
    width: 190px;
    padding: .5em .5em 2em ;
    font-size: 1.5em;
    margin: .5em;
}
@media only screen and (max-width : 1199px) {
    h1{
        width: 120px;
        font-size: 1.4em;
    }
}
@media only screen and (max-width : 767px) {
    h1{
        width: 120px;
        font-size: 1.2em;
    }
}
.heading{
    font-weight: 300;
    line-height: 1.2;
    font-size: 1.2em;
}
@media only screen and (max-width : 1199px) {
    .buttonWidthBox .heading{
        font-size: 1.1em;
    }
}
.leftCol{
    /*padding-right: 5em !important;*/
}
.rightCol{
    padding-right: 2em !important;
}
.buttonWidthBox{
    width: 15vw;
}
@media only screen and (max-width : 1199px) {
    .buttonWidthBox{
        width: 19vw;
    }
}
@media only screen and (max-width : 575px) {
    .buttonWidthBox{
        width: 80vw;
    }
}
.orderButton{
    width: 100%!important;
    /*min-width: unset!important;*/
    font-weight: 300;
    font-size: 1.2em;
    height: 1.6em;
    line-height: 1.6em !important;
}
@media only screen and (max-width : 767px) {
    .orderButton{
        width: unset !important;
    }
}
.showSelectSelectedBox .orderButton{
    position: relative;
    top: -.25rem;
}
.showSelectSelectedBox{
    margin-bottom: 1rem;
}
.price{
    text-align: right;
    font-weight: 300;
    line-height: 1.2;
    font-size: 1.2em;
}
.mb1rem{
    margin-bottom: 1rem;
}
.price .name{
    font-size: .7em;
}
@media only screen and (min-width : 576px) and (max-width : 731px) {
    .price{
        font-size: .9em;
    }
}
.newTrackBack{
    padding: 1.5rem;
}
.newTrackBox{
    background-color: #e0dede;
    position: relative;
}
.formHeading{
    color: rgba(0,0,0,.2);
    display: block;
    margin-bottom: 0;
    font-size: 1.2em;
}