<div class="row no-gutters"  >
    <div class="col-sm-12 ">
        <h1>your <br>
            track is on <br>
            the radio</h1>
    </div>
    <div class="content_with_padding">
        <div class="row no-gutters">
            <div class="col-12 p-2">
                <p i18n="@@uRadioMailing_info1"
                   class="infoText">Каждый музыкант хочет чтобы его музыка звучала по радио. И желательно во всем мире. Но для независимых музыкантов добиться этого очень не просто. Мы стараемся им в этом помочь. В нашей рассылке более 5000 станций по всему миру.<br>
                    Мы рассылаем музыку в стиле pop, electronica, AC, soft rock, easy listening, chill out, love songs и все, что можно услышать по мейнстримовым и около мейнстримовым радиостанциям.
                </p>
                <p  i18n="@@uRadioMailing_info2"
                    class="infoText">Думаю, вы согласитесь с тем, что люди вряд ли будут включать на радио, скажем в Люксембурге, песни на русском языке, поэтому вы можете сами выбирать страны рассылки. В страны СНГ входят и русскоязычные радиостанции по всему миру.</p>

            </div>
            <div class="col-12 p-2">
                <div class="row no-gutters">

                    <!--         left column           -->
                    <div class="col-sm-5 col-md-5 col-lg-4 leftCol">
                        <div class="buttonWidthBox">
                            <p i18n="@@uRadioMailing_uploadToRadio"
                               class="heading">Загрузить трек <br>
                                в радио-директорию
                            </p>


                            <button
                                    mat-flat-button
                                    class="orderButton"
                                    color="warn"
                                    routerLink="/signup"
                            >All Tracks</button>



<!--                            <p class="price"-->
<!--                               i18n="@@uRadioMailing_priceTagRub"> {{priceRadioAllTracks}} руб</p>-->
                            <p i18n="@@uRadioMailing_info3Radio"
                               class="infoText mt-3">
                                Вы можете разместить свой трек в директории к которой имеют доступ радиостанции. Они смогут послушать ваш трек, скачать и написать отзывы.
                            </p>

                        </div>

                    </div>



                    <!-- right column -->
                    <div class="col-sm-7 col-md-7 col-lg-8 rightCol">
                        <div class="buttonWidthBox">
                            <p i18n="@@uRadioMailing_uploadToRadioSelected"
                               class="heading">Загрузить трек <br>
                                в радио-директорию
                            </p>

                            <button
                                    mat-flat-button
                                    class="orderButton"
                                    color="warn"
                                    routerLink="/signup"
                            >Selected Tracks</button>


<!--                            <p-->
<!--                               class="price">-->
<!--                                <span class="name">СНГ</span> {{priceRadioSelectedRu}} руб<br>-->
<!--                                <span class="name">весь мир</span>  {{priceRadioSelectedWorld}} руб</p>-->


                        </div>


                        <p i18n="@@uRadioMailing_info4YouCan"
                           class="infoText mt-3">
                            Вы можете разместить свой трек в директории к которой имеют доступ радиостанции. Они смогут послушать ваш трек, скачать и написать отзывы.
                        </p>
                        <p  i18n="@@uRadioMailing_info5Mailing"
                            class="infoText">
                            Здесь треки не только помещаются в отдельную директорию, но и ссылки на них рассылаются по радиостанциям. Поместить свою работу в данную категорию можно только после нашего утверждения.
                        </p>

                    </div>

                </div>

            </div>
        </div>

    </div>

    <div class="col-12 text-center pt-4">
        <p i18n="@@uRadioMailing_info6Testing"
           class="infoText">
            Внимание! Сайт работает в тестовом режиме. <br>
            Если у вас есть вопросы, напишите нам. <br>
            content@songwriters.com
        </p>
    </div>

</div>

