<div class="p-3">

    <ng-template [ngIf]="locale=='ru'"
                 [ngIfElse]="ifNoRuLocaleBlock">
        <h1 class="text-center">СОГЛАШЕНИЕ<br>
            о предоставлении услуг</h1>
        <p class="text-right">01.11.2020</p>
        <p>Перед использованием сайта songwriters.pro (далее Сайт) внимательно ознакомьтесь с данным Соглашением. Использование Сайта разрешено только в случае полного и безоговорочного принятия Вами условий, изложенных в настоящем Соглашении. Если Вы не согласны с настоящими Соглашением, не используйте Сайт. Используя Сайт, Вы принимаете данное Соглашение и обязуетесь его соблюдать.</p>
        <p>1. Общие положения</p>
        <p>1.1 Настоящее Соглашение по использованию Сайта определяет условия взаимоотношений между администрацией Сайта (далее Администрация) и пользователем Сайта (далее Пользователь) в дальнейшем именуемые Сторонами.</p>
        <p>1.2  Каждая из Сторон гарантирует, что обладает всеми необходимыми правами и полномочиями для заключения и исполнения настоящего Соглашения в соответствии с его условиями.</p>
        <p>1.3 Действующая версия Соглашения размещена на Сайте и открыта для ознакомления Пользователем до момента принятия им условий настоящего Соглашения</p>
        <p>1.4 Заходя на сайт или Регистрируясь на Сайте, Пользователь принимает условия данного Соглашения и Соглашение вступает в силу.</p>
        <p>1.5 Условия настоящего Соглашения могут быть изменены Сайтом без предварительного уведомления. Новая редакция Соглашения вступает в силу с момента опубликования ее на Сайте если не предусмотрено иное.</p>
        <p>2. Основные термины</p>
        <p>2.1 Регистрация – самостоятельное сообщение Пользователем Администрации сведений о себе путём внесения их в форму электронной регистрации на Сайте с целью последующего получения доступа к Услугам, оказываемым Администрацией.</p>
        <p>2.2 Учётная запись (далее Аккаунт) – данные Пользователя на Сайте, а также данные о предоставленных ему Услугах.</p>
        <p>2.3 Музыкальное произведение – музыкальная фонограмма, права на которую принадлежат Пользователю или Пользователь уполномочен получить услуги Сайта правообладателями данного произведения.</p>
        <p>2.4 Артист – Пользователь, зарегестрировавшийся с целью участия своими Музыкальными произведениями в Конкурсах, получения на них Рецензий, рассылки их на Радиостанции и прочих доступных на Сайте услуг.</p>
        <p>2.5  Лейбл – Пользователь, являющийся представителем музыкального Лейбла.</p>
        <p>2.6 Радиостанция – Пользователь, представляющий радиостанцию или иного вещателя Музыкальных произведений Артиста или Лейбла.</p>
        <p>2.7 Рецензент – Администрация или третьи лица, пишущие Рецензию на Музыкальное произведение по заказу Пользователя.</p>
        <p>2.8 Музыкальный редактор – Пользователь, организующий на Сайте Конкурс для подбора Музыкальных произведений с целью использования их в кино, рекламе или ином аудиовизуальном продукте.</p>
        <p>2.9 Территория – территория на которой Пользователю Сайтом оказываются услуги.</p>
        <p>2.10 Демо – Музыкальное произведение не обладающее надлежащим звучанием и созданное для донесения идеи или навыков автора. При определенных условиях Демо может быть загружено для участия в Конкурсе или заказа на него Рецензии.</p>
        <p>3. Услуги, предоставляемые Пользователю</p>
        <p>3.1 Возможность для Артистов и Лейблов участия в Конкурсах, помещение Музыкального произведения в директории доступные Радиостанциям, рассылка уведомлений Радиостанциям о помещении Музыкального произведения в такую директорию, получение Рецензий на Музыкальное произведение, помощь в приобритении профессионального звукового и светового оборудования и инсрументов, запись и обработка Музыкальных произведений Пользователя или его частей.</p>
        <p>3.2 Возможность для Музыкальный редакторов создания Конкурсов для подбора Музыкальных произведений с целью использования их в кино, рекламе или ином аудиовизуальном продукте.</p>
        <p>3.3 Возможность для Радиостанций ознакомления с Музыкальными произведениями и их скачивания для последующей передачи в эфир.</p>
        <p>3.3 Вся информация, касающаяся заказанных или релевантных услуг отображается в Аккаунте Пользователи или присылается ему на адрес указанной им электронной почты.</p>
        <p>4. Права и обязанности Сторон</p>
        <p>4.1 Права и обязанности Пользователя</p>
        <p>4.1.1 При работе с Сайтом Пользователь обязан предоставлять Администрации всю необходимую и достоверную для этого информацию, а также своевременно обновлять ее на своем Аккаунте.</p>
        <p>4.1.2 При регистрации на Сайте Пользователь не имеет права указывать сведения другого лица и осуществлять действия от его имени, не имея на это оформленных надлежащим образом полномочий.</p>
        <p>4.1.3 Пользователь может самостоятельно устанавливать Территорию оказания Сайтом услуг и осуществлять выбор Рецензентов. Рецензии предоставляются на языке Рецензента, указанном на Сайте на странице Рецензента.</p>
        <p>4.1.4 При передаче Артистом или Лейблом Музыкального произведения для осуществления Сайтом оказания услуг, Пользователь подтверждает, что он обладает всеми правами на данное Музыкальное произведение либо уполномочен на это всеми правообладателями данного Музыкального произведения.</p>
        <p>4.1.5 Пользователь обязан за свой счет самостоятельно и своевременно урегулировать все спорные вопросы с обладателями исключительных авторских и смежных прав на Музыкальное произведение и другую загружаемую информацию согласно действующему законодательству для возможности оказания Сайтом услуг.</p>
        <p>4.1.6 Загружая на Сайт Музыкальное произведение Пользователь предоставляет Администрации, другим Пользователям Сайта и третьим лицам неисключительную лицензию на использование Музыкального произведения для передачи его в эфир, участия в Конкурсе, написание на него Рецензии.</p>
        <p>4.1.7 Пользователь обязуется предоставить по первому требованию Администрации все необходимые документы, подтверждающие его личность и правомочность загрузки на сайт Музыкального произведения.</p>
        <p>4.1.8 Пользователь обязуется не использовать Сайт для загрузки файлов, содержащих рекламную информацию, вирусы, призывы к насилию, разжиганию межнациональной розни и нарушающие законы и нормативные акты, а также файлы нарушающие функционирование Сайта.</p>
        <p>4.1.9 Все расходы на судебные издержки при нарушении Пользователем законов об авторских правах или законов государства несет Пользователь.</p>
        <p>4.1.10 Радиостанция обязуется скачивать с Сайта Музыкальное произведение только для передачи его в эфир. При этом Радиостанция обязана указать Музыкальное произведение надлежащим образом в списках воспроизведения на своей странице в интернете и передачи таких списков кому-либо.</p>
        <p>4.1.11 Музыкальный редактор обязуется скачивать с Сайта Музыкальное произведение только для демонстрации его заказчику.</p>
        <p>4.1.12 При размещении на Сайте Демо пользователь обязан по требованию Администрации довести его до надлежащего качества в течении четырех дней.</p>
        <p>4.1.13 Пользователь имеет право удалить или скрыть рецензию на свое Музыкальное произведение.</p>
        <p>4.1.14 Пользователь имеет право удалить свой Аккаунт и свои Музыкальные произведения с Сайта после чего вся информация об оказанных услугах удаляется. При повторной Регистрации на Сайте данная информация повторно загружается Пользователем на общих условиях.</p>
        <p>4.1.15 При нарушении авторских и смежных прав, законов и нормативных актов Пользователь продолжает нести ответственность даже после удаления Аккаунта.</p>
        <p>4.1.16 Пользователь имеет право использовать Рецензии или части Рецензий по своему усмотрению, но не изменяя текста и применяя их только к Музыкальному произведению на которое была написана Рецензия.</p>
        <p>4.1.17 Администрация не несет ответственности за действия Радиостанций и Музыкальных редакторов относительно Музыкальных произведений которые они скачали.</p>
        <p>4.2 Права и обязанности Администрации</p>
        <p>4.2.1 Администрация вправе приостановить оказание услуг в отношении Музыкального произведения или Пользователя без объяснения причин.</p>
        <p>4.2.2 Администрация имеет право отправлять Пользователю информационные сообщения, используя для этого уведомления на Сайте и электронную почту.</p>
        <p>4.2.3 Администрация обязуется обеспечить доступ Радиостанциям к Музыкальным произведениям относительно которых была осуществлена Услуга, заказанная Пользователем.</p>
        <p>4.2.4 Администрация обязуется не вносить изменения в Музыкальное произведения баз согласия правообладателей.</p>
        <p>4.2.5 Администрация не несет ответственности за содержание рецензиций и обязана предоставить Пользователю заказанную рецензию по электронной почте и с загрузкой на сайт в течении десяти дней с момента оплаты если не указано иное относительно конкретного Рецензента.</p>
        <p>4.2.6 Администрация не несет ответственности за действия/бездействия Радиостанций и Музыкальных Редакторов относительно Музыкальных произведений.</p>
        <p>4.2.7 Администрация прилагает все возможное для того, чтобы доступ к Музыкальным произведениям получили только действующие Радиостанции, но не несет ответственности за предоставление доступа к Музыкальным произведениям случайным лицам в следствии противоправных действий против Сайта либо ошибочных данных.</p>
        <p>4.2.8 Администрация обязуется предоставить Пользователю или его уполномоченному представителю доступ к информации с отчетом о предоставленных ранее услугах путем опубликования ее на страницах Сайта.</p>
        <p>4.2.9 Администрация обязуется переместить Музыкальное произведение в директорию, доступную Радиостанциям в течении трех дней с момента оплаты соответствующей услуги, после чего Музыкальное произведение будет находится там не менее 180 дней.</p>
        <p>4.2.10 Администрация имеет право не указывать имя Пользователя и название Музыкального произведения при подаче его на Рецензирование или Конкурс.</p>
        <p>4.2.11 Администрация имеет право опубликовать Музыкальное произведение, размещенное в директории с доступом Радиостанций, в сопровождении официального или не официального видеоряда на своих страницах сервисов facebook.com и youtube.com. Пользователь может уведомить Администрацию о нежелании подобного размещения перед оплатой данной услуги.</p>
        <p>4.2.12 Администрация имеет право привлекать для обеспечения работы Сайта третьих лиц, но несет ответственность за качество выполнения ими работ.</p>
        <p>4.2.13 Администрация не берет на себя никаких обязательств и не несет ответственности за неприемлемый пользовательский контент или поведение Пользователя. Несмотря на это, Администрация оставляет за собой право расследовать и принимать надлежащие меры, включая судебные иски, против любого, кто по усмотрению Администрации нарушает настоящее Соглашение, включая сообщение об этом в правоохранительные органы и раскрытие загруженной таким пользователем информация любому третьему лицу для надлежащего функционирования Сайта, для защиты Администрации и Сайта, партнеров по бизнесу и Пользователей, а также соблюдения правовых обязательств или правительственных запросов.</p>
        <p>5. Услуги и цены, порядок расчётов</p>
        <p>5.1 Администрацией взымается полная авансовая плата за рецензирование Музыкалного произведения и его размещение в директории с доступом Радиостанций согласно тарифам, указанным на Сайте.</p>
        <p>5.2 После оказания услуги оплаченные средства возврату не подлежат.</p>
        <p>5.3 Возврат денежных средств производится по требованию, присланному в течении 24 часов с момента оплаты на адрес электронной почты за вычетом всех издержек по переводу денежных средств в сроки, установленные используемыми платежными системами.</p>
        <p>5.4 Вознаграждение за победу в Конкурсе назначает Музыкальный редактор. Комиссия сайта составляет 30%. Сроки и условия вылаты вознаграждения прописываются в отдельном Договоре.</p>
        <p>6. Срок действия Соглашения и порядок его расторжения</p>
        <p>6.1 Настоящее Соглашение вступает в силу с момента регистрации Пользователя на Сайте и действует в течение всего срока использования Сайта Пользователем.</p>

        <p>6.2 Пользователь имеет право расторгнуть данное Соглашения путем удаления с Сайта своего аккаунта.
        </p>

        <p>6.3 Настоящее Соглашение является офертой и в силу действующего гражданского законодательства РФ Администрация имеет право на отзыв оферты в соответствии со ст. 436 ГК РФ. Соглашение считается прекращенным с момента отзыва. Отзыв осуществляется путем размещения соответствующей информации на Сайте. </p>
        <p>7. Ответственность сторон. Разрешение споров.</p>
        <p>7.1 Стороны несут ответственность за ненадлежащее исполнение взятых на себя обязательств по настоящему Соглашению.</p>
        <p>7.2 В случае предъявления к Администрации претензий, требований или исков со стороны третьих лиц, связанных с нарушением Пользователем авторских прав или законов, последний обязуется принять необходимые меры для урегулирования всех спорных вопросов, а также возместить Администрации все убытки, возникшие у Администрации в результате предъявления ей претензий, требований или исков.</p>
        <p>7.3 Все споры и разногласия, которые могут возникнуть между Сторонами по вопросам не рассмотренным в данном Соглашении, будут разрешаться путем переговоров на основе действующего российского законодательства.</p>
        <p>7.6 При невозможности урегулирования разногласий и спорных вопросов в процессе переговоров, споры между Администрацией и юридическими лицами разрешаются в Арбитражном суде по месту нахождения Администрации (если иное прямо не предусмотрено законодательством) в порядке, установленном действующим российским законодательством.</p>
        <p>8. Нарушение авторских прав</p>
        <p>8.1 При уведомлении Администрации о нарушении авторских прав, доступ к файлам или информации, являющейся предметом уведомления, блокируется.</p>
        <p>8.2 Автор уведомления должен обладать авторскими правами либо быть представителем автора, написать письмо в форме заявление, предоставить полную информацию о нарушении и контактную информацию.</p>
        <p>8.3 Если Пользователь не согласен с нарушением, то он и автор уведомления должны самостоятельно урегулировать данные разногласия и сообщить Администрации о своем решении и дальнейших намерениях по использованию Сайта. При этом автор уведомления и Пользователь согласны на обмен данными. Администрация не является посредником при урегулировании разногласий между автором уведомления и Пользователем.</p>
        <p>9. Переходы на сторонние страницы и некорректная работа Сайта</p>
        <p>9.1 При переходе по рекламным ссылкам пользователь переходит на сторонние страницы, ответственность за содержание и политику которых Администрация не несет.</p>
        <p>9.2 Администрация стремится поддерживать безукоризненную работу Сайта, но не гарантирует отсутствие технических ошибок и не несет ответственности за подобные ошибки и потерю информации Пользователей в связи с такими ошибками.</p>
        <p>12. Обстоятельства непреодолимой силы</p>
        <p>12.1 Стороны не несут ответственность за неисполнение, либо ненадлежащее исполнение обязательства по настоящему договору, если докажут, что это произошло вследствие наступления обстоятельств непреодолимой силы (форс-мажор), возникших после заключения настоящего Договора в результате событий чрезвычайного характера, которые Стороны не могли ни предвидеть, ни предотвратить разумными мерами, и Стороны предприняли все возможные и зависящие от них меры по надлежащему исполнению своих обязанностей. К форс-мажорным обстоятельствам относятся, в частности: военные действия, воздействие сил природы (землетрясение, наводнение и т.д.), решения государственных органов, хакерские атаки на Сайт.</p>
        <p>12.3 В случае возникновения форс-мажорных обстоятельств срок выполнения обязательств по настоящему договору переносится на период, в течение которого действуют такие обстоятельства и их последствия.</p>
    </ng-template>
    <ng-template #ifNoRuLocaleBlock>
        <h1 class="text-center">Terms of use</h1>

        <p class="text-right">August 1, 2022</p>

        <p>Songwriters.pro is a web platform that allows holders of rights to a musical work or their legal representatives including music label representative (each, a "Holder") to license such work to third parties such as Radiostation or Pitchers (each, a “User") or get a review of Holder’s music work (“Review”). The services offered by Songwriters.pro ("Songwriters.pro," "we," "us" or "our") include the website www.songwriters.pro (the "Site") and any services, and Content of the Site (the "Services"). </p>
        <p>PLEASE READ THIS AGREEMENT CAREFULLY. BY BROWSING OR USING THE SITE YOU ARE INDICATING THAT YOU HAVE READ AND AGREE TO BE BOUND BY THIS AGREEMENT. IF YOU DO NOT AGREE WITH THIS AGREEMENT, DO NOT ACCESS THE SITE AND DELETE YOUR ACCOUNT.</p>
        <p>We may modify this Agreement at any time and from time to time in our sole discretion without notice and such modifications shall be effective upon posting.</p>
        <p>This Agreement on the use of the Site determines the terms of the relationship between the administration of the Site (hereinafter the Administration) and the visitor or registered user of the Site (hereinafter referred to as the User) hereinafter referred to as the Parties.</p>
        <p>The current version of the Agreement is posted on the Site and is open for review by the User.</p>
        <p>By accessing the site or by registering on the Site, the User accepts the terms of this Agreement and the Agreement enters into force.</p>
        <h3>1.Definitions</h3>
        <p>“Registration” means a submission of information about himself by the User to the Administration by entering it into the electronic registration to the Administration by entering it into the electronic registration form on the Site in order to subsequently gain access to the Services provided by the Administration.</p>
        <p>"Account" means portion of the Site on which a registered person posts various information about oneself, musical works and other Content, some of which is intended to be published for other Members or Visitors.</p>
        <p>“Musical work” means musical composition that the Rights Holder has made available to Songwriters.pro for delivery on the Site in accordance with this Agreement. Any musical composition provided by or on behalf of the Rights Holder must be owned or controlled by the Rights Holder or have been cleared by the Rights Holder.</p>
        <p>"Content” means any artworks, illustrations, reviews and text information uploaded to the Site by the User or the Site administration.</p>
        <p>“Artist” means User who has registered for the purpose of participating with his Musical works in Contests, receiving Reviews, sending his Musical works to Radio Stations and using other services available on the Site.</p>
        <p>“Label” means User who is a representative of a music Label and/or an Artist.</p>
        <p>“Radio station” means User who represents Radio station or another broadcaster.</p>
        <p>“Review” means a critical article written by the Site administration or Reviewer (by User’s choice) about his Musical work.  </p>
        <p>“Reviewer” means the Site administration or the third parties (by User’s choice) which write a critical article for a Musical work chosen by User. “Pitcher” means User who organizes a Contest on the Site to select Musical works for placing it in movies, advertising or another type of video.</p>
        <p>“Contest” means a project created by Pitcher on the Site to select Musical works for placing it in movies, advertising or another type of video. </p>
        <p>“Territory” means part of the World (by User’s choice) there the Site services are effective.</p>
        <p>“Demo” means a Musical work without appropriate sound created to show the User’s idea or skills. Under certain conditions, the Demo can be uploaded for participation in Contest.</p>

        <h3>Services</h3>
        <p>Artist/Label have possibilities to participate in the Contests, to place the Musical works in the directory accessible by the Radio stations, to receive Reviews of the Musical works, to process, mixdown or master Musical Works User or its parts.</p>
        <p>Pitchers have possibilities to organize the Contests.</p>
        <p>Radio stations have possibilities to preview and download the Musical works for broadcasting.</p>
        <p>All the information concerning provided and relevant services shall be placed on the Site or sent to Holders and Users via e-mail.</p>

        <h3>Rights and obligations</h3>
        <h4>Rights and obligations of Users</h4>

        <p>Users shall agree to provide accurate and complete information when registering and to keep such Account information updated.</p>

        <p>Users shall not provide information of another person and act on behalf of another person without legal permission to do it.</p>
        <p>Artist/Label may choose the Territory and Reviewers. Review shall be provided in the language of Reviewer indicated on his/her page of the Site.</p>
        <p>Uploading Musical work or Content for services provided by the Site, Artist/Label confirms that he/she has all the rights to this Musical work and Content or acts with permission from all the right holders.</p>
        <p>Artist/Label must in time and in sole discretion settle all disputes with the owners of all the rights to the Music Work and Content in accordance with the current legislation for the possibility of providing the Site services.</p>
        <p>By uploading the Musical work and Content to the Site, Artist/Label provides the Administration, other Site Users and third parties with a non-exclusive license to use the Musical work for broadcasting, participation in the Contests and writing Reviews.</p>
        <p>Artist/Label must provide, upon the first request of the Site administration, all necessary documents confirming his identity and the eligibility of uploading to the Site of the Musical work and Content.</p>
        <p>User agrees not to use the Site to upload files containing advertising information, viruses, calls for violence, inciting ethnic or race hatred and violating laws and regulations, and files that violate the functioning of the Site.</p>
        <p>All expenses for legal costs in case User violates copyright laws or state laws are carried by User.</p>
        <p>Radio station shall download a Musical work from the Site only for broadcasting. The Radio station is obliged to indicate this Musical work in the playlists.</p>
        <p>Pitcher shall download a Musical work from the Site only to choose such work for Contest purposes or for demonstration to its customer.</p>
        <p>When posting the Demo, Artist/Label is obliged, at the request of the Site administration, to bring it to the proper quality within four days.</p>
        <p>Artist/Label has the right to delete a review of his Musical work.</p>
        <p>The User may delete his / her Account and his / her Musical works from the Site. All information about provided services will be deleted. When re-registered on the Site, this information will be re-entered on general terms.</p>
        <p>If the copyright, laws and regulations are violated, the Artist/Label continues to be liable after the deletion of the Account.</p>
        <p>Artist/Label has the right to use the Reviews or parts of the Reviews at their discretion, but without changing the text and applying them only to the Musical works on which the Review was written.</p>
        <p>The Site administration is not responsible for the actions of Radio stations and Pitchers regarding the Musical works that they downloaded even after the User deletes their Account.</p>

        <h4>Rights and obligations of the Site administration</h4>
        <p>The Site administration may suspend the provision of services in relation to the Musical work or the User without explaining the reasons.</p>

        <p>The Site administration may send notifications to the User via the Site or e-mail.</p>
        <p>The Site administration shall provide access for registered Radio Stations to the Musical works with respect to which the Service ordered by Artist/Label has been carried out.</p>
        <p>The Site administration may not make changes to the Musical work without the consent of Artist/Label.</p>
        <p>The Site administration is not responsible for the content of Reviews and is obliged to provide Artist/Label with the ordered Review by e-mail and  place on the Site within ten days from the date of payment.</p>
        <p>The Site administration is not responsible for actions/omissions of Radio Stations and Pitchers regarding Musical works and Content.</p>
        <p>The Site administration makes every effort to ensure that access to Musical works is available only to active and real Radio stations, but is not responsible for providing access to Musical works and Content to random persons as a result of illegal actions against the Site or erroneous data.</p>
        <p>The Site administration shall provide Artist/Label with access to information about previously provided services by publishing it on the pages of the Site.</p>
        <p>The Site administration shall move the Musical work to a directory accessible to Radio stations within three days from the moment of payment for the corresponding service, after which the Musical work will be there for at least 30 days.</p>
        <p>The Site administration may not specify the Artist/Label's name and the name of the Musical work when submitting it for Review or the Competition.</p>
        <p>The Site administration may publish a Musical work posted in a directory accessible to the Radio stations, accompanied by an official or unofficial video on its facebook.com and youtube.com pages. The user can notify the Site administration of the unwillingness of such placement before paying for this service. In this case, these Musical works are not published on these pages.</p>
        <p>The Site administration may involve third parties for the operation of the Site, but is responsible for the quality of their performance.</p>
        <p>The Site administration is not responsible or liable for unacceptable Content or behaviour of Users. Despite this, the Site administration may investigate and take appropriate measures, including legal actions, against anyone who, at the discretion of the Site administration, breaches this Agreement, including reporting this to law enforcement authorities and disclosing the information uploaded by such User or Holder to any third party for the proper functioning of the Site, to protect the Site administration and the Site, business partners, Users, as well as compliance with legal obligations or government requests.</p>

        <h3>Prices, order of payments and services</h3>
        <p>The Site administration charges a full advance payment for the Reviews of the Musical works and placement of the Musical works in a directory with access to Radio Stations in accordance with the tariffs indicated on the Site.</p>
        <p>If the service is provided, it’s not refundable.</p>
        <p>Refunds are made upon request, sent within 24 hours from the moment of payment to the e-mail address, and reduced by the amount of all costs for transferring and within the timeframes established by the payment systems used.</p>
        <p>The remuneration for the winning of the Contest is assigned by the Pitcher. The site commission is equal to 30%. The terms and conditions of the remuneration payment shall be described in a separate agreement.</p>

        <h3>Term of the Agreement and the procedure for its termination</h3>
        <p>This Agreement shall enter into force upon registration of the User on the Site and shall remain in effect for the entire duration of the use of the Site by the User.</p>
        <p>The User has the right to terminate this Agreement by removing his / her Account from the Site.</p>

        <h3>Responsibility of the parties. Settlement of disputes.</h3>

        <p>Parties are responsible for improper fulfilment of their obligations under this Agreement.</p>
        <p>In case of claims or suits submitted to the Site administration by third parties connected with a violation of copyright or laws by the User, the latter must take the necessary measures to settle all disputes and to reimburse the Site administration for all losses incurred as a result of claims or suits.</p>
        <p>All disputes and disagreements that may arise between the parties on matters not considered in this Agreement will be resolved through negotiations.</p>
        <p>If it is not possible to settle disputes and disagreements in the course of negotiation process, disputes between the Site administration and legal entities are resolved in a Court in the city  of Moscow, Russian Federation in the manner established by the current Russian law.</p>

        <h3>Copyright infringement</h3>

        <p>When notifying the Site administration of copyright infringement, the Site administration blocks access to files or information that is subject of notification.</p>

        <p>The author of the notice must possess the copyright or be the representative of the author, write a letter to the Site administration, and provide complete information about the infringement and contact information.</p>
        <p>If the User does not agree with the infringement, he and the author of the notification must independently resolve these disagreements and inform the Site administration of their decision and further intentions to use the Site. In this case, the author of the notification and the User agree to exchange of contact information. The Site administration shall not be an intermediary in settling disputes between the author of the notification and the User.</p>

        <h3>Transitions to third party pages and incorrect work of the Site</h3>
        <p>When navigating through advertising links, the User moves to third party sites. The Site administration is not responsible for the content and policies of those sites.</p>
        <p>The Site administration strives to maintain impeccable work of the Site, but does not guarantee complete absence of technical errors and is not responsible for such errors and loss of information by Users in connection with such errors.</p>

        <h3>The circumstances of force majeure</h3>
        <p>The Parties shall not be liable for the non-fulfillment or improper performance of the obligation under this agreement if they prove that it was due to the occurrence of force majeure circumstances that arose after the conclusion of this Agreement as a result of extraordinary events that the Parties could neither foresee, nor prevent by reasonable measures, and that the Parties have taken all possible and appropriate measures to properly perform their duties. Force majeure circumstances include, in particular: military actions, the impact of the forces of nature (earthquake, flood, etc.), decisions of state authorities.</p>

    </ng-template>



</div>