<div class="row no-gutters"  >
  <div class="col-sm-12 p-2">
    <h1>{{this.locale=='ru'?( 'Плейлист '+(playlist?playlist.name:null) ): ( (playlist?playlist.name:null)+' playlist' )}}  <span mat-icon-button
                                                        class="pointer"
                                                        i18n-matTooltip="@@rPlaylistView_deletePlaylist"
                                                        matTooltip="Удалить"
                                                        (click)="deletePlaylist()"
    ><mat-icon aria-label="Удалить"
               i18n-aria-label="@@rPlaylistView_deletePlaylist">delete</mat-icon></span>
      <span *ngIf="!showForm"
            mat-icon-button
            class="pointer"
            (click)="showForm = true"
            i18n-matTooltip="@@rPlaylistView_editPlaylist"
            matTooltip="Редактировать плейлист"
      ><mat-icon  aria-label="Редактировать"
                  i18n-aria-label="@@rPlaylistView_editPlaylist">edit</mat-icon></span></h1>


    <div *ngIf="showForm" class="panel panel-default position-relative bordered p-2" >
      <mat-icon
              class="closeFormButton"
              (click)="showForm = false"
      >close</mat-icon>
      <form [formGroup]="form"  (ngSubmit)="editPlaylist()">
        <div class="row w99per_mff">
          <div class="col-12">
            <label i18n="@@rPlaylistView_editPlaylistLabel">Редактирование  плейлиста</label>

          </div>


          <div class="col-sm-3">
            <mat-form-field >
              <input matInput
                     formControlName="name"
                     i18n-placeholder="@@rPlaylistView_editPlaylistFormFieldName"
                     placeholder="Название"
              >
            </mat-form-field>
            <div *ngIf="f.name.touched && f.name.errors" class="invalid_feedback">
              <small
                      class="text-danger"
                      *ngIf="f.name.errors.required"
                      i18n="@@required_field"
              >Поле обязательно к заполнению</small>
            </div>
          </div>






          <div class="col-sm-3">
            <button mat-stroked-button
                    color="primary"
                    [disabled]="!form.valid"
                    type="submit">
              <mat-icon class="iconPrimary" >save</mat-icon> <span i18n="@@rPlaylistView_editPlaylistFormSaveButton">Сохранить</span>
            </button>
          </div>
        </div>
      </form>
    </div>

    <ng-container *ngIf="playlist">
      <div class="box _bordered _tableRow" *ngFor="let item of playlist.items; let i=index">
        <div class="row">
          <div class="col-sm-10">
            <wavesurfer-player
                    [nowPlaying]="nowPlaying"
                    [startPlay]="item.playIter"
                    [song]="item.song"
                    [link]="'/radio-song-view/'+item.song.name_hash"
                    [artistLink]="'/radio-artist/'+item.song.artist_id"
                    (onStart)="nowPlaying=item.song.name_hash"
                    (onFinish)="onTrackPlayFinish(i)"
            ></wavesurfer-player>

          </div>
          <div class="col-sm-2 color-primary">



            <span mat-icon-button
                  class="pointer"
                  [matMenuTriggerFor]="addToPlaylistMenu"
                  [matMenuTriggerData]="{song_id: item.song.id}"
                  i18n-matTooltip="@@rPlaylistView_addToPlaylist"
                  matTooltip="Добавить в плейлист"
            ><mat-icon aria-label="Добавить в плейлист"
                       i18n-aria-label="@@rPlaylistView_addToPlaylist">add_circle_outline</mat-icon></span>

            <span mat-icon-button
                  class="pointer"
                  i18n-matTooltip="@@rPlaylistView_moveToPlaylist"
                  matTooltip="Переместить в плейлист"
                  [matMenuTriggerFor]="moveToPlaylistMenu"
                  [matMenuTriggerData]="{song_id: item.song.id}"
            ><mat-icon aria-label="Переместить в плейлист"
                       i18n-aria-label="@@rPlaylistView_moveToPlaylist">call_made</mat-icon></span>

            <span mat-icon-button
                  class="pointer"
                  i18n-matTooltip="@@rPlaylistView_removeFromPlaylist"
                  matTooltip="Удалить из плейлиста"
                  (click)="removeItem(item.id)"
            ><mat-icon aria-label="Удалить из плейлиста"
                       i18n-aria-label="@@rPlaylistView_removeFromPlaylist">delete</mat-icon></span>

              <div class="pt-2">
                  <app-file-download
                          [type]="'application/json'"
                          [url]="item.song.path_to_file"
                          [fileName]="item.song.artist_name+'-'+item.song.name"
                  >
                  </app-file-download>
              </div>



          </div>
        </div>
      </div>




      <mat-menu #addToPlaylistMenu="matMenu">
        <a mat-menu-item style="height: 0; position: absolute;"></a>
        <ng-template matMenuContent let-song_id="song_id">
          <button mat-menu-item *ngFor="let toPlaylist of playlists"
                  (click)="addSongToPlaylist(song_id,toPlaylist.id)" >{{toPlaylist.name}}</button>
        </ng-template>
      </mat-menu>



      <mat-menu #moveToPlaylistMenu="matMenu">
        <a mat-menu-item style="height: 0; position: absolute;"></a>
        <ng-template matMenuContent let-song_id="song_id">
          <button mat-menu-item *ngFor="let toPlaylist of playlists"
                  (click)="moveItemToPlaylist(song_id,toPlaylist.id)" >{{toPlaylist.name}}</button>
        </ng-template>
      </mat-menu>



    </ng-container>

  </div>
</div>