.messageWrap .closeMessageForm{
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px 1px #ffffff, 0 -1px 1px #ffffff, 0 2px 1px #ffffff, 0 -2px 1px #ffffff;
    z-index: 10;
}
.messageWrap .closeMessageForm:hover{
    color: rgba(0, 0, 0, 0.4);

}
.messageWrap .post{
    padding: 10px;
    border-radius: 5px;
}
.messageWrap .myPost{
    margin-left:auto;
    text-align: right;
}
.messageWrap .bubble{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.15);
}
.messageWrap .systemNote {
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.messageWrap .systemNote .bubble{
    background-color: rgba(0,0,0,.07);
    display: inline-block;
}
.messageWrap .myPost .bubble{
    background-color: #E6F1F0;
    border-bottom-right-radius: 0;
    text-align: left;
}
.messageWrap .post .head{
    font-size: .6em;
    line-height: 1;
    display: inline-block;
    color: rgba(0,0,0,.5);
}

.messageWrap .otherPost{
    margin-right:auto;
}
.messageWrap .otherPost .bubble{
    background-color: #FBF5E9;
    border-top-left-radius: 0;
}
.messageWrap .messageFormBox{
    padding-top: 40px;
}
.messageWrap .notificationsQnt{
    background-color: #FF4C00;
    border-radius: 50px;
    padding: 1px 3px;
    color: white;
}
.messageWrap .textField textarea.mat-input-element {
    padding: 0 0;
    margin: 0 0;
}
.messageWrap .inputForm{
    position: relative;
    padding-right: 60px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.05);

}
.messageWrap .textField{

    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 0;
    /*padding: 10px;*/
    padding: 7px 10px ;
    border: 1px solid rgba(0,0,0,.1);
    background-color: white;

}
.messageWrap .circleButton{
    background-color: #3077B3;
    color: #ffffff;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 10 ;
}
.messageWrap .circleButton:hover{
    background-color: #0B5FA5;
}
.messageWrap .circleButton button:focus {
    outline: none;
    box-shadow: inset 0 2px 2px rgba(0,0,0,.5);
}
.messageWrap .inputForm .mat-form-field-wrapper {
    padding-bottom: 0;
}
.messageWrap .inputForm .mat-form-field-infix {
    padding: 0 0;
}

.messageWrap .textField, .mat-form-field{
    line-height: 1.2;
}
.messageWrap .message-input-form-field{
    padding: 0;
}
.messageWrap .message-input-form-field.mat-form-field .mat-form-field-label-wrapper {
    top: 0;
    padding-top:0;
}

.mat-snack-bar-handset .mat-snack-bar-container {
    max-width: 568px !important;
    min-width: 144px !important;
    width: auto !important;
    margin: 8px auto !important;
}
.messageDialog{
    max-height: 50vh;
    overflow-y: scroll;
}
