<div class=" w100per_mff p0_mff messageWrap">
  <div class="text-center" >
    <button *ngIf="!showMessageForm"
            mat-button
            (click)="showMessages()"
    ><mat-icon>chat_bubble_outline</mat-icon> {{buttonName?buttonName:'Сообщения'}} {{allQnt?allQnt:inQnt}} <sup
            *ngIf="inQntNotSeen"
            class="notificationsQnt">{{notSeenQnt?notSeenQnt:inQntNotSeen}}</sup></button>
  </div>
  <div *ngIf="showMessageForm" class="bordered  messageFormBox position-relative">
    <button mat-icon-button
            class="closeMessageForm"
            (click)="showMessageForm=false"><mat-icon>clear</mat-icon></button>

    <div  class="messageDialog" #scrollable >
      <div *ngIf="messageDialog">
        <div
                *ngFor="let message of messageDialog.messages; index as i"
                class="d-flex flex-row">

            <div *ngIf="message.author_id==authService.user.id"
                 class="post myPost">
              <span class="head"> {{message.created_at*1000 | date: 'H:mm dd/MM/yy'}} </span>
              <p   class="bubble nl2br">{{message.text}}</p>

            </div>

            <div *ngIf="message.author_id!=authService.user.id"
                 class="post otherPost">
              <div class="d-table-cell">
                <img *ngIf="message.author.avatar"
                     class="avatar"
                     src="{{apiUrl}}/img/{{message.author.avatar|img:'sm'}}"/>
              </div>
              <div class="d-table-cell">
                    <span
                          class="head">
                        <ng-container  *ngIf="message.from_to_type==fromToSystemToArtist" >
                            Songwriters
                        </ng-container>
                         <ng-container  *ngIf="message.from_to_type!=fromToSystemToArtist" >
                             {{message.author.first_name}} {{message.author.last_name}}
                        </ng-container>
                        <br>
                      {{message.created_at*1000 | date: 'H:mm dd/MM/yy'}} </span>
                <p  class="bubble nl2br" >{{message.text}}</p>



              </div>
            </div>



        </div>

      </div>
    </div>






    <div class="inputForm">
        <form [formGroup]="messageForm" (ngSubmit)="sendMessage()" >
        <div class="textField">
          <mat-form-field  appearance="none" class="message-input-form-field" >
            <textarea matInput
                      cdkTextareaAutosize
                      formControlName="text"></textarea>
          </mat-form-field>
        </div>
        <div class="circleButton">
          <button
                  mat-icon-button
                  [disabled]="!messageForm.valid"
                  type="submit"
          ><mat-icon>send</mat-icon></button>
        </div>


        </form>

    </div>








  </div>

</div>