<div class="menuSide">
  <button
          class="sideLink"
          routerLinkActive="active"
          routerLink="/radio-home" ><mat-icon>stars</mat-icon> Selected Tracks</button>

  <button
          class="sideLink"
          routerLinkActive="active"
          routerLink="/radio-all-tracks" ><mat-icon>search</mat-icon> All Tracks</button>

  <button
          class="sideLink"
          routerLinkActive="active"
          routerLink="/radio-playlist"  ><mat-icon>queue_music</mat-icon> <span i18n="@@rSidebar_myPlaylists">Мои плейлисты</span></button>
<!--  <button-->
<!--          class="sideLink"-->
<!--          routerLinkActive="active"-->
<!--          routerLink="/account" > Аккаунт</button>-->


</div>