.avatar_text {
    padding-left: 0;
}
.avatar_text span {
    display: block;
}
.name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9em;
}
.place{
    font-size: .9em;
    font-weight: normal;
    color: #939598;
}
.info{
    font-size: .7em;
    font-weight: normal;
}
.editButtonBox{
    width: 100%;
    /*border: 1px solid lightgrey;*/
    position: relative;
    padding: 2px;
    border-radius: 3px;
    border: 1px solid #e0e0e2;
    background-color: #f9f9fa;
}
.closeFormButton{
    position: absolute;
    right: 0;
    top: 0;
    color: lightgrey;
}
.flex-fixed-width-item{
    flex: 0 0 90px;
}