
<div class="row no-gutters"  *ngIf="media">
  <div class="col-sm-5 pl-2 pt-2">
    <div class="row no-gutters">

      <div class="container-fluid d-flex" *ngIf="!showInfoForm">
        <div class="flex-fixed-width-item">
          <img *ngIf="media.image"
               class="radioAvatar"
               src="{{apiUrl}}/img/{{media.image|img:'sm'}}">
        </div>
        <div class="col-sm-8 avatar_text ">
          <span class="name">{{media.name}}</span>
          <span class="place">{{media.country}} {{media.city}}</span>
          <span class="nl2br info">{{media.main_info}}</span>
          <button *ngIf="!showEditButtons"
                  mat-button color="primary"
                  (click)="showEditButtons=true"
          >редактировать данные</button>
        </div>

      </div>

      <div class="col-12">

        <div *ngIf="showEditButtons" class="editButtonBox">
          <button mat-icon-button
                  class="closeFormButton"
                  (click)="showEditButtons=false"><mat-icon>close</mat-icon></button>
          <app-file-upload
                  [mode]="'mediaAvatar'"
                  [text]="'Загрузить фото'"
                  (complete)="onAvatarUploadComplete($event)"></app-file-upload>

          <button
                  mat-button color="primary"
                  (click)="constructInfoForm()"
          ><mat-icon>edit</mat-icon>Изменить информацию</button>
        </div>

        <form  *ngIf="showInfoForm"
               [formGroup]="mediaInfoForm"
               class="pt-5">
          <button class="closeFormButton"
                  mat-icon-button type="button"
                  (click)="showInfoForm=false"
          ><mat-icon>clear</mat-icon></button>


          <div >

            <div class="row no-gutters">
              <div class="col-12 w100per_mff">
                <mat-form-field >
                  <input matInput placeholder="Псевдоним"
                         formControlName="name"
                  />
                  <div *ngIf="mif.name.value &&  mif.name.errors" class="invalid_feedback">
                    <small class="text-danger" *ngIf="mif.name.errors.required">Поле обязательно к заполнению</small>
                  </div>
                </mat-form-field>
              </div>

              <div class="col-12 w100per_mff">
                <mat-form-field >
                  <input matInput placeholder="Страна"
                         formControlName="country"
                  />
                  <div *ngIf="mif.country.value &&  mif.country.errors" class="invalid_feedback">
                    <small class="text-danger" *ngIf="mif.country.errors.required">Поле обязательно к заполнению</small>
                    <small class="text-danger" *ngIf="mif.country.errors.minlength">Минимальная длина {{mif.country.errors.minlength.requiredLength}} симв.</small>
                  </div>
                </mat-form-field>
              </div>

              <div class="col-12 w100per_mff">
                <mat-form-field >
                  <input matInput placeholder="Город"
                         formControlName="city"
                  />
                  <div *ngIf="mif.city.value &&  mif.city.errors" class="invalid_feedback">
                    <small class="text-danger" *ngIf="mif.city.errors.required">Поле обязательно к заполнению</small>
                  </div>
                </mat-form-field>
              </div>

              <div class="col-12 w100per_mff">
                <mat-form-field >
                                    <textarea matInput placeholder="Инфо"
                                              formControlName="main_info"
                                    > </textarea>
                  <div *ngIf="mif.main_info.value &&  mif.main_info.errors" class="invalid_feedback">
                    <small class="text-danger" *ngIf="mif.main_info.errors.required">Поле обязательно к заполнению</small>
                  </div>
                </mat-form-field>
              </div>
            </div>


          </div>


        </form>
        <button *ngIf="showInfoForm"
                mat-stroked-button color="primary"
                type="submit"
                [disabled]="!mediaInfoForm.valid"
                (click)="saveInfo()"
        ><mat-icon>save</mat-icon>  Сохранить изменения</button>

        <button  *ngIf="showInfoForm"
                 class="ml-1"
                 mat-stroked-button color="primary"
                 (click)="showInfoForm=false"
        ><mat-icon>clear</mat-icon> Закрыть форму</button>

      </div>
    </div>

  </div>

  <div class="col-sm-7">
    <h3 >и что то еще </h3>


  </div>

  <div class="col-sm-12">
    <h3 >конкурсы </h3>


  </div>
</div>


