<div class="pt-5">
    <div class="p-3">
        <p class="text-center"
           i18n="@@violation_mainInfo">Если вы заметили нарушение ваших или чьих-либо авторских прав,<br>
            а также нарушение использование сайта, пожалуйста, напишите об этом <br>
            на noreply@songwriters.pro <br><br>
            Пожалуйста, пришлите подтверждающие ссылки. <br><br>
            Спасибо!</p>
    </div>
</div>


