<div class="row no-gutters" *ngIf="!showAddToAllTracksBox" >
  <div class="col-sm-12 ">
    <h1>your <br>
        track is on <br>
        the radio</h1>
  </div>
    <div class="content_with_padding">
        <div class="row no-gutters">
            <div class="col-12 p-2">
                <p i18n="@@aRadioNew_info1"
                   class="infoText">Каждый музыкант хочет чтобы его музыка звучала по радио. И желательно во всем мире. Но для независимых музыкантов добиться этого очень не просто. Мы стараемся им в этом помочь. В нашей рассылке более 5000 станций по всему миру.<br>
                    Мы рассылаем музыку в стиле pop, electronica, AC, soft rock, easy listening, chill out, love songs и все, что можно услышать по мейнстримовым и около мейнстримовым радиостанциям.
                </p>
                <p i18n="@@aRadioNew_info2"
                   class="infoText">Думаю, вы согласитесь с тем, что люди вряд ли будут включать на радио, скажем в Люксембурге, песни на русском языке, поэтому вы можете сами выбирать страны рассылки. В страны СНГ входят и русскоязычные радиостанции по всему миру.</p>

            </div>
            <div class="col-12 p-2">
                <div class="row no-gutters">

<!--         left column           -->
                    <div class="col-sm-5 col-md-5 col-lg-4 leftCol">
                        <div class="buttonWidthBox">
                            <p i18n="@@aRadioNew_uploadToRadio"
                               class="heading">Загрузить трек <br>
                                в радио-директорию
                            </p>

                            <button *ngIf="!showAddToAllTracksBox"
                                    mat-flat-button
                                    class="orderButton"
                                    color="warn"
                                    routerLink="{{urlNewAllTracks}}"
                            >All Tracks</button>


                            <p class="price"
                               i18n="@@aRadioNew_priceTagRub"> {{priceRadioAllTracks}} руб</p>
                            <p i18n="@@aRadioNew_info3Radio"
                               class="infoText">
                                Вы можете разместить свой трек в директории к которой имеют доступ радиостанции. Они смогут послушать ваш трек, скачать и написать отзывы.
                            </p>

                        </div>

                    </div>



<!-- right column -->
                    <div class="col-sm-7 col-md-7 col-lg-8 rightCol">
                        <div class="buttonWidthBox">
                            <p  i18n="@@aRadioNew_uploadToRadioSelected"
                                class="heading">Загрузить трек <br>
                                в радио-директорию
                            </p>

                            <button *ngIf="!showSelectSelectedBox && !showSelectedRuBox && !showSelectedWorldBox"
                                    mat-flat-button
                                    class="orderButton"
                                    color="warn"
                                    (click)="showSelectSelectedBox=true"
                            >Selected Tracks</button>


                            <p *ngIf="!showSelectSelectedBox"
                                    class="price">
                                <span i18n="@@aRadioNew_priceTagSng"
                                      class="name">СНГ</span> {{priceRadioSelectedRu}} <span i18n="@@aRadioNew_priceTagRub">руб</span><br>
                                <span i18n="@@aRadioNew_priceTagWorld"
                                      class="name">весь мир</span>  {{priceRadioSelectedWorld}} <span i18n="@@aRadioNew_priceTagRub">руб</span></p>


                        </div>

                            <div *ngIf="showSelectSelectedBox" class=" showSelectSelectedBox">
                                <div class="position-relative bordered pl-1 pr-2 pb-1 pt-2">
                                    <mat-icon
                                            class="closeFormButton"
                                            (click)="showSelectSelectedBox=false"
                                    >close</mat-icon>
                                    <p class="text-secondary">Selected tracks </p>

                                    <div class="row no-gutters mb1rem">
                                        <div class="col">
                                            <p class="price">
                                                <span i18n="@@aRadioNew_priceTagSng"
                                                      class="name">СНГ</span> {{priceRadioSelectedRu}} <span
                                                    i18n="@@aRadioNew_priceTagRub">руб</span>

                                            </p>
                                        </div>
                                        <div class="col pl-1">
                                            <button
                                                    mat-flat-button
                                                    i18n="@@aRadioNew_buttonFurther"
                                                    color="warn"
                                                    class="orderButton"
                                                    routerLink="{{urlNewSelectedRu}}"
                                            >далее</button>
                                        </div>
                                    </div>
                                    <div class="row no-gutters ">
                                        <div class="col">
                                            <p class="price">
                                                <span i18n="@@aRadioNew_priceTagWorld"
                                                      class="name">весь мир</span>  {{priceRadioSelectedWorld}} <span
                                                    i18n="@@aRadioNew_priceTagRub">руб</span>
                                            </p>
                                        </div>
                                        <div class="col pl-1">
                                            <button
                                                    mat-flat-button
                                                    i18n="@@aRadioNew_buttonFurther"
                                                    color="warn"
                                                    class="orderButton"
                                                    routerLink="{{urlNewSelectedWorld}}"
                                            >далее</button>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        <p i18n="@@aRadioNew_info4YouCan"
                           class="infoText">
                            Вы можете разместить свой трек в директории к которой имеют доступ радиостанции. Они смогут послушать ваш трек, скачать и написать отзывы.
                        </p>
                        <p i18n="@@aRadioNew_info5Mailing"
                           class="infoText">
                            Здесь треки не только помещаются в отдельную директорию, но и ссылки на них рассылаются по радиостанциям. Поместить свою работу в данную категорию можно только после нашего утверждения.
                        </p>

                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="col-12 text-center pt-4">
        <p i18n="@@aRadioNew_info6Testing"
           class="infoText">
            Внимание! Сайт работает в тестовом режиме. <br>
            Если у вас есть вопросы, напишите нам. <br>
            content@songwriters.com
        </p>
    </div>

</div>

