.loading-wrap{
    width: 100%;
}
.spinner{
    width: 30px;
    height: 30px;
    transform: rotate(-90deg);
}
.back {
    stroke:transparent;
}
.progress{
    stroke:#0B5FA5;
    stroke-dasharray: 314.15;
    stroke-dashoffset: 314.15;
    stroke-linecap: round;
    animation: spinner 2s infinite alternate;
}
@keyframes spinner {
    from {
        stroke-dashoffset: 314.15;
    }
    to {
        stroke-dashoffset: 0;
    }
}