<div  class="loading-wrap">
    <svg class="spinner"
         width="120"
         height="120"
         viewBox="0 0 120 120">
        <circle class="back" cx="60" cy="60" r="50" fill="none" stroke-width="8" stroke-miterlimit="10"/>
        <circle class="progress" cx="60" cy="60" r="50" fill="none" stroke-width="8" stroke-miterlimit="10"
        />
    </svg>
</div>
