<div class="p-2">


  <app-artist-my-song-form-grey
          [serviceType]="serviceType"
          [song]="song?song:null"
          [stylesOptions]="stylesOptions"
          [languagesOptions]="languagesOptions"
          [buttonName]="buttonName"
          [buttonIcon]="'done'"
          (onSubmit)="onSubmit($event)"
          (onUpdate)="onUpdate($event)"
  >
  </app-artist-my-song-form-grey>



  <app-file-upload *ngIf="song"
                   [mode]="'songImage'"
                   [id]="song.id"
                   [text]="'Загрузить обложку'"
                   (complete)="onImageUploadComplete($event)"></app-file-upload>

  <wavesurfer-player *ngIf="song"
                     [song]="song"
  ></wavesurfer-player>

</div>

